In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/test

In [2]:
%%sql
CREATE TABLE demo_events (
    event_id INT AUTO_INCREMENT PRIMARY KEY,
    event_name VARCHAR(100),
    event_date DATETIME,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [3]:
%%sql
INSERT INTO demo_events (event_name, event_date)
VALUES
    ('New Year Celebration', '2025-01-01 00:00:00'),
    ('Summer Fest', '2025-06-15 12:30:00');

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[]

In [4]:
%%sql
SELECT 
    event_id,
    event_name,
    event_date, 
    created_at 
FROM demo_events;

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[(1, 'New Year Celebration', datetime.datetime(2025, 1, 1, 0, 0), datetime.datetime(2025, 5, 21, 21, 39, 43)),
 (2, 'Summer Fest', datetime.datetime(2025, 6, 15, 12, 30), datetime.datetime(2025, 5, 21, 21, 39, 43))]

In [5]:
%%sql
select event_id,event_name,event_date,year(event_date) as event_year from demo_events

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[(1, 'New Year Celebration', datetime.datetime(2025, 1, 1, 0, 0), 2025),
 (2, 'Summer Fest', datetime.datetime(2025, 6, 15, 12, 30), 2025)]

In [7]:
%%sql
select event_id,event_name,event_date,day
(event_date) as event_year from demo_events

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[(1, 'New Year Celebration', datetime.datetime(2025, 1, 1, 0, 0), 1),
 (2, 'Summer Fest', datetime.datetime(2025, 6, 15, 12, 30), 15)]

In [8]:
%%sql
select event_id,event_name,event_date,month(event_date) as event_year from demo_events

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[(1, 'New Year Celebration', datetime.datetime(2025, 1, 1, 0, 0), 1),
 (2, 'Summer Fest', datetime.datetime(2025, 6, 15, 12, 30), 6)]

In [9]:
%%sql
select event_id,event_name,event_date,event_date + interval 30 day as event_year from demo_events

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[(1, 'New Year Celebration', datetime.datetime(2025, 1, 1, 0, 0), datetime.datetime(2025, 1, 31, 0, 0)),
 (2, 'Summer Fest', datetime.datetime(2025, 6, 15, 12, 30), datetime.datetime(2025, 7, 15, 12, 30))]

In [10]:
%%sql
select event_id,event_name,event_date,event_date - interval 30 day as event_year from demo_events

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[(1, 'New Year Celebration', datetime.datetime(2025, 1, 1, 0, 0), datetime.datetime(2024, 12, 2, 0, 0)),
 (2, 'Summer Fest', datetime.datetime(2025, 6, 15, 12, 30), datetime.datetime(2025, 5, 16, 12, 30))]

In [13]:
%%sql
select event_id,event_name,date_format(event_date, '%W %M %e %Y')as date_for from demo_events

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[(1, 'New Year Celebration', 'Wednesday January 1 2025'),
 (2, 'Summer Fest', 'Sunday June 15 2025')]

In [14]:
%%sql
select event_id,event_name,date_format(event_date, '%h %i %p')as date_for from demo_events

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[(1, 'New Year Celebration', '12 00 AM'), (2, 'Summer Fest', '12 30 PM')]

In [ ]:
#convert TIMEZONE ALSO POSSIBLE