In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/test

In [3]:
%%sql
use db_project

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [4]:
%%sql
DROP TABLE IF EXISTS orders;


CREATE TABLE orders (
    order_id   INT AUTO_INCREMENT ,
    order_date DATE NOT NULL, 
    customer_name VARCHAR(50),
    amount     DECIMAL(10,2),
PRIMARY KEY(order_id, order_date)
)
PARTITION BY RANGE (YEAR(order_date)) (
    PARTITION p_before_2020 VALUES LESS THAN (2020),
    PARTITION p_2020       VALUES LESS THAN (2021),
    PARTITION p_2021       VALUES LESS THAN (2022),
    PARTITION p_2022       VALUES LESS THAN (2023),
    PARTITION p_future     VALUES LESS THAN MAXVALUE
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.
0 rows affected.

[]

In [5]:
%%sql
INSERT INTO orders (order_date, customer_name, amount)
VALUES
('2019-05-10', 'Alice', 100.00),
('2020-01-15', 'Bob', 200.50),
('2020-12-01', 'Charlie', 300.00),
('2021-07-20', 'Diana', 150.75),
('2022-03-02', 'Edward', 500.00),
('2025-06-18', 'FutureMan', 9999.99);

 * mysql+mysqlconnector://root:***@localhost/test
6 rows affected.

[]

In [7]:
%%sql
SELECT 
    PARTITION_NAME,
    PARTITION_METHOD,
    PARTITION_EXPRESSION,
    SUBPARTITION_METHOD,
    SUBPARTITION_EXPRESSION
FROM information_schema.PARTITIONS
WHERE TABLE_SCHEMA = 'db_project'
  AND TABLE_NAME   = 'orders';

 * mysql+mysqlconnector://root:***@localhost/test
5 rows affected.

[('p_future', 'RANGE', 'year(`order_date`)', None, None),
 ('p_2022', 'RANGE', 'year(`order_date`)', None, None),
 ('p_2021', 'RANGE', 'year(`order_date`)', None, None),
 ('p_2020', 'RANGE', 'year(`order_date`)', None, None),
 ('p_before_2020', 'RANGE', 'year(`order_date`)', None, None)]

In [8]:
%%sql
 show create table orders;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('orders', 'CREATE TABLE `orders` (\n  `order_id` int NOT NULL AUTO_INCREMENT,\n  `order_date` date NOT NULL,\n  `customer_name` varchar(50) DEFAULT NULL,\n  `am ... (374 characters truncated) ... 2022) ENGINE = InnoDB,\n PARTITION p_2022 VALUES LESS THAN (2023) ENGINE = InnoDB,\n PARTITION p_future VALUES LESS THAN MAXVALUE ENGINE = InnoDB) */')]

In [11]:
%%sql
select * from orders where order_date='2020-07-20' ;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [12]:
%%sql
explain FORMAT=JSON
select * from orders where order_date='2021-07-20'

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('{\n  "query_block": {\n    "select_id": 1,\n    "cost_info": {\n      "query_cost": "0.35"\n    },\n    "table": {\n      "table_name": "orders",\n   ... (416 characters truncated) ...  "customer_name",\n        "amount"\n      ],\n      "attached_condition": "(`db_project`.`orders`.`order_date` = DATE\'2021-07-20\')"\n    }\n  }\n}',)]

In [ ]:
#LIST

In [13]:
%%sql
DROP TABLE IF EXISTS employees;

CREATE TABLE employees (
    employee_id INT AUTO_INCREMENT,
    first_name  VARCHAR(50),
    last_name   VARCHAR(50),
    department  VARCHAR(50),
    primary key (employee_id,department)
)
PARTITION BY LIST COLUMNS (department) (
    PARTITION p_sales       VALUES IN ('Sales'),
    PARTITION p_hr          VALUES IN ('HR'),
    PARTITION p_engineering VALUES IN ('Engineering', 'DevOps'),
    PARTITION p_other       VALUES IN ('Finance', 'Marketing', 'Operations')
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.
0 rows affected.

[]

In [14]:
%%sql
INSERT INTO employees (first_name, last_name, department)
VALUES
('Alice', 'Smith', 'Sales'),
('Bob', 'Johnson', 'HR'),
('Charlie', 'Lee', 'Engineering'),
('Diana', 'Lopez', 'DevOps'),
('Eve', 'Turner', 'Marketing');

 * mysql+mysqlconnector://root:***@localhost/test
5 rows affected.

[]

In [15]:
%%sql
explain
select * from employees where department='Sales'

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(1, 'SIMPLE', 'employees', 'p_sales', 'ALL', None, None, None, None, 1, 100.0, 'Using where')]

In [ ]:
#HASH WILL BE USED IF WE DONT NO PARTITION PROPERLY EXAMPLE CUST_ID, ACC NUMBER,PHONE NUMBER HERE WE HASH USING CUST_ID

In [39]:
%%sql
DROP TABLE IF EXISTS sensor_data;

CREATE TABLE sensor_data (
    sensor_id     INT NOT NULL,
    reading_time  DATETIME NOT NULL,
    reading_value DECIMAL(10,2),
    PRIMARY KEY (sensor_id, reading_time)
)
PARTITION BY HASH(sensor_id)
PARTITIONS 3;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.
0 rows affected.

[]

In [40]:
%%sql
INSERT INTO sensor_data (sensor_id, reading_time, reading_value)
VALUES
(101, '2025-01-01 10:00:00', 23.50),
(102, '2025-01-01 10:05:00', 24.10),
(103, '2025-01-01 10:10:00', 22.75),
(104, '2025-01-01 10:15:00', 25.00),
(105, '2025-01-01 10:20:00', 20.00),
(106, '2025-01-01 10:25:00', 21.60);

 * mysql+mysqlconnector://root:***@localhost/test
6 rows affected.

[]

In [47]:
%%sql
explain 
select * from sensor_data where sensor_id=101 #HERE HASH PARTITION HAPPENS BY SENSOR_ID/GIVEN NUMBER SO WE GETS PARTITION BY **REMAINDERS

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(1, 'SIMPLE', 'sensor_data', 'p2', 'ref', 'PRIMARY', 'PRIMARY', '4', 'const', 1, 100.0, None)]

In [ ]:
#Sub Partition

In [ ]:
%%sql
CREATE TABLE orders (
    order_id      INT AUTO_INCREMENT PRIMARY KEY,
    order_date    DATE NOT NULL,
    customer_name VARCHAR(50),
    amount        DECIMAL(10,2)
)
-- Range partition by YEAR(order_date)
PARTITION BY RANGE (YEAR(order_date))
-- Subpartition by HASH on MONTH(order_date)
SUBPARTITION BY HASH (MONTH(order_date))
-- We want 3 top-level (range) partitions
PARTITIONS 3
-- Each partition splits into 2 subpartitions
SUBPARTITIONS 2
(
  PARTITION p_before_2020 VALUES LESS THAN (2020),
  PARTITION p_2020        VALUES LESS THAN (2021),
  PARTITION p_future      VALUES LESS THAN MAXVALUE
);

In [ ]:
#Partition with index

In [52]:
%%sql
CREATE TABLE orders1 (
    order_id      INT AUTO_INCREMENT,
    order_date    DATE NOT NULL,
    customer_name VARCHAR(50),
    amount        DECIMAL(10,2),
primary key(order_id,order_date)
)

PARTITION BY RANGE (YEAR(order_date)) (
    PARTITION p_before_2020 VALUES LESS THAN (2020),
    PARTITION p_2020       VALUES LESS THAN (2021),
    PARTITION p_2021       VALUES LESS THAN (2022),
    PARTITION p_2022       VALUES LESS THAN (2023),
    PARTITION p_future     VALUES LESS THAN MAXVALUE
);
CREATE INDEX idx_order_date ON orders1 (order_date);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.
0 rows affected.

[]

In [54]:
%%sql
INSERT INTO orders1 (order_date, customer_name, amount)
VALUES
('2019-05-10', 'Alice', 100.00),
('2020-01-15', 'Bob', 200.50),
('2020-12-01', 'Charlie', 300.00),
('2021-07-20', 'Diana', 150.75),
('2022-03-02', 'Edward', 500.00),
('2025-06-18', 'FutureMan', 9999.99);

 * mysql+mysqlconnector://root:***@localhost/test
6 rows affected.

[]

In [56]:
%%sql

SELECT *
FROM orders1
WHERE order_date BETWEEN '2020-01-01' AND '2020-12-31';

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[(2, datetime.date(2020, 1, 15), 'Bob', Decimal('200.50')),
 (3, datetime.date(2020, 12, 1), 'Charlie', Decimal('300.00'))]

In [57]:
%%sql
explain
SELECT *
FROM orders1
WHERE order_date BETWEEN '2020-01-01' AND '2020-12-31';

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(1, 'SIMPLE', 'orders1', 'p_2020', 'range', 'idx_order_date', 'idx_order_date', '3', None, 2, 100.0, 'Using index condition')]