In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/test

In [4]:
%%sql
use db_project

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [5]:
%%sql
CREATE TABLE Accounts (
  AccountID INT PRIMARY KEY,
  AccountHolder VARCHAR(100),
  Balance DECIMAL(10,2)
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [6]:
%%sql
INSERT INTO Accounts (AccountID, AccountHolder, Balance)
VALUES (1, 'Alice', 5000.00);

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[]

In [12]:
%%sql
select * from accounts;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(1, 'Alice', Decimal('4000.00'))]

In [7]:
%%sql
START TRANSACTION;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [8]:
%%sql
UPDATE Accounts SET Balance = Balance - 1000 WHERE AccountID = 1;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[]

In [9]:
%%sql
select * from accounts;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(1, 'Alice', Decimal('4000.00'))]

In [10]:
%%sql
rollback;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [11]:
%%sql
select * from accounts;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(1, 'Alice', Decimal('4000.00'))]

In [13]:
%%sql
rollback;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [14]:
%%sql
select * from accounts;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(1, 'Alice', Decimal('4000.00'))]

In [15]:
%%sql
commit;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]