In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/test

In [2]:
%%sql
use db_project

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [3]:
%%sql
DROP TABLE IF EXISTS customers;

CREATE TABLE customers (
    customer_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name  VARCHAR(50) NOT NULL,
    last_name   VARCHAR(50) NOT NULL,
    email       VARCHAR(100) NOT NULL,
    city        VARCHAR(100) NOT NULL
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.
0 rows affected.

[]

In [4]:
%%sql
create index idx_email on customers (email) #CREATE INDEX ON EMAIL AND CHECK ONLY EMAIL PARTS

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [5]:
%%sql
INSERT INTO customers (first_name, last_name, email, city)
VALUES
('John', 'Doe', 'john@example.com', 'New York'),
('Jane', 'Smith', 'jane.smith@example.com', 'Los Angeles'),
('Michael', 'Brown', 'michael.brown@example.com', 'Chicago'),
('Emily', 'Johnson', 'emily.johnson@example.com', 'Houston'),
('Robert', 'Green', 'robert.green@example.com', 'Phoenix');

 * mysql+mysqlconnector://root:***@localhost/test
5 rows affected.

[]

In [6]:
%%sql
select * from customers where email='john@example.com' ;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(1, 'John', 'Doe', 'john@example.com', 'New York')]

In [7]:
%%sql
EXPLAIN
SELECT *
FROM customers
WHERE email = 'john@example.com';

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(1, 'SIMPLE', 'customers', None, 'ref', 'idx_email', 'idx_email', '402', 'const', 1, 100.0, None)]

In [8]:
%%sql
EXPLAIN ANALYZE
SELECT *
FROM customers
WHERE email = 'john@example.com';

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[("-> Index lookup on customers using idx_email (email='john@example.com')  (cost=0.35 rows=1) (actual time=0.0417..0.0446 rows=1 loops=1)\n",)]

In [9]:
%%sql
EXPLAIN format = json
SELECT *
FROM customers
WHERE email = 'john@example.com';

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('{\n  "query_block": {\n    "select_id": 1,\n    "cost_info": {\n      "query_cost": "0.35"\n    },\n    "table": {\n      "table_name": "customers",\ ... (501 characters truncated) ...      "used_columns": [\n        "customer_id",\n        "first_name",\n        "last_name",\n        "email",\n        "city"\n      ]\n    }\n  }\n}',)]