 # Python :
     => developed on 1989 and released 1991 the author name is guido von rossum
     => highlevel programming language(a programming language can do lot of work in few lines of code)
     => easy syntax language
     => dynamically typed programming launguage
     => interpretted programming language(line by line execution when the runtime)
     => platform independent
     => object oriented and functional programming language
     => open source & large community support it is having
     => embedded programming language()

# What Are Comments
    comments are lines of code that are ignored by the interpretter(python console)
    => explain code: by putting notes we make our code more readable
    => provide the information about the purpose of a function, class, or module
    => debug code: temproarily disable parts which causes the  isolate issues and resolve it

    => Single line comments-- using the # we create single line comment(your interpretter won't execute the code or the lines which comes after #)
    => Documentation String: """ """  used for longer explanations or documentation

In [1]:
# print -- used to display results on the output console mainly used for debugging

print("hello world")
print(4+6)

hello world
10

In [2]:
print("hello world 'dr' " )

hello world 'dr'

In [3]:
"print('hello world')"
print("4+7")

4+7

In [3]:
# print("hello world")

In [4]:
"""
print("hello world")
this is a 
multiline comment
also known as
documentation
"""

'\nprint("hello world")\nthis is a \nmultiline comment\nalso known as\ndocumentation\n'

# Variables 
    used to store values they act like a container or a pointer for storing or pointing the data which can be called and handled through out the program

In [5]:
a = 8  # = -- used to assign a value to the variable
a

8

# Rules to Define a Variable

1. a varible can start with lower or upper case or underscores
2. a variable should not start with an integer
3. a variable should not contain any special chr
4. Keywords(reserved words) should not be used as variable--(because keywords already have meant to do  some tasks we cannot override and assign a new value to them)
5. Variables are case sensitive

In [6]:
apple = 90
apple

90

In [7]:
1apple = 45  # we cannot assign a value to a value

SyntaxError: invalid decimal literal (1268242232.py, line 1)

In [8]:
app2le = 90
app2le

90

In [9]:
8

8

In [10]:
#but a variable can contain a number
apple1 = 45
apple1

45

In [11]:
!apple = 9

'apple' is not recognized as an internal or external command,
operable program or batch file.

In [12]:
apple$ = 8

SyntaxError: invalid syntax (2789973044.py, line 1)

In [13]:
appl@le = 5

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3061897784.py, line 1)

In [14]:
and = 90

SyntaxError: invalid syntax (4067504639.py, line 1)

In [15]:
for = 70

SyntaxError: invalid syntax (852527186.py, line 1)

In [16]:
Orange = 67
orange

NameError: name 'orange' is not defined

In [17]:
Orange

67

In [18]:
# snake case
#apple juice = 70  # wrong syntax
apple_juice = 70
apple_juice

70

In [20]:
# Python 101

__cherry = 90  # intimating another python programmer to consider this var as private var
__cherry

90

In [22]:
APPLE = 90  # intimating another python programmer to consider this var as constant
APPLE

90

In [74]:
a = 90

a = 56
print(a)

56

# data types
    => Integer -- Integer, Binary, Octal, Hexa decimal
    => String -- "", '', """ """
    => Boolean -- True, False
    => Float -- a number with decimal
    => None -- to express null 
    => Complex -- a real along imaginary

In [5]:
#Integer family
# number
a = 8
a

8

In [6]:
# to create binary version of a integer we use "0b" or "0B"
b = 0b101
b

5

In [7]:
#to create octal version of a integer we use "0o" or "0O"

c = 0o7012
c

3594

In [8]:
#to create hexa decimal version of a integer we use "0x" or "0X"
d = 0x19aef
d

105199

In [10]:
# string -- anything we put under quotes is a string

str1 = "8"
str1

'8'

In [11]:
"hello world"

'hello world'

In [13]:
str2 = 'hello world'
str2

'hello world'

In [14]:
str1+str2

'8hello world'

In [15]:
8+"hello world"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
str3 = "hello mr. 'Robert' welcome"
str3

"hello mr. 'Robert' welcome"

In [17]:
str4 = """
this is a
 multi line string
 in python convention"""
print(str4)

this is a
 multi line string
 in python convention

In [18]:
a = """
    if we create 
    multiline string and if
    we assign it into
    a var we call it as 
    multi line string
    if we didn't assigned into var
    its known as documentation string
    """
print(a)

    if we create
    multiline string and if
    we assign it into
    a var we call it as
    multi line string
    if we didn't assigned into var
    its known as documentation string

In [19]:
b1 = True  # when we compare any value with True it will check if the value type is true or not
b1

True

In [20]:
b2 = False  #false values in python -- 0,None, False,'', "", """ """,{},[],()
b2

False

In [21]:
f1 = 8.92345
f1

8.92345

In [22]:
round(f1,2)

8.92

In [23]:
0

0

In [24]:
None  # complete emptiness

In [25]:
c1 = 4 +5j  # to create imag part we use "j"
c1.real

4.0

In [26]:
c1.imag

5.0

In [27]:
c1

(4+5j)

In [29]:
# type -- returns the type of object
type(4)

int

In [30]:
type(0b010)

int

In [31]:
type(0o3461)

int

In [32]:
type(0xaf92)

int

In [33]:
type("67")

str

In [34]:
type("python")

str

In [35]:
print(6+4)

10

In [36]:
"print(6+4)"

'print(6+4)'

In [37]:
type(True)

bool

In [38]:
type(False)

bool

In [39]:
type(8.92355)

float

In [40]:
type(None)

NoneType

In [41]:
type(9+9j)

complex

In [42]:
a = 89
type(a)

int

In [43]:
"""
# Type conversion -- Type casting -- converting one type object into another type
# actions or methods -- that changes the original var object or value we call that mutable method else 
# when we perform any method on a var that did not change the original var value or object we call them as immutable methods

"""
a = 9 # a integer will have all the other versions of datatype

bin(a)  #binary version nine it will return but it is a immutable

'0b1001'

In [44]:
a

9

In [45]:
oct(a)

'0o11'

In [46]:
hex(a)

'0x9'

In [47]:
str(a)

'9'

In [48]:
bool(a)

True

In [49]:
bool([])

False

In [50]:
bool(0)

False

In [51]:
float(a)

9.0

In [52]:
complex(a)

(9+0j)

In [53]:
b = 9.2345
int(b)

9

In [43]:
a = "python"
bin(a) #oct, hex, int, float, complex -- these keys only works on the numerical datas

TypeError: 'str' object cannot be interpreted as an integer

In [44]:
bool(a)

True

In [45]:
a = 9.45
bin(a) #oct, hex --- a integer mean values only supports

TypeError: 'float' object cannot be interpreted as an integer

In [46]:
complex(a)

(9.45+0j)

In [47]:
bool(a)

True

In [ ]:
# True, 4+5j -- bin, oct, hex,int, str, bool, float, complex

In [81]:
a = "99"
int(a)

99

In [82]:
bin(a)

TypeError: 'str' object cannot be interpreted as an integer

# indexing slicing
    we can perform indexing(single data access based on the position) and slicing(start:stop) position based access on only sequences
    => indexing will work on the ordered sequences because unordered sequences does not have the position

    => Positive Indexing -- starts from "0" , start - end(left to right)
    => Negative Indexing -- starts from "-1" , end - start(right to left)

In [1]:
a = "HelloWorld"
a[7]  # pos base data access

'r'

In [2]:
a[1000]

IndexError: string index out of range

In [41]:
a[-5]

'W'

In [8]:
a[-1000]

IndexError: string index out of range

In [58]:
a = "Python"
a.index("h")

3

In [3]:
a = "HelloWorld"  # if there is duplicates . it will return first occurance pos
print(a.index("l"))
print("hello world")

2
hello world

In [4]:
# seqobj.index("data") -- if the data exists it will return the pos of the data from the seq else it will raise error if the data not found

In [5]:
a = "HelloWorld"
a.index("z")
print("hello world")

ValueError: substring not found

In [6]:
print("hello world")  # interpretted programming language
a = "HelloWorld"
a.index("z")

hello world

ValueError: substring not found

In [10]:
a = "HelloWorld"
print(a.find("W"))

print("hello world")

5
hello world

In [11]:
a = "HelloWorld"
print(a.find("z"))
print("hello world")

-1
hello world

In [64]:
a = "HelloWorld" # returns the index from the last

a.rindex("l")

8

In [65]:
a = "HelloWorld"
# slicing is used to fetch the part of a sequence by giving the start: stop pos-1

a[1:3]

'el'

In [66]:
a = "HelloWorld"
a[-5:-1] # seqobj[start:stop]

'Worl'

In [67]:
a = "HelloWorld"
a[5:] #if we did not provide the ending it will till the end of the sequence

'World'

In [68]:
a = "HelloWorld"
a[:5] # if we did not give the start by default it will start from 0

'Hello'

In [69]:
a = "Hello World"  #0,1,2,3,4,5,6,7 -- 0,2,4,6 (these pos datas only it will return)
a[0:8:2]  #seq[start:stop:step]

'HloW'

In [71]:
a = "Hello World"
a[::2]

'HloWrd'

In [72]:
a = "Hello World" 
a[::]

print(a)
print(a[::])

Hello World
Hello World

In [73]:
a = "Hello World"
a[::-1]  # returning the reversed(miror) vesrion of the sequence

'dlroW olleH'

In [74]:
a[::-2]

'drWolH'

# input
    will take the input from the user as string

In [76]:
a = input("enter a value")
type(a)

enter a value 8

str

In [77]:
a+23

TypeError: can only concatenate str (not "int") to str

In [79]:
#using the type conversion
val1 = int(input("enter val 1"))
val2 = int(input("enter val 2"))
val1+val2

enter val 1 hello

ValueError: invalid literal for int() with base 10: 'hello'

In [80]:
val1 = int(input("enter val 1"))
val2 = int(input("enter val 2"))
val1+val2

enter val 1 4.5

ValueError: invalid literal for int() with base 10: '4.5'

In [81]:
"print(4+2+8)"

'print(4+2+8)'

In [82]:
eval("print(4+2+8)")  # converts the string into an python expression

14

In [85]:
val1 = eval(input("enter val 1"))
val2 = eval(input("enter val 2"))
val1+val2

enter val 1 True
enter val 2 8

9

# string formatting
    while defining a string in some places at the moment the values if we don't know we can use some place holders later part we can replace them with actual string

In [86]:
fruit_juice = input("enter the fruit juice you want ")
ice = eval(input("how many ice cubes you want"))
qty = eval(input("how much you want"))

print("the choosed juice is %s with number of ice cubes are %d qty is %f "%(fruit_juice,ice,qty)) # data type conscious

enter the fruit juice you want  apple
how many ice cubes you want 5
how much you want 6

the choosed juice is apple with number of ice cubes are 5 qty is 6.000000

In [101]:
fruit_juice = input("enter the fruit juice you want ")
ice = eval(input("how many ice cubes you want"))
qty = eval(input("how much you want"))

print("the choosed juice is %s with number of ice cubes are %d qty is %f "%(fruit_juice,ice,qty)) # data type conscious

enter the fruit juice you want  apple
how many ice cubes you want "hello"
how much you want "world"

TypeError: %d format: a real number is required, not str

In [89]:
fruit_juice = input("enter the fruit juice you want ")
ice = eval(input("how many ice cubes you want"))
qty = eval(input("how much you want"))

print("the choosed juice is {} with number of ice cubes are {} qty is {} ".format(fruit_juice,ice,qty))

enter the fruit juice you want  6
how many ice cubes you want 3
how much you want "hello"

the choosed juice is 6 with number of ice cubes are 3 qty is hello

In [90]:
fruit_juice = input("enter the fruit juice you want ")
ice = eval(input("how many ice cubes you want"))
qty = eval(input("how much you want enter in ml"))

print(f"the choosed juice is {fruit_juice} with number of ice cubes are {ice*2} qty is {qty/1000} ")

enter the fruit juice you want  apple
how many ice cubes you want 45
how much you want enter in ml 23

the choosed juice is apple with number of ice cubes are 90 qty is 0.023

# Operators:
    => Arithmetic --7
    => Assignment-- 7 
    => comparison -- 6
    => logical -- 3
    => identical --2
    => membership --2
    => bitwise -- 6
        total around 7 families of operators and 33 operators

In [108]:
# arithmetic operators -- immutable operators-- a operator that does not change operand var origin value is called immutable operator
a = 5
b = 4
a+b

9

In [109]:
a

5

In [110]:
b

4

In [111]:
# arithmetic operators -- immutable operators-- a operator that does not change operand var origin value is called immutable operator
a = 5
b = 4
c = a+b
c

9

In [112]:
a = "hello"
b = "world"
a+b

'helloworld'

In [113]:
a = 5
b = 4
a - b

1

In [114]:
a * b

20

In [115]:
a / b

1.25

In [37]:
a%b

1

In [116]:
a ** 2

25

In [117]:
a // b

1

In [118]:
a

5

In [119]:
b

4

In [121]:
# assignment operators -- mutable operators -- that modifies the operand's(variable) origin value
a = 4

a += 2  # a = a+2
a

6

In [122]:
a -= 3
a

3

In [123]:
a *= 4
a

12

In [124]:
a /= 2
a

6.0

In [125]:
a **= 2
a

36.0

In [126]:
a //= 5
a

7.0

In [127]:
a %= 4
a

3.0

In [128]:
# comparison operators  -- always returns boolean results -- immutable operators also known as relational operators

a = 4
b = 2

a > b

True

In [129]:
a < b

False

In [130]:
a >= b

True

In [131]:
a <= b

False

In [132]:
a == b # value wise if both values are equal we get True

False

In [133]:
a != b # value wise if both values are not equal we get True

True

In [134]:
a

4

In [135]:
b

2

In [136]:
a = "hello"  # when you compare two seq it will compare first elements of the seq's
b = "world"
a > b

False

In [137]:
ord("h")  # ascii value of h

104

In [138]:
ord("w")

119

In [139]:
# logical operators -- every args we put on and gate is true it will retrun last true value - it won't boolean result

3 and "hello" and 4.5

4.5

In [2]:
3 and [] and True and None  # if any values are false it will return first false value

[]

In [5]:
# short circuiting -- based one args operator returns the result we call it as short cicuiting
0 and 4 and 89 and True

0

In [140]:
# or -  if every args we pass on "or" is false we get last false value
[] or "" or 0

0

In [141]:
[] or 3 or 0 or 99 # if any args true it will return first true value

3

In [142]:
4 or None or 0 or ""

4

In [31]:
not 3  # will return the opposite result of the given args boolean version

False

In [7]:
not ""

True

In [44]:
# to check the memory of an var(obj) we use id

a = 8
b = 8
print(id(a))
print(id(b))
print(a == b)
print(a is b)  # memory wise if they equal is op will return true

140737381065736
140737381065736
True
True

In [48]:
# identical operators, is, is not

a = [3, 4]  # list is mutable ds  
b = [3, 4]
  # only compares the value

"""
unlike the data types each data structures eventually will always have unique addres
even though if the contains same values also
"""
print(id(a))
print(id(b))
print(a == b)

1864825622976
1864825502336
True

In [49]:
a is b  # only compares the memory

False

In [50]:
a is not b

True

In [51]:
t1 = (5,3,9) # immutable
t2 = (5,3,9)

print(id(t1))
print(id(t2))
print(t1 is t2)
print(t1 == t2)

1864825367168
1864816454464
False
True

In [ ]:
# when we store a dtype in python it will store in only one memory no matter how many var name we give
# they point the same address but data structre even though if they have same value they will get stored in
# different addresses

In [52]:
# membership operators -- this can be only performeble on a seq
a = "Python"
"t" in a

True

In [53]:
"z" in a

False

In [54]:
"y" not in a

False

In [55]:
a = (6,2,1)
6 in a

True

In [56]:
# bitwise operators -- perform operations on bit level(binary version)

print(bin(5))  #00000101
print(bin(6))

0b101
0b110

In [57]:
print(5 & 6)
"""
101 -- 5
110 -- 6
------
100
---
"""
print(int(0b100))

4
4

In [58]:
print(5 | 6)
"""
101 -- 5
110 -- 6
------
111
---
"""
print(int(0b111))

7
7

In [59]:
print(5 ^ 6)
"""
# if every value same. output will be false 
101 -- 5
110 -- 6
------
011
---
"""
print(int(0b11))

3
3

In [60]:
# bitwise not -- (-n-1)
~5

-6

In [61]:
~-5

4

In [62]:
# right shift -- removes last specified bits
print(9 >> 2)
"""
1001

10
"""
print(int(0b10))

2
2

In [63]:
# left shift -- add 0 bits in the end
print(4 << 3)
"""
100

100000
"""
print(int(0b100000))

32
32

# data structures -- 
    used to store n number of elements in a variable
    => List -- Mutable(Modifyable), Ordered(pos base ops),  allow duplicates, hetrogeneous)
    => Tuple-- IMMutable(cannot Modifyable), Ordered(pos base ops),  allow duplicates, hetrogeneous)
    => Dictionary-- Mutable(Modifyable), unOrdered(pos base ops), not allow duplicates, hetrogeneous)
    => Set-- Mutable(Modifyable), unOrdered(pos base ops),  not allow duplicates, hetrogeneous)
    => Range-- IMMutable(Modifyable), Ordered(pos base ops),  allow duplicates, homogeneous)

In [1]:
#List -- Mutable(Modifyable), Ordered(pos base ops),  allow duplicates, hetrogeneous)

# to create a list we use []

l1 = [3, 2.3, True, "Hello", 3]
l1

[3, 2.3, True, 'Hello', 3]

In [2]:
l1[2]

True

In [3]:
l1[1: 3]

[2.3, True]

In [4]:
# pos based update
l1 = [5,2,9,12,89]
l1[2] = "hello"
l1

[5, 2, 'hello', 12, 89]

In [5]:
# adding data into a list
l1 = [4,2,9] #if a data structure allows to modify and if it never changes memory pos --mutable ds
l1.append(3)  # adding the data into the end of the list
l1

[4, 2, 9, 3]

In [6]:
l1 = [3,2,7,9,12]
l1.insert(3, "Python")  # insert will add the data in specified pos
l1

[3, 2, 7, 'Python', 9, 12]

In [7]:
l1 = [4,2,8]  # will modify original l1 list

print(l1)
l1 += [5,2]  # duplicates will be allowed
l1

[4, 2, 8]

[4, 2, 8, 5, 2]

In [8]:
l1 = [4,2]

l2 = [5,2]

l1.extend(l2) # extend, +=, are mutable methods and they allows duplicates
l1

[4, 2, 5, 2]

In [9]:
l1 = [4,2]

l2 = [5,2]
print(l1+l2)
print(l1)
print(l2)

[4, 2, 5, 2]
[4, 2]
[5, 2]

In [10]:
l1 = [4,2]

l2 = [5,2]
l3=l1+l2
print(l3)
print(l1)
print(l2)

[4, 2, 5, 2]
[4, 2]
[5, 2]

In [11]:
l1 = [4,1,7]
del l1  # removing the whole list

In [12]:
l1

NameError: name 'l1' is not defined

In [14]:
# deleting datas from a list

l1 = [3,"hi", 9.34,2,4]
del l1[2]  # will delete data but not return the deleted data
print(l1)

[3, 'hi', 2, 4]

In [15]:
l1 = [3,"hi", 9.34,2,4]
deleted_data = del l1[2]  # will delete data but not return the deleted data
print(l1)

SyntaxError: invalid syntax (3970796722.py, line 2)

In [18]:
l1 = [3,"hi", 9.34,2,4]
poped_data=l1.pop(2)  # will delete data but  return the deleted data
poped_data

9.34

In [19]:
print(l1)

[3, 'hi', 2, 4]

In [20]:
l1 = [3,"hi", 9.34,2, 4]
l1.pop() # will remove last pos data

4

In [21]:
l1

[3, 'hi', 9.34, 2]

In [23]:
l1 = [3,"hi", 9.34,2, 4, 3,4]

l1.remove(3)  # will remove data 3 first occurance
l1

['hi', 9.34, 2, 4, 3, 4]

In [24]:
l1 = [3,"hi", 9.34,2, 4, 3,4]
l1.clear()  # remove all the elements from a list and return an empty list
l1

[]

In [25]:
# ordering -- asc, desc

l1 = [4,12,7,8,3,5]
l1.sort()  # will do ascending order and modify original list mutable method
l1

[3, 4, 5, 7, 8, 12]

In [26]:
l1 = [4,12,7,8,3,5]
l2 = sorted(l1)  # will do ascending order and will not modify original list
print(l1)
print(l2)

[4, 12, 7, 8, 3, 5]
[3, 4, 5, 7, 8, 12]

In [29]:
l1 = [4,12,7,8,3,5]
l1.sort(reverse = True)  # will do descending order and modify original list
l1

[12, 8, 7, 5, 4, 3]

In [30]:
l1 = [4,12,7,8,3,5]
l2 = sorted(l1, reverse = True)  # will do descending order and will not modify original list
print(l1)
print(l2)

[4, 12, 7, 8, 3, 5]
[12, 8, 7, 5, 4, 3]

In [31]:
l1 = ["lemon", "cherry", "mango", "apple"]
l1.sort()
l1

['apple', 'cherry', 'lemon', 'mango']

In [32]:
l1 = ["lemon", "cherry", "mango", "apple"]
l1.sort(reverse = True)
l1

['mango', 'lemon', 'cherry', 'apple']

In [33]:
# merging all the strings from a list
l1 = ["lemon", "cherry", "mango", "apple"]
"".join(l1)

'lemoncherrymangoapple'

In [34]:
l1 = [4, 12, 7, 8, 3, 5]
"".join(l1)

TypeError: sequence item 0: expected str instance, int found

In [35]:
l1 = [4, 12, 7, 8, 3, 5]
print(l1[::-1])  # immutable
l1

[5, 3, 8, 7, 12, 4]

[4, 12, 7, 8, 3, 5]

In [36]:
l1 = [4, 12, 7, 8, 3, 5]
l1.reverse() # mutable
l1

[5, 3, 8, 7, 12, 4]

In [37]:
l1 = [4, 12, 7, 8, 3, 5]
l2 = list(reversed(l1))  # to convert any other seq into list we can use "list()"
print(l1)
print(l2)

[4, 12, 7, 8, 3, 5]
[5, 3, 8, 7, 12, 4]

In [38]:
l1 = [3,4,5]
l2 = [5,6]

print(l1> l2)
print(l1< l2)
print(l1== l2)
print(l1!= l2)
print(l1>= l2)
print(l1 <=l2)

# try logical, identical, membership

False
True
False
True
False
True

In [39]:
l1 = [3,4,5]
l2 = [5,6]
l1-l2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [40]:
l1 = [3,4,5]
l2 = [5,6]
l1*l2

TypeError: can't multiply sequence by non-int of type 'list'

In [41]:
l1 = [3,4,5]
l1 * 2 # repetition operator

[3, 4, 5, 3, 4, 5]

In [42]:
# +,*, comparison, identical, membership, logical -- supports with list

In [43]:
# type conversion -- to convert any other data structure to list "list()"
str1 = "hello world"
list(str1)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [44]:
str1 = "hello world"
print([str1])

['hello world']

In [45]:
# list of variables = list of values -- unpacking

[apple, orange, cherry, kiwi] = [45,67,28,12]


print(apple)
print(kiwi)
print(orange)
print(cherry)

45
12
67
28

In [46]:
[apple, orange, cherry, kiwi] = [45,67,28]  #more var less value won't work

ValueError: not enough values to unpack (expected 4, got 3)

In [47]:
[apple, orange, cherry, kiwi] = [45,67,28,12,67,12]

ValueError: too many values to unpack (expected 4)

In [48]:
[apple, orange, *cherry, kiwi] = [45,67,28,12,67,90] # remaining value we store in the cherry using "*"
print(apple)
print(orange)
print(cherry)
print(kiwi)

45
67
[28, 12, 67]
90

In [49]:
[*apple, orange, cherry, kiwi] = [45,67,28,12,67,12] # remaining value we store in the cherry using "*"
print(apple)
print(orange)
print(cherry)
print(kiwi)

[45, 67, 28]
12
67
12

In [50]:
print(cherry)

67

In [51]:
[apple, orange, cherry, kiwi] = [45,67.335,False,"Python"]
print(apple)
print(orange)
print(cherry)
print(kiwi)

45
67.335
False
Python

In [52]:
# copying and renaming

#renaming
l1 = [45,12,90,34]
l2 = l1 # just giving another name for l1 list not creating a duplicate
print(id(l1))
print(id(l2))
l2.pop()
print(l1)
print(l2)

3058289836288
3058289836288
[45, 12, 90]
[45, 12, 90]

In [54]:
l1 = [45,12,90,34]
l2 = l1.copy() # just  creating a duplicate
print(id(l1))
print(id(l2))
l2.pop()
print(l1)
print(l2)

3058289836288
3058289777856
[45, 12, 90, 34]
[45, 12, 90]

In [55]:
#common methods among all the data structures
l1 = [45,12,90,34,12]
#immutable methods
print(min(l1)) # keep your ds as homogeneous to get proper result
print(max(l1)) # keep your ds as homogeneous to get proper result
print(len(l1))
print(sum(l1)) # keep your ds as homogeneous to get proper result

12
90
5
193

In [56]:
l2 = ["apple", "orange", "lemon"]
sum(l2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [57]:
l1 = [4,2,9.4, True, "hello"]
min(l1)

TypeError: '<' not supported between instances of 'str' and 'bool'

In [58]:
l1 = [1,2,3,1,2,3,4,5,6,3,2]
print(type(l1))
l1.count(2)

<class 'list'>

3

In [ ]:
# tuple -- immutable, ordered, hetrogeneous, duplicated -- they are faster then list

In [ ]:
#mutable -- append, insert, extend, +=,del [], del , pop(pos), pop(),clear(), remove,.sort(),.reverse()
#immutable -- indexing, slicing, min, max, len, sum, .count, +, *,logical,member,identic, compar, .copy

# mutable datastructure --
    when we perform any method or actions on a data structure if it does not changes its memory address we call it as mutable datastructure

# immutable datastructure --
    when we perform any method or actions on a data structure if it does  changes its memory address we call it as immutable datastructure

In [59]:
# assignment 
# tuple -- immutable, ordered, hetrogeneous, duplicates allowed, we can create tuple using ()
t1 = 23,45,89
print(type(t1))

t1

<class 'tuple'>

(23, 45, 89)

In [60]:
t2 = (45)
print(type(t2))
t2

<class 'int'>

45

In [61]:
t2 = (45, ) # to create tuple with one value
print(type(t2))

<class 'tuple'>

In [62]:
t1 = (4,2,7,8,4,5,2) # immutable
t1.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [63]:
t1 = (4,2,7,8,4,5,2)  # allows duplicates
print(max(t1))
t1

8

(4, 2, 7, 8, 4, 5, 2)

In [64]:
# ordered datastructure
t1 = (4,2,7,8)
t1[2]

7

In [65]:
t1 = (4,2.3,"hello",False)  # hetrogeneous datastructure
t1

(4, 2.3, 'hello', False)

In [66]:
# explore this operations on tuple

#mutable -- append, insert, extend, +=,del [], del , pop(pos), pop(),clear(), remove,.sort(),.reverse()
#immutable -- indexing, slicing, min, max, len, sum, .count, +, *,logical,member,identic, compar, .copy

# Dictionary
    -- mutable, unordered,no duplicates(keys) , hetrogeneous
    a mapping data structure key:value
    to create a dictionary we use {}

    all the dictionary conditions works on keys itself

In [70]:
d1 = {"apple":False, 4:"python", (3,4):[1,2,4]} # we cannot use list as key
d1

{'apple': False, 4: 'python', (3, 4): [1, 2, 4]}

In [71]:
d1[2] # unordered ds dictionary will not have position(indexing)

KeyError: 2

In [72]:
d1[4] # accessing the data based on keys with in ["key"]

'python'

In [73]:
d1["apple"]

False

In [74]:
d1 = {"a":2, "b":3}
d1.append(3) # try check insert, extend, +,.sort, .reverse, indexing, slicing will not support
"""
dictionary does not have pos, dictionary will not allow duplicate -- append needs pos as well as append will allow the duplicates
"""

AttributeError: 'dict' object has no attribute 'append'

In [75]:
# proof that dictionary will not allow duplicates keys and it is mutable

d1 = {"apple":34, "oragne":12, "kiwi":90, "apple":111 }
d1

{'apple': 111, 'oragne': 12, 'kiwi': 90}

In [76]:
# to add or update a data into a dictionary
d1["lemon"] = 55
d1

{'apple': 111, 'oragne': 12, 'kiwi': 90, 'lemon': 55}

In [77]:
# proof that dict won't allow the duplicates and update

d1 = {"apple":34, "oragne":12, "kiwi":90 }
print(d1)
d1["apple"] = 68
d1

{'apple': 34, 'oragne': 12, 'kiwi': 90}

{'apple': 68, 'oragne': 12, 'kiwi': 90}

In [79]:
# +, extend() -- these methods allow the duplicate so that they cannot performed on a dictionary
d1 = {"apple":34, "oragne":12, "kiwi":90 }
d2 = {"banana":19, "cherry":15, "apple":54}
d1.update(d2) # will remove the duplicates and merge the unique values in d1
d1

{'apple': 54, 'oragne': 12, 'kiwi': 90, 'banana': 19, 'cherry': 15}

In [80]:
# when we use pop() on a dictionary we should pass the key to deleted the item from dictionary
d1 = {"apple":34, "oragne":12, "kiwi":90 }
d1.pop()

TypeError: pop expected at least 1 argument, got 0

In [7]:
d1.pop("kiwi")  # will remove the data and return

90

In [8]:
d1

{'apple': 34, 'oragne': 12}

In [81]:
# to delete the last item from a dictionary use "popitem()"
d1 = {"apple":34, "oragne":12, "kiwi":90 }
d1.popitem()

('kiwi', 90)

In [82]:
d1

{'apple': 34, 'oragne': 12}

In [83]:
d1 = {"apple":34, "oragne":12, "kiwi":90 }
del d1["kiwi"]  # deleting the entire dictionary

In [84]:
d1

{'apple': 34, 'oragne': 12}

In [85]:
del d1

In [86]:
d1

NameError: name 'd1' is not defined

In [87]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.remove("apple")

AttributeError: 'dict' object has no attribute 'remove'

In [88]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.clear()  # remove all the datas from the dictionary and returns the empty dictionary

In [89]:
d1

{}

In [90]:
# retriving the datas from a dictionary

d1 = {"apple":34, "orange":12, "kiwi":90 }
d1["orange"]

12

In [91]:
d1["banana"]  # if we call the key which is not there in the dictionary [] -- will raise keyerror
print("after trying to retrive a data from dictionary")

KeyError: 'banana'

In [92]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.get("orange")

12

In [93]:
d1.get("banana")  # if the data dosen't exist .get() it will return None
print("after trying to retrive a data from dictionary")

after trying to retrive a data from dictionary

In [94]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.get("banana", "not found")  # giving the default value if the key what we are seeking is not exist it will default value

'not found'

In [95]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.get("apple", "not found")

34

In [96]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.keys()

dict_keys(['apple', 'orange', 'kiwi'])

In [97]:
d1.values()

dict_values([34, 12, 90])

In [98]:
d1.items()

dict_items([('apple', 34), ('orange', 12), ('kiwi', 90)])

In [99]:

l1 = [34,12,"hello", True]
dict(l1)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [100]:
# type conversion

d1 = {"apple":34, "orange":12, "kiwi":90 }
list(d1)

['apple', 'orange', 'kiwi']

In [101]:
tuple(d1)

('apple', 'orange', 'kiwi')

In [102]:
l1 = [34,12,"hello", True]
d2 = dict.fromkeys(l1, 66) # take keys from the l1 list
d2

{34: 66, 12: 66, 'hello': 66, True: 66}

In [103]:
# if the datastructure which we try to convert as a dictionary what if that is having a duplicate value
l2 = ("apple", "orange", "lemon", "apple")
d3 = dict.fromkeys(l2, "juice")
d3

{'apple': 'juice', 'orange': 'juice', 'lemon': 'juice'}

In [104]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d2 = {"banana":44, "lemon":32, "mango":9 }
d3 = {"mosabi":34, "grapes":12, "jackfruit":5 }

d1.setdefault("lemon",450)  # it will check the dictionary a specific key(in this case lemon) is exists or not if it is not it will
                            #add that key with value if the exists it will not change anything
d2.setdefault("lemon",450)
d3.setdefault("lemon",450)
print(d1)
print(d2)
print(d3)

{'apple': 34, 'orange': 12, 'kiwi': 90, 'lemon': 450}
{'banana': 44, 'lemon': 32, 'mango': 9}
{'mosabi': 34, 'grapes': 12, 'jackfruit': 5, 'lemon': 450}

In [105]:
d3 = {"mosabi":34, "grapes":1200, "jackfruit":500 } # m>g>j -- when we perform max on a dictionary that dictionary should have all the
                                                    # values as homogeneous then which key is bigger it will return that key
max(d3)

'mosabi'

In [106]:
min(d3)

'grapes'

In [107]:
len(d3)

3

In [108]:
d3 = {"mosabi":34, "grapes":1200, "jackfruit":500 }
sum(d3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [109]:
l2 = ["apple", "orange", "lemon", "apple"]
sum(l2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [110]:
d3 = {3:"mosambi",50:"grapes", 4:"jackfruit"}

In [111]:
d3

{3: 'mosambi', 50: 'grapes', 4: 'jackfruit'}

In [112]:
sum(d3)

57

In [113]:
# SET -- mutable, unordered, no duplicates, hetrogeneous-- to create a set we use {}
s1 = {3, 4.5, False, "Helloworld",3}
s1

{3, 4.5, False, 'Helloworld'}

In [114]:
s1[2]

TypeError: 'set' object is not subscriptable

In [115]:
# adding the data in a set
s1 = {3, 4.5, False, "Helloworld",3}
s1.add(34) # .add() key will add the data into an random position of the set
s1

{3, 34, 4.5, False, 'Helloworld'}

In [116]:
#update 
s1 = {1,2,3,4}
s2 = {4,5,6}
s1.update(s2)  #mutable
s1

{1, 2, 3, 4, 5, 6}

In [117]:
# deleting
s1 = {3,7,11,2,3,4}
s1.pop()  # it will remove the random element in the set s1

2

In [118]:
del s1  # delete the entire set

In [119]:
s1

NameError: name 's1' is not defined

In [120]:
s1 = {3,7,11,2,3,4}
del s1[2]

TypeError: 'set' object doesn't support item deletion

In [121]:
s1 = {3,7,11,2,3,4, True, "hello", 1}
s1.remove(11)
s1

{2, 3, 4, 7, True, 'hello'}

In [122]:
s1 = {3,7,11,2,3,4}
s1.remove(99)  #if the data dosen't exist it will raise key error
s1

KeyError: 99

In [123]:
s1 = {3,7,11,2,3,4}
s1.discard(11)  #if the data dosen't exist it will raise key error
s1

{2, 3, 4, 7}

In [124]:
s1 = {3,7,11,2,3,4}
s1.discard(99)  #if the data dosen't exist it will raise key error
s1

{2, 3, 4, 7, 11}

In [125]:
s1 = {3,7,11,2,3,4}
s1.clear()
s1

set()

In [126]:
# unique operations on the set
s1 = {1,3,7,9,4}
s2 = {2,4,6,8,9}

s1.union(s2) # will return all the unique elements from the both sets duplicates ignored immutable

{1, 2, 3, 4, 6, 7, 8, 9}

In [127]:
s1

{1, 3, 4, 7, 9}

In [128]:
s2

{2, 4, 6, 8, 9}

In [129]:
s1 = {1,3,7,9,4}
s2 = {2,4,6,8,9}

s1.intersection(s2)  # the common elements from the both sets

{4, 9}

In [130]:
s1.difference(s2)  # uncommon elements from s1 while comparing with s2

{1, 3, 7}

In [131]:
s1.symmetric_difference(s2)  # uncommon elements from the both sets

{1, 2, 3, 6, 7, 8}

In [132]:
s1 = {1,2,3}
s2 = {1,2}
s1.issuperset(s2)

True

In [133]:
s2.issubset(s1)

True

In [134]:
s1 = {1,2,3}
s2 = {4,5}
s1.isdisjoint(s2)  # if two sets have no elements in common it will return true

True

In [135]:
s1 = {1, 2, 3, 6, 7, 8}  # to convert a set into immutable use frozenset
s2 = frozenset(s1)

In [136]:
s2.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

In [137]:
# type conversion for set
# when you try to convert a list into a set it will remove the duplicates of the list and then it will convert that as as set

l1 = [6,2,3,4,5,2,3,3,4,5,6,7,8,4,3,4,5,4,6,2,1,2,4,6]
s1 = set(l1)
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [138]:
# Range -- immutable, Homogeneous(integers), ordered,no duplicates
# range will not directly will give the elements to visualize the elements we should use other data structures
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [139]:
# Range -- immutable, Homogeneous(integers), ordered,no duplicates
range(0,10)

range(0, 10)

In [140]:
list(range(10))  # if we pass only one element range will take that as a stop-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [141]:
tuple(range(10,20))  # if we pass two element range will take that as a start:stop-1

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [142]:
set(range(10,30,3))  # if we pass 3 element range will take that as a start:stop-1:step

{10, 13, 16, 19, 22, 25, 28}

In [143]:
# min,max,len,.count, sum, indexing, slicing
r1 = range(3,30,4)
r1.start

3

In [144]:
r1.stop

30

In [145]:
r1.step

4

In [146]:
list(r1)

[3, 7, 11, 15, 19, 23, 27]

In [147]:
list(range(-10))

[]

In [148]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [149]:
# if we define two variable with same name in a single variable the old var will replaced by new one
a = 5
a = 222
print(a)

222

In [152]:
a = 5

if False:
    
    a= 666
    print(a)

print(a)

5

In [153]:
a = 5

if True:
    # if will override the var value
    a= 666
    #print(a)

print(a)

666

In [154]:
#LEGB -- local, enclose, global, builtin

v = 34 # global

def fun1():
    #v = 56  #enclose

    def fun2():
        #v=99 #local
        print(v)

    return fun2

obj = fun1()
obj()

34

# conditional statements
     based on the conditions we decide change the flow of the programs

     Namespaces -- used to monitor the unique var names . different different namespaces will allow you to define same var names.
     each namespaces has its own attributes. LEGB --(local,enclose, global, built in), when we try to call a variable first interpretter will look into local namespace, then enclosed namespace, global namespace, builtin

In [155]:
# condtional statments -- if, else, elif

print("global namespace flow")


a=5
if a>1: # this if block of code only will execute when the given condition is true

    """
    to creata a namespace(block of code) we follow 4 spaces indentation
    """
    print("if namespace(a different namespace)")
    


print("main flow")

global namespace flow
if namespace(a different namespace)
main flow

In [156]:
print("global namespace")


a=5
if a>10: # this if block of code only will execute when the given condition is true
    print("if namespace(a different namespace)")
    print("if flow(block)")


print("main flow")

global namespace
main flow

In [158]:
# else -- when the condition fails else block will execute

print("global namespace")


a=5
if a>10: # this if block of code only will execute when the given condition is true
    
    print("if namespace(a different namespace)")
    print("if flow(block)")

else:
    
    print("else flow")


print("main flow")

global namespace
else flow
main flow

In [159]:
if 5:
    print("if  block executes")

if  block executes

In [160]:
a = 8
b = 5
c = 2

if a>b and b>c and a>c:
    print("condition is true")

condition is true

In [161]:
# example identical operators

if bool(5) is True:
    print("5 is a  boolean True value")

5 is a  boolean True value

In [162]:
a = "hello"
if "h" in a:
    print("a is there in seq")

a is there in seq

In [164]:
food = ["pizza", "french fries", "sandwhich", "burger"]
print("food's are available", food)
user_input = input("please enter the food from the above")

if user_input == food[0]:
    print("how much size of the pizza you want order")
    
elif user_input == food[1]:
    print("how much qty of the french fries you want order")
    
elif user_input == food[2]:
    print("how many of the sandwhich you want order")
    
elif user_input == food[3]:
    print("how many of the burger you want order")
    
else:
    print("this food is out of stock")

food's are available ['pizza', 'french fries', 'sandwhich', 'burger']

please enter the food from the above pizza

how much size of the pizza you want order

In [165]:
a = 8  # when we use multiple conditions(elif) when the first condition matches there itself it will stop

if a>1:
    print("bigger")
elif a>2:
    print("bigger then 2")
elif a>3:
    print("bigger then 3")

bigger

In [166]:

a = 57

if type(a) == int:
    print("first condition satisfied")
    if a>20:
        print("second condition proved")

first condition satisfied
second condition proved

In [168]:
citizenship = input("are you indian")

if citizenship == "indian":
    age = int(input("enter age"))
    if age >= 18:
        print("you are eligible to vote")

are you indian indian
enter age 34

you are eligible to vote

In [61]:
"""
a condition with in other another condition is nested if 
"""


food = ["pizza", "french fries", "sandwhich", "burger"]
print("food's are available", food)
user_input = input("please enter the food from the above")

if user_input == food[0]:
    print("how much size of the pizza you want order")
    print("available sizes 10, 21, 28")
    size = int(input("enter the size "))
    if size in [10,21,28]:
        print(f"the size you have choosen is {size} bigger")
    else:
        print("this size of pizza not available")
elif user_input == food[1]:
    print("how much qty of the french fries you want order")
    print("available for 100, 200, 300")
    size = int(input("enter the count "))
    if size in [100,200,300]:
        print(f"the count you have choosen is {size}")
    else:
        print("this size of french fries not available")
    
elif user_input == food[2]:
    print("how many of the sandwhich you want order")
    print("available for 1, 2, 3")
    size = int(input("enter the count "))
    if size in [1,2,3]:
        print(f"the count you have choosen is {size}")
    else:
        print("this count of sandwhich not available")
    
elif user_input == food[3]:
    print("how many of the burger you want order")
    print("available for 1, 2, 3")
    size = int(input("enter the count "))
    if size in [1,2,3]:
        print(f"the count you have choosen is {size}")
    else:
        print("this count of burger not available")    
    
else:
    print("this food is out of stock")

food's are available ['pizza', 'french fries', 'sandwhich', 'burger']

please enter the food from the above pizza

how much size of the pizza you want order
available sizes 10, 21, 28

enter the size  10

the size you have choosen is 10 bigger

In [169]:
# short hand if 
if 4>2: print("condition is true")

condition is true

In [170]:
a = 8
b = 5
c = 2
if a>b or b>a or c>d: print("condition True"), print("logical or implemented")

condition True
logical or implemented

In [2]:
# ternery operators -- operators usually will be located in betwee two operands here also we put if else in between two operands i.e we call it ternery operators

a = 5
b = 3
c = 2

a if 0 else b

3

In [3]:
a = 5
b = 3
c = 2

a if a>c else b

5

In [4]:

#nested ternery operators

a = 5
b = 1
c = 2
print("a is smaller") if a<b else print("b is smaller") if b<c else print("c is smaller")

b is smaller

In [68]:
# assert is an condition checker unlike if. assert will raise an exception if the condition is wrong
a = 4
assert a*a == 16,  AssertionError("value is wrong")
print("condition validated")

condition validated

In [69]:
a = 4
assert a*a == 16,  "oops is wrong"
print("condition validated")

condition validated

In [70]:
a = 3
assert a*a == 16,  AssertionError("value is wrong")
print("condition validated")

AssertionError: value is wrong

In [71]:
a = 3
assert a*a == 16, "value is wrong"
print("condition validated")

AssertionError: value is wrong

In [72]:
def error_status(n):
    match n:
        case 200:
            print("request ok")
        case 400:
            print("bad request")
        case 500:
            print("internal server error")

error_status(500)

internal server error

In [73]:
# without function
n = 400
match n:
    case 200:
        print("request ok")
    case 400:
        print("bad request")
    case 500:
        print("internal server error")

bad request

In [74]:
# without function
n = 600
match n:
    case 200:
        print("request ok")
    case 400:
        print("bad request")
    case 500:
        print("internal server error")
    case default:
        print("no data")

no data

In [75]:
# without function

"""
match case always compares the values
"""
n = 500
match n>300:
    
    case 200:
        print("request ok")
    case 400:
        print("bad request")
    case 500:
        print("internal server error")
    case True:
        print("condition matches")
        print(n+10)
    case False:
        print("condition not matching")
    case default:
        print("no data")
# else:
#     print("not founded data")

condition matches
510

In [170]:
# dynamically assign a valid data to a variable

d_name = None
o_name = "user"
name = d_name or o_name
name

'user'

In [171]:
def case_1():
    return "Case 1 executed"

def case_2():
    return "Case 2 executed"

def default_case():
    return "Default case executed"


switch = {
    1: case_1,
    2: case_2,
}
result = switch.get(5, default_case)()
print(result)  # Output: Case 1 executed

Default case executed

# conditional loop(while) -- as long as the condition is true the while loop will run

In [76]:
n = 0

while n<15:  # if the condition is always true the while will becomen a infinite loop
    print(n)
    n +=1  # by doing the incrementation we make the condition fail at some pos
else:
    print("end of the while loop")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
end of the while loop

In [77]:
i = 0
while i<15:
    print(i)
    if i == 8:
        break   # when the break executes it will stop the loop
    i +=1
else:
    print("end of the loop")

0
1
2
3
4
5
6
7
8

In [78]:
i = 0
while i<15:
  
    i +=1
    if i%2 != 0:
        continue   # when the continue executes it will skip the following lines 
        #push the current loop into the next loop without executeing following lines of code
    print(i)
    print(i, "is a even number")
  
else:
    print("end of the loop")

2
2 is a even number
4
4 is a even number
6
6 is a even number
8
8 is a even number
10
10 is a even number
12
12 is a even number
14
14 is a even number
end of the loop

In [79]:
x = 5
y = 3

while x>3 and y>1:  # multiple condition with while loop
    print(f"{x} and {y} are positive values")
    y -=1

5 and 3 are positive values
5 and 2 are positive values

In [81]:
two_dim = [
    [1,3,5],
    [2,4,6],
    [8,10,12]
]


i = 0
while i<len(two_dim):
    row = two_dim[i]
    print(row)

    
 
    
    i +=1
    print("_________________")

[1, 3, 5]
_________________
[2, 4, 6]
_________________
[8, 10, 12]
_________________

In [83]:
# two_dim = [
#     [1,3,5],
#     [2,4,6],
#     [8,10,12]
# ]
two_dim = [ [1,3,5], [2,4,6,7], [8,10,12] ]

i = 0
while i<len(two_dim):
    row = two_dim[i]
    print(row)

    
    j = 0
    while j<len(row):
        print(row[j])
        j +=1
    
    
    i +=1

[1, 3, 5]
1
3
5
[2, 4, 6, 7]
2
4
6
7
[8, 10, 12]
8
10
12

# For Loop :
    Iteration Loop -- a loop that iterates over a sequence each element of the sequence the for loop executes the body of it

In [86]:
l1 = [34,12,89,7.8]

for i in l1[2:]:
    print(i+2)
    print(i*2)
    print(i/2)
    print()
else:
    print("end of the for loop")

# the i value will have the last element of the sequence we can access outside also

#print(i)

91
178
44.5

9.8
15.6
3.9

end of the for loop

In [87]:
for i in range(15):
    print(i)
    if i == 8:
        break

0
1
2
3
4
5
6
7
8

In [88]:
for i in range(15):
    
    if i%2 ==0:
        continue
    print(i)

1
3
5
7
9
11
13

In [91]:
two_dim = [
    [1,3,5],
    [2,4,6],
    [8,10,12]
]


for i in two_dim:
    row = i

    for j in row:
        print(j)

    print(row)
    print()

1
3
5
[1, 3, 5]

2
4
6
[2, 4, 6]

8
10
12
[8, 10, 12]

In [92]:
colors = ["red", "green"]

fruits = ["banana", "cherry", "apple"]

for color in colors:
    print("outer for loop initiaing inner for loop")
    
    for fruit in fruits:
        #print("inner for loop runs")
        print(f"the {fruit} color is {color}")

    print()

outer for loop initiaing inner for loop
the banana color is red
the cherry color is red
the apple color is red

outer for loop initiaing inner for loop
the banana color is green
the cherry color is green
the apple color is green

In [93]:
# enumerate -- return the sequence elements along with their positions in a tuple

l1 = [4,2,8,6]
l2 = list(enumerate(l1))
l2

[(0, 4), (1, 2), (2, 8), (3, 6)]

In [181]:
s1 = {4,1,7,8,9}
s2 = set(enumerate(s1))  # it will work on the unordred seq
s2

{(0, 1), (1, 4), (2, 7), (3, 8), (4, 9)}

In [182]:
i,j = (0,4)
i

0

In [181]:
l1 = [4,2,8,6]
for i in enumerate(l1):
    print(i)

(0, 4)
(1, 2)
(2, 8)
(3, 6)

In [6]:
l1 = [4,2,8,6]
for i,j in enumerate(l1):
    """
    index or find will give wrong informations when the duplicates occurs    
    enumerate will return proper indexes even for the duplicates
    """
    
    print(f"index position {i} for the element {j}")

index position 0 for the element 4
index position 1 for the element 2
index position 2 for the element 8
index position 3 for the element 6

In [183]:
products = ["sugar", "coffepowder", "ghee", "milk"]
prices = [30,60,500,25, 34,12]

for product, price in zip(products, prices):
    print(product)
    print(price)
    print()

sugar
30

coffepowder
60

ghee
500

milk
25

In [185]:
# comprehensions -- create datasturucters in easy manner using for, if
# list comprehension
l1 = [x*x for x in range(10)]
l1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
l1 = [x*2 for x in range(20) if x%2 !=0]
l1

[2, 6, 10, 14, 18, 22, 26, 30, 34, 38]

In [9]:
#dictionary comprehension
d1 = {x:x**3 for x in range(8)}
d1

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343}

In [10]:
d1 = {x:x**3 for x in range(15) if x%2 ==0}
d1

{0: 0, 2: 8, 4: 64, 6: 216, 8: 512, 10: 1000, 12: 1728, 14: 2744}

# functions
    => are reusable codes
    => a function needs to be called to execute the function block code
    => a simple logic of the code
    => a function uses a return statment 
    => def name():
        "logic of the code"

    inbuild -- print, min, max, sum, len
    user defined -- created by the programmer for own use
    module functions -- coming from libraries

In [1]:
min([3,4,5,7])  # inbuild function which returns minimum value

3

In [5]:
obj = max([3,4,5,7]) #inbuild function which returns maximum value

In [6]:
obj

7

In [3]:
ans = print(6+3)  # print() inbuild function will not return anything

9

In [7]:
ans

In [1]:
def hello():  # empty functions
    pass
hello()

In [2]:
ans = hello()
print(ans)

None

In [3]:
def hello():  # empty functions
    
hello()

IndentationError: expected an indented block after function definition on line 1 (782024636.py, line 3)

In [4]:
def fun():
    return "hello"


fun()

'hello'

In [13]:
def fun():
    return "hello"
    
obj = fun() # a function obj will have the returned value

In [16]:
obj

'hello'

In [15]:
obj[3]

'l'

In [5]:
def fun():
    a = 7+6
    b = 4+2
    c = a+b
    return c
obj = fun()
print(obj)
print(obj+5)

19
24

In [6]:
def fun():
    a = 7+6
    b = 4+2
    c = a+b
    print(c)
    #print(5+9+4)
obj = fun()
print(obj)

19
None

In [7]:
def fun():
    return "hello"  # return statement will be the end of the function
    # a function can return all data types, all data structures, another fun, class, return is the end of the function
    return 8+9
obj = fun()

In [22]:
obj = min(4,2,7,98,12,1)
obj

1

In [23]:
obj

1

In [8]:
a = 4

def calculator(a,b):  # parameters
    print(a)
    print(b)
    return a-b, a*b, a/b

val1 = eval(input("enter the number1"))
val2 = eval(input("enter the number2"))

calculator(val1, val2)  # arguments

enter the number1 5
enter the number2 4

5
4

(1, 20, 1.25)

In [26]:
# when we want to assign values for a parameter we use keyword argument functions


def maths(a,b,c):
    print(a)
    print(b)
    print(c)
    return a+b+c, a-b-c, a*b*c

obj = maths(c = 2,b = 4, a = 8)  # keyword arguments

8
4
2

In [27]:
obj

(14, 2, 64)

In [10]:
def fun(a,b):
    """
    the parameters and the arguments should always match in the normal function
    """
    return a+b

obj = fun(4)
#obj = fun(4,3,4)
obj = fun(4,2)
obj

TypeError: fun() missing 1 required positional argument: 'b'

In [12]:
# Arbitrary Argument functions
def fun(*a):
    """
    when we get unknown or n number arguments we can store it
    in a single parameter called  arbitrary arguments
    it will store the arguments in a tuple
    """
    return type(a), len(a), min(a), max(a), a # we can call another function with in function

obj = fun(2,3,4,5)
obj

(tuple, 4, 2, 5, (2, 3, 4, 5))

In [14]:
def fun(**para):  # arbitrary keyword arguments functions
    """
    when we get unknown or n number key-value pair arguments. we can store it
    in a single parameter is called  arbitrary keyword arguments function
    it will store the arguments into a dictionary
    """
    return type(para), len(para), para.keys(), para.values(), para

obj = fun(a=2,b=3,c=4,d=5,e=6)
obj

(dict,
 5,
 dict_keys(['a', 'b', 'c', 'd', 'e']),
 dict_values([2, 3, 4, 5, 6]),
 {'a': 2, 'b': 3, 'c': 4, 'd': 5, 'e': 6})

In [15]:
def dpf(alaram = "cuckoo"):
    """
    a function that has its own parameter value if we pass our own value
    while calling the function the default parameter value will be replace 
    by passed value else it will return default value"""
    
    return f"times up {alaram}"

dpf("whistle")

'times up whistle'

In [16]:
dpf()

'times up cuckoo'

In [17]:
# a function which calls with in itself is a recursive function
# factorial means -- n*n-1 ..... 1

def fact(n):
    if n == 1:
        return 1

    else:
        return n* fact(n-1)  #5*4*3*2*1

fact(5)

120

In [40]:
def lf():
    x = 8  # local variable -- only accessible with in that function block(namespace)
    return x


print(lf())

print(x)

8

NameError: name 'x' is not defined

In [45]:
def hello():
    apple = 78

print(apple)

NameError: name 'apple' is not defined

In [46]:
apple = 78
def hello():
   return None

print(apple)

78

In [43]:
x = 8  # global variable

def gn():
    return x

print(x)
gn()

8

8

In [47]:
# namespaces will allow the assign diff values to the same var name in different namespaces

x = 90

def lnf():
    x = 45
    return x

print(x)
lnf()

90

45

In [19]:
x = "global"

def lnf():
    x = "local"
    return x

print(x)
lnf()

global

'local'

In [48]:
# global -- key to convert a local variable into a global variable

def lnf():
    global x
    x = 55
    return x
print(lnf())
print(x)

55
55

In [21]:
def dpf(alaram = "cuckoo"):
    """
    a function that has its own parameter value if we pass our own value
    while calling the function the default parameter value will be replace 
    by passed value else it will return default value"""
    # single line comment
    
    return f"times up {alaram}"

print(dpf.__doc__)

    a function that has its own parameter value if we pass our own value
    while calling the function the default parameter value will be replace
    by passed value else it will return default value

In [49]:
help(dpf)

Help on function dpf in module __main__:

dpf(alaram='cuckoo')
    a function that has its own parameter value if we pass our own value
    while calling the function the default parameter value will be replace
    by passed value else it will return default value

In [50]:
def outer():

    """
    when the inner function returned into the namespace of outer function
    the outer function object literally become inner function itself
    then we can easily call it
    """
    
    def inner():
        return "this message is coming from the inner function"
    
    
    
    return inner

obj = outer()

In [51]:
obj()

'this message is coming from the inner function'

In [53]:
def outer(m):
    def inner(n):
        return m*n
    
    
    return inner

obj = outer(5)
obj(2)

10

### Decorator
    a normal python function which takes another python function as a argument by doing that we can change, extend, modify the behaviour of that function eventually we can write some code around it and return it as a new function

In [55]:

def extra_decorations(fun):
    def wrapper():
        print("welcome to python $$$$$$$$$$$$$")
        print(fun())
        print("********* GOOD BYE *************")
        
    return wrapper


@extra_decorations
def fun():
    return "hello there!!"

fun()

welcome to python $$$$$$$$$$$$$
hello there!!
********* GOOD BYE *************

In [56]:
print(4/0)

ZeroDivisionError: division by zero

In [59]:
def zero_handler(n):
    def wrapper(a,b):
        if b == 0:
            print("since you have passed denominator as 0 we consider that as 1")
            b = 1
            print(n(a,b))
            print("calculation finished")
        else:
            print("calculation in progress")
            print(n(a,b))
            print("calculation finished")
    return wrapper



@zero_handler
def divide(a,b):
    return a/b

divide(6,0)

since you have passed denominator as 0 we consider that as 1
6.0
calculation finished

# lambda - anonyomous, will take n number args but it will return only one expression
    obj = lambda para: expression

    when we simply want to apply some formula(conditions or logics) in a single line temproarily

In [60]:
math = lambda x,y: print(x+y, x-y)
math(4,2)

6 2

In [61]:
a = lambda : return 45
a

SyntaxError: invalid syntax (3737829548.py, line 1)

In [65]:
#a = lambda :  45,23
a = lambda :  45
a()

45

In [66]:
l1 = ["kiwi", "apple", "orange", "bananas"]
l1.sort()
l1

['apple', 'bananas', 'kiwi', 'orange']

In [16]:
l1 = ["kiwi fruit", "red apple", "orange", "bananas"]
l1.sort(key = lambda x: len(x))  #length based ascending order
l1

['orange', 'bananas', 'red apple', 'kiwi fruit']

In [67]:
l1 = ["kiwi", "apple", "orange", "bananas", "cherry"]
# filter is a inbuild key that takes formula and seq it will apply the formula on the every element of the seq
re = list(filter(lambda x: "a" in x, l1))
re

['apple', 'orange', 'bananas']

In [68]:
l2 = [2,3,4,5,6,7,12,13,14,15,16]

re = list(filter(lambda x: x%3 ==0,l2))
re

[3, 6, 12, 15]

In [69]:
l1 = ["kiwi", "apple", "orange", "bananas", "cherry"]
# map -- take the formula and apply the each element on the seq
re = list(map(lambda x: x+" juices", l1))
re

['kiwi juices',
 'apple juices',
 'orange juices',
 'bananas juices',
 'cherry juices']

In [70]:
l2 = [2,3,4,5,6,7,12,13,14,15,16]

re = list(map(lambda x: x*2,l2))
re

[4, 6, 8, 10, 12, 14, 24, 26, 28, 30, 32]

In [13]:
from functools import reduce

l1 = [34,2,5,4,9]
# we can use reduce to convert a sequence into an single element based on some formula
re = reduce(lambda x,y:x-y, l1)
re

14

In [46]:
%cd dummy

C:\User_Desk\Teaching_contents\batch_notes\dummy

In [47]:
import os
os.getcwd()

'C:\\User_Desk\\Teaching_contents\\batch_notes\\dummy'

In [48]:
%cd ..

C:\User_Desk\Teaching_contents\batch_notes

In [1]:
import os

print(os.path.exists("file_1.txt")) # check the file existence

True

In [2]:
os.remove("file.txt")  # remove the file from the directory

In [3]:
os.rename("file_2.txt", "renamed.txt") # will rename file

In [4]:
os.mkdir("sample")  # creating the directory

In [5]:
os.rmdir("sample")  # remove the directory if the directory empty

In [6]:
os.makedirs("sample/images")  # directory within directory

In [7]:
os.removedirs("sample/images") # removing the directories with directory

In [8]:
os.listdir(".")  # returing current directory file list

['.ipynb_checkpoints',
 '2.0.1',
 '3matplotlib.ipynb',
 'array.npy',
 'array.txt',
 'basic of numpy.ipynb',
 'category.csv',
 'copy_kailash.png',
 'csvjson.json',
 'data_1.txt',
 'dummy',
 'emp.csv',
 'employee.csv',
 'employee.json',
 'file_1.json',
 'file_1.txt',
 'file_example_XLS_50.xlsx',
 'kailash.jpg',
 'maskcity.csv',
 'Master_notes.ipynb',
 'myenv',
 'numpy (1).ipynb',
 'output.csv',
 'output_1.csv',
 'pandas (1).ipynb',
 'python syllabus.pdf',
 'renamed.txt',
 'sample.csv',
 'sample.json',
 'sample.py',
 'stores.csv',
 'stores.xlsx',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'usage_of_python.jpeg',
 'Weekend_07_Dec.ipynb',
 'what python can do.jpeg',
 '__pycache__']

# file handling --"open" used to open a file in specific mode
    obj = open("file.ext", "r")

In [9]:
fileobj = open("file_1.txt", "r")  # 'r' -- immutable mode we can extract the content from the file but cannot
# delete or insert new data to the file
print(fileobj.read())
fileobj.close()

this is a new file with write mode contentthis data inserted by append mode
a new line again inserted
python programming language
Artificial Intelligence
Neural Networks, CNN, RNN

In [10]:
obj = open("file_1.txt", "r")
obj.readline()

'this is a new file with write mode contentthis data inserted by append mode\n'

In [11]:
obj.readline()

'a new line again inserted\n'

In [12]:
obj.readline()

'python programming language\n'

In [61]:
obj.readline()

'Artificial Intelligence\n'

In [62]:
obj.readline()

'Neural Networks, CNN, RNN'

In [13]:
# if we want to open a file in a specific namespace

with open("file_1.txt", "r") as f:

    # opening the with in the specific namespace
    print(f.read())

f.read()

this is a new file with write mode contentthis data inserted by append mode
a new line again inserted
python programming language
Artificial Intelligence
Neural Networks, CNN, RNN

ValueError: I/O operation on closed file.

In [2]:
with open("file_1.txt", "r") as f:
    data = list(f.readlines())  # it will return each line as seperate string
    print(data)

['this is a new file with write mode contentthis data inserted by append mode\n', 'a new line again inserted\n', 'python programming language\n', 'Artificial Intelligence\n', 'Neural Networks, CNN, RNN']

In [15]:
# w -- if a file already exists. remove existing content from the file and enter the new data
# if the doesn't exist it will create a new file and add the datas
with open("file.txt", "w") as f:
    f.write("this is the new content created with open mode \n")
    f.write("second line with python \n")
    f.write("Third line of data \n")

In [3]:
with open("file.txt", "w") as f:
    f.writelines(["python programming\n", "file handling with writemode\n", "testing the writelines\n"])

In [4]:

count = 0
for line in open("file.txt", "r"):
    print(line)
    count +=1

print("count of the lines", count)

python programming

file handling with writemode

testing the writelines

count of the lines 3

In [6]:
# append will add the data in the existing file without removing existing content.
with open("file.txt", "a") as f:
    f.write("\n this is the fourth line")

In [8]:
# striping the file spaces 
for line in open("file.txt"):
    print(line)

          python programming

      file handling with writemode

testing the writelines



      this is the fourth line

 this is the fourth line

In [9]:
# striping the file spaces 
for line in open("file.txt"):
    print(line.strip())

python programming
file handling with writemode
testing the writelines

this is the fourth line
this is the fourth line

In [37]:
# when we open a file with x mode if the file already existe it will raise error else it will create empty file

obj = open("file_1.txt", "x")

FileExistsError: [Errno 17] File exists: 'file_1.txt'

In [10]:
# binary files -.jpeg,.png, .mp4,.mp3

with open("kailash.jpg", "rb") as f:
    #data = f.read(400) # specifying the count of binary data here
    #print(data[:200])  # specifyin the count on binary data which we want to see
    data = f.read()
    print(data[:100])

b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00\x00\x01\x00\x01\x00\x00\xff\xdb\x00\x84\x00\x08\x06\x06\x07\x06\x05\x08\x07\x07\x07\t\t\x08\n\x0c\x14\r\x0c\x0b\x0b\x0c\x19\x12\x13\x0f\x14\x1d\x1a\x1f\x1e\x1d\x1a\x1c\x1c $.\' ",#\x1c\x1c(7),01444\x1f\'9=82<.342\x01\t\t\t\x0c\x0b\x0c\x18\r\r\x18'

In [11]:
with open("kailash.jpg", "rb") as f:
    data = f.read()
    with open("copy_kailash.png", "wb") as d:
        d.write(data)

In [23]:
with open("copy_kailash.png", "ab") as file1:
    file1.write(b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00\x00\x01\x00\x01\x00\x00\xff\xdb\x00\x84\x00\x08\x06\x06\x07\x06\x05\x08\x07\x07\x07\t\t\x08\n\x0c\x14\r\x0c\x0b\x0b\x0c\x19\x12\x13\x0f\x14\x1d\x1a\x1f\x1e\x1d\x1a\x1c\x1c $.\' ",#\x1c\x1c(7),01444\x1f\'9=82<.342\x01\t\t\t\x0c\x0b\x0c\x18\r\r\x18')

In [12]:
# csv 

with open("employee.csv", "r") as f:
    print(f.read())

name,salary,exp,city,age,Gender
john,3000,4,losvegas,30,Male
doe,4000,5, dc,25,Female
robert,8000,6, paris,27,Male
chris,9000,7,newyork,24,Female
,3000,,losvegas,35,Male
john,3000,4,losvegas,33,Female
evans,,4,losvegas,31,Male
tom,3000,4,,37,Female

In [13]:
import csv  # a library that will convert text data into csv data into list of rows

with open("employee.csv", "r") as f:
    records = csv.reader(f)
    for record in records:
        print(record)

['name', 'salary', 'exp', 'city', 'age', 'Gender']
['john', '3000', '4', 'losvegas', '30', 'Male']
['doe', '4000', '5', ' dc', '25', 'Female']
['robert', '8000', '6', ' paris', '27', 'Male']
['chris', '9000', '7', 'newyork', '24', 'Female']
['', '3000', '', 'losvegas', '35', 'Male']
['john', '3000', '4', 'losvegas', '33', 'Female']
['evans', '', '4', 'losvegas', '31', 'Male']
['tom', '3000', '4', '', '37', 'Female']

In [15]:
import csv  # a library that will convert text csv data into list of rows

with open("employee.csv", "r") as f:
    records = csv.DictReader(f)
    for record in records:
        print(record)

{'name': 'john', 'salary': '3000', 'exp': '4', 'city': 'losvegas', 'age': '30', 'Gender': 'Male'}
{'name': 'doe', 'salary': '4000', 'exp': '5', 'city': ' dc', 'age': '25', 'Gender': 'Female'}
{'name': 'robert', 'salary': '8000', 'exp': '6', 'city': ' paris', 'age': '27', 'Gender': 'Male'}
{'name': 'chris', 'salary': '9000', 'exp': '7', 'city': 'newyork', 'age': '24', 'Gender': 'Female'}
{'name': '', 'salary': '3000', 'exp': '', 'city': 'losvegas', 'age': '35', 'Gender': 'Male'}
{'name': 'john', 'salary': '3000', 'exp': '4', 'city': 'losvegas', 'age': '33', 'Gender': 'Female'}
{'name': 'evans', 'salary': '', 'exp': '4', 'city': 'losvegas', 'age': '31', 'Gender': 'Male'}
{'name': 'tom', 'salary': '3000', 'exp': '4', 'city': '', 'age': '37', 'Gender': 'Female'}

In [16]:
with open("employee.csv", "r") as f:
    records = csv.reader(f)
    for record in records:
        print(record)

        with open("sample.csv", "a") as d:
            writer = csv.writer(d)
            writer.writerow(record)

['name', 'salary', 'exp', 'city', 'age', 'Gender']
['john', '3000', '4', 'losvegas', '30', 'Male']
['doe', '4000', '5', ' dc', '25', 'Female']
['robert', '8000', '6', ' paris', '27', 'Male']
['chris', '9000', '7', 'newyork', '24', 'Female']
['', '3000', '', 'losvegas', '35', 'Male']
['john', '3000', '4', 'losvegas', '33', 'Female']
['evans', '', '4', 'losvegas', '31', 'Male']
['tom', '3000', '4', '', '37', 'Female']

In [17]:
# write mode base csv creationg

with open("sample.csv", "w") as f:
    writer = csv.writer(f)

    writer.writerow(["EmpName", "salary", "street"])
    writer.writerow(["user1", "200000", "manhattan"])
    writer.writerow(["user2", "300000", "baker"])

In [18]:
with open("sample.csv", "w") as f:
    fields = ["std_id", "std_name", "std_course"]
    writer = csv.DictWriter(f, fieldnames =fields )

    writer.writerow({"std_id":2,"std_name":"user3", "std_course":"python" })
    writer.writerow({"std_id":4,"std_name":"user4", "std_course":"fullstack" })
    writer.writerow({"std_id":5,"std_name":"user5", "std_course":"AI" })

In [19]:
data = open("employee.json", "r")
record = data.read()
print(type(record))
record

<class 'str'>

'{"name":{"0":"john","1":"doe","2":"robert","3":"chris","4":null,"5":"john","6":"evans","7":"tom"},"salary":{"0":3000.0,"1":4000.0,"2":8000.0,"3":9000.0,"4":3000.0,"5":3000.0,"6":null,"7":3000.0},"exp":{"0":4.0,"1":5.0,"2":6.0,"3":7.0,"4":null,"5":4.0,"6":4.0,"7":4.0},"city":{"0":"losvegas","1":" dc","2":" paris","3":"newyork","4":"losvegas","5":"losvegas","6":"losvegas","7":null},"age":{"0":30,"1":25,"2":27,"3":24,"4":35,"5":33,"6":31,"7":37},"Gender":{"0":"Male","1":"Female","2":"Male","3":"Female","4":"Male","5":"Female","6":"Male","7":"Female"}}'

In [21]:
import json
data = open("employee.json", "r")
json_record = json.load(data)
json_record

{'name': {'0': 'john',
  '1': 'doe',
  '2': 'robert',
  '3': 'chris',
  '4': None,
  '5': 'john',
  '6': 'evans',
  '7': 'tom'},
 'salary': {'0': 3000.0,
  '1': 4000.0,
  '2': 8000.0,
  '3': 9000.0,
  '4': 3000.0,
  '5': 3000.0,
  '6': None,
  '7': 3000.0},
 'exp': {'0': 4.0,
  '1': 5.0,
  '2': 6.0,
  '3': 7.0,
  '4': None,
  '5': 4.0,
  '6': 4.0,
  '7': 4.0},
 'city': {'0': 'losvegas',
  '1': ' dc',
  '2': ' paris',
  '3': 'newyork',
  '4': 'losvegas',
  '5': 'losvegas',
  '6': 'losvegas',
  '7': None},
 'age': {'0': 30,
  '1': 25,
  '2': 27,
  '3': 24,
  '4': 35,
  '5': 33,
  '6': 31,
  '7': 37},
 'Gender': {'0': 'Male',
  '1': 'Female',
  '2': 'Male',
  '3': 'Female',
  '4': 'Male',
  '5': 'Female',
  '6': 'Male',
  '7': 'Female'}}

In [22]:
type(json_record)

dict

In [23]:
# how to convert a string into an json
str1 = '{"name":"user", "city":"florida", "nation":"canada"}'
type(str1)

str

In [24]:
import json
data  = json.loads(str1)
data

{'name': 'user', 'city': 'florida', 'nation': 'canada'}

In [25]:
type(data)

dict

In [27]:
import json

insert_data = {'name': 'user', 'city': 'florida', 'nation': 'canada'}

with open("sample.json", "w") as f:
    json.dump(insert_data, f)

In [28]:
4/0

ZeroDivisionError: division by zero

In [29]:
"hello"/23
print("hello")
print("world")

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [34]:
try: 
    """
    a try block where we can put our suspicious code if the code runs withou raising an error we
    will be able see the result if the code raises any error the except block will execute
    """
    a = eval(input("enter the first value "))
    b = eval(input("enter the second value"))

    print(a/b)

except:
    
    print("something went wrong")


print("hello")
print("world")

enter the first value  4
enter the second value "de"

something went wrong
hello
world

In [37]:
# multiple exceptions

try: 
    
    a = eval(input("enter the first value "))
    b = eval(input("enter the second value"))

    print(a/b)

except TypeError:
    print("when we try to perform actions inbetween two different types of the data we will get type error")
except ZeroDivisionError:
    print("if we use the denominator as 0 we will get Zero Division Error")
except:
    print("something went wrong")

enter the first value  8
enter the second value "hello"

when we try to perform actions inbetween two different types of the data we will get type error

In [39]:
try: 
    """
    a try block where we can put our suspicious code if the code runs withou raising an error we
    will be able see the result if the code raises any error the except block will execute
    """
    a = eval(input("enter the first value "))
    b = eval(input("enter the second value"))

    print(a/b)

except Exception as e:
    print(f"your try block is facing : {e}")

enter the first value  8
enter the second value "hello"

your try block is facing : unsupported operand type(s) for /: 'int' and 'str'

In [41]:
# multiple exceptions

try: 
    
    a = eval(input("enter the first value "))
    b = eval(input("enter the second value"))

    print(a/b)

except TypeError:
    print("when we try to perform actions inbetween two different types of the data we will get type error")
except ZeroDivisionError:
    print("if we use the denominator as 0 we will get Zero Division Error")
else:
    """
    a else block in a try except will execute when the try block runs without any error
    """
    print("try ran successfully")
finally:
    """
    regardless of try, except-- finally block always execute
    """
    print("end of the error handling")

enter the first value  8
enter the second value 0

if we use the denominator as 0 we will get Zero Division Error
end of the error handling

In [43]:
try:
    """
    according our wish or condition we can raise our own exceptions
    """
    a = eval(input(">"))
    if a>10:
        raise RuntimeError
    elif a<10:
        raise ValueError
        

    print("you guessed the right answer")
except RuntimeError:
    print("the guessed value is bigger than ans")

except ValueError:
    print("the guessed value is smaller than ans")

> 77

the guessed value is bigger than ans

In [46]:
# create own exceptions

class ValueBigError(Exception):
    pass

class ValueSmallError(Exception):
    pass



try:
    """
    according our wish or condition we can raise our own exceptions
    """
    a = eval(input(">"))
    if a>10:
        raise ValueBigError
    elif a<10:
        raise ValueSmallError

    print("you guessed the right answer")
except ValueBigError:
    print("the guessed value is bigger than ans")

except ValueSmallError:
    print("the guessed value is smaller than ans")

> 10

you guessed the right answer

In [2]:
# create own exceptions

class ValueBig(Exception):
    def __init__(self):
        self.message = "ValueBig exception happens when you guess bigger value then ans"

class ValueSmall(Exception):
    def __init__(self):
        self.message = "ValueSmall exception happens when you guess Smaller value then ans"



try:
    """
    according our wish or condition we can raise our own exceptions
    """
    a = eval(input(">"))
    if a>10:
        raise ValueBig
    elif a<10:
        raise ValueSmall

    print("you guessed the right answer")
except ValueBig as e:
    print(e.message)

except ValueSmall as e:
    print(e.message)

> -99

ValueSmall exception happens when you guess Smaller value then ans

In [54]:
# create own exceptions

class ValueBig(Exception):
    def __str__(self):
        return "ValueBig exception happens when you guess bigger value then ans"

class ValueSmall(Exception):
    def __str__(self):
        return "ValueSmall exception happens when you guess Smaller value then ans"



try:
    """
    according our wish or condition we can raise our own exceptions
    """
    a = eval(input(">"))
    if a>10:
        raise ValueBig
    elif a<10:
        raise ValueSmall

    print("you guessed the right answer")
except ValueBig as e:
    print(e)

except ValueSmall as e:
    print(e)

> 56

ValueBig exception happens when you guess bigger value then ans

# OOPS 
    object orientedd programming system -- using the object we can bundle n number functionalities as well as logics, blocks of code under single object
    => class -- it is a blueprint of objects with in a class we can write methods, variable, constructors, instance attributes inner classes
    => object -- a literal property accessor in other words instance of a class we can use the objects  to call all the methods, variables, attributes we can create n number of object for a class

    => inheritence deriving all of the properties, var, methods from a class to another class inheritence
    => polymorphism using some common methods or var we can use the shortcut to optimize the in other words one problem many form of solutions
    => encapsulation -- gathering n number of codes logics, block functionalities under a object
    is called encapsulations
    => showing the necessary part to the end user and hiding the logis and codes is called abstraction\

In [2]:
class Test1:
    print("this is the first oops concept message")

this is the first oops concept message

In [32]:
class Test1:
    x = 90
    y = 67
    print("this is the first oops concept message")

obj = Test1()
obj.x

this is the first oops concept message

90

In [6]:
obj.y

67

In [33]:
class Test1:
    def add(self, x,y):
        print(x+y)

obj = Test1()
obj.add(4,2)

6

In [34]:
print(obj.x)

AttributeError: 'Test1' object has no attribute 'x'

In [38]:
class Test1:
    """
    every constructor or a mehod we define within a class will take the first parameter as a instance
    """
    
    def add(self, x,y):
        """
        any function we define within a class we call it as a method
        """
        self.v1 = x
        self.v2 = y
        print(x+y)

obj = Test1()
obj.add(4,2)

6

In [39]:
obj.v1

4

In [37]:
obj.v2

2

In [41]:
class Test1:
    d1 = 78
    def add(self, x,y):
        print(x+y+self.d1)
        #print(x+y+d1)

obj = Test1()
obj.add(4,2)

84

In [42]:
class Test1:
    
    def values(self, x,y):
        self.v1 = x
        self.v2 = y
        

    def add(self):
        print(self.v1+self.v2)

    def sub(self):
        print(self.v1-self.v2)

    

obj = Test1()
obj.values(4,2)

In [43]:
obj.add()

6

In [44]:
obj.sub()

2

In [45]:
obj.v1

4

In [46]:
obj.v2

2

In [47]:
class Test1:
    def __init__(self,p1,p2):
        """
        initializer constructor will execute when we call or create an object for class so we can pass the 
        arguments for the class initializer will take those arguments
        __init__ will never use return statement
        explicitly also we can call a constructor
        """
        
        self.v1 = p1
        self.v2 = p2

    
    def add(self):
        return self.v1+self.v2

obj = Test1(4,2)
obj.add()

6

In [48]:
class Test1:
    d1 = 78
    
    def __init__(self, x,y):
        self.v1 = x
        self.v2 = y
        

    def add(self): # a method takes instance as first parameter -- instance method
        return self.v1+self.v2

    def sub(self):
        return self.v1-self.v2

    def calc(self):
        print(self.add(), self.sub())
        
obj = Test1(8,2)
obj.calc()

10 6

In [49]:
class Test1:
    a = 56
    def __init__(self, x,y):
        self.v1 = x
        self.v2 = y
        

    def add(self):
        return self.v1+self.v2

    @staticmethod
    def hello():
        """
        a method which does not have any relations in between class level or instance properties
        a stand alone method with in a class
        """
        
        return "hello world"

    @classmethod
    def world(cls):
        """
        a method which allow us to access only the class level properties or multpile instances 
        not with the specific instance level
        properties we cannot even call the instance method too
        """
        print(cls.a)
        print(cls.hello())
        #print(cls.add())
        #print(cls.v1)
        
        

obj = Test1(4,2)
obj.hello()

'hello world'

In [50]:
obj.world()

56
hello world

In [63]:
obj.add()

6

In [53]:
class Test1:
    def __init__(self, p1):
        self.v1 = p1

    def display(self):
        print("this is outer class methods with passed data ", self.v1)

    class Test2:
        def __init__(self, p2):
            self.v2 = p2

        def show(self):
            print("this is inner class methods with passed data ", self.v2)


obj = Test1(34)
obj.display()

this is outer class methods with passed data  34

In [54]:
obj.Test2(44).show()

this is inner class methods with passed data  44

In [55]:
innerobj = obj.Test2(23)
innerobj.show()

this is inner class methods with passed data  23

In [56]:
class Test1:
    def __init__(self, p1):
        self.v1 = p1
        self.Inner = self.Test2(89)

    def display(self):
        print("this is outer class methods with passed data ", self.v1)

    class Test2:
        def __init__(self, p2):
            self.v2 = p2

        def show(self):
            print("this is inner class methods with passed data ", self.v2)


obj = Test1(34)
obj.display()

this is outer class methods with passed data  34

In [57]:
obj.Inner.show()

this is inner class methods with passed data  89

In [58]:
# object modifications


class Test1:
    def __init__(self, p1, p2):
        self.x = p1
        self.y = p2
        #return 9

    def calc(self):
        return self.x+self.y,self.x-self.y,self.x*self.y,self.x/self.y

obj = Test1(4,2)
print(obj.calc())

print(obj.x)
print(obj.y)

#modifying the object values
obj.x = 8
obj.y = 4
print(obj.calc())

(6, 2, 8, 2.0)
4
2
(12, 4, 32, 2.0)

In [59]:
# instance modifications

class Test2:
    def __init__(self,name, salary):
        self.name = name
        self.salary = salary

    def fullname(self, lastname):
        self.name = self.name+lastname
        
        return f"the full name of the employee is  {self.name}"

    def salaryhike(self, hike):
        self.salary = self.salary+hike
        return f"the total salary with hike is {self.salary}"

obj = Test2("robert", 5000)
print(obj.name)
print(obj.salary)
print(obj.fullname("downey"))
print(obj.salaryhike(3000))
print(obj.name)
print(obj.salary)

robert
5000
the full name of the employee is  robertdowney
the total salary with hike is 8000
robertdowney
8000

In [60]:
# single inheritence -- a class derives the data from only one class

class A:
    x = 90
    def hello(self):
        return "hello world"


class B(A):
    pass

obj = B()
obj.hello()

'hello world'

In [61]:
obj.x

90

In [62]:
class A:
    x = 90
    def hello(self):
        return "hello world"


class B(A):
    def details(self):
        print(super().hello())
        print(super().x)
        return "this is sub class message"
    
obj = B()
obj.details()

hello world
90

'this is sub class message'

In [63]:
class A:
    x = 90
    def hello(self):
        return "hello world"


class B(A):
    def details(self):
        print(A.hello(self))
        print(A.x)

obj = B()
obj.details()

hello world
90

In [64]:
#multiple inheritence -- one subclass inheriting more than one superclass
class A:
    x = 90
    def hello(self):
        return "This is class A"


class B:
    def details(self):
       return "this class B"


class C(A,B):
    pass

obj = C()
print(obj.x)
obj.hello()

90

'This is class A'

In [65]:
obj.details()

'this class B'

In [66]:
# multilevel inheritence -- inheriting a Sub class with another class

class A:
    x = 90
    def hello(self):
        return "This is class A"


class B:
    def details(self):
       return "this class B"


class C(A,B):
    def show(self):
        return "this subclass C"


class D(C):
    pass

obj = D()

print(obj.x)
print(obj.details())
print(obj.show())
print(obj.hello())

90
this class B
this subclass C
This is class A

In [6]:
# multilevel inheritence -- inheriting a Sub class with another class

class A:
    x = 90
    def hello(self):
        return "This is class A"


class B:
    def details(self):
       return "this class B"


class C(A,B):
    def show(self):
        return "this subclass C"


class D(C):
    def call(self):
        print(super().hello())
        print(super().x)
        print(super().details())
        print(super().show())

obj = D()

obj.call()

This is class A
90
this class B
this subclass C

In [8]:
#Hybrid inheritences -- one superclass inherited by more than on subclasses

class A:
    
    def display(self):
        return "hello world"

class B(A):
    def show(self):
        print(super().display())
        return "B sub class"


class C(A):
    def call(self):
        print(super().display())
        return "C sub class" 


objB = B()
print(objB.show())


objC = C()
print(objC.call())

hello world
B sub class
hello world
C sub class

In [161]:
a = 9
a = 45
a = [99, 45]

print(a)

[99, 45]

In [163]:

# overriding
def product(a,b):
    return a*b

def product(a,b,c):
    return a*b*c


def product(a,b,c,d):
    return a*b*c*d


print(product(4,2,6,1))
# print(product(3,2,7))
# print(product(4,2,3,1))

48

In [17]:
product(3,4)

TypeError: product() missing 2 required positional arguments: 'c' and 'd'

In [18]:
from multipledispatch import dispatch


# over loading
@dispatch(int, int)
def product(a,b):
    print("a function with two args")
    return a*b


@dispatch(int, int, int)
def product(a,b,c):
    print("a function with three args")
    return a-b-c

@dispatch(int, int, int, int)
def product(a,b,c,d):
    print("a function with four args")
    return a+b+c+d


print(product(4,2,3,1))
print(product(4,2,3))
print(product(4,2))

a function with four args
10
a function with three args
-1
a function with two args
8

In [164]:
# method overriding

class A:
    def show(self):
        return "this is a Class message"


class B(A):
    def show(self):
        """
        if the super class and the sub class having
        the same instance method name always child class instance method only will
        work. This will allow us to add more functionalities
        """
        
        return "this is child class message"


obj = B()
obj.show()

'this is child class message'

In [165]:
# overloading in the inheritence level

class A:
    def show(self):
        return "this is a Class message"


class B(A):
    def show(self):
        print(super().show())
        return "this is child class message"


obj = B()
obj.show()

this is a Class message

'this is child class message'

In [166]:

class Test1:
    def __init__(self,x):
        self.x = x


obj1 = Test1(4)
obj2 = Test1(8)
print(obj1.x)
print(obj2.x)

obj1+obj2 # we cannot  perform arithmetci ope in between two class obj

4
8

TypeError: unsupported operand type(s) for +: 'Test1' and 'Test1'

In [167]:
#operator overloading

class Test1:
    def __init__(self,x):
        self.x = x

    def __add__(self, other):
        return self.x+other.x

    def __sub__(self, other):
        return self.x-other.x
        
obj1 = Test1(4)
obj2 = Test1(8)

print(obj1+obj2)# when we perform + operator inbetween two objects it will trigger the __add__ constructor
print(obj1-obj2)

12
-4

In [6]:
# operator overriding
class Test1:
    def __init__(self,x):
        self.x = x

    def __add__(self, other):
        return self.x - other.x, self.x/other.x

obj1 = Test1(4)
obj2 = Test1(8)

obj1+obj2

(-4, 0.5)

In [169]:
class Test1:
    def add(self, a,b):
        return a+b
    def add(self, a,b,c):
        return a+b+c
    def add(self, a,b,c,d):
        return a+b+c+d

obj = Test1()
obj.add(2,4, 4,2)

12

In [170]:
# with in a class method overloading
class Test1:
    def add(self, a=None,b=None, c=None):
        if a!=None and b != None and c != None:
            return a+b+c
        elif a!=None and b!=None:
            return a+b
        else:
            return a
    

obj = Test1()
print(obj.add(2,4,5))
print(obj.add(2,4))
print(obj.add(2))

11
6
2

In [14]:
# duck typing


class Duck:
    def legs(self):
        print("duck has 2 legs")


class Tiger:
    def legs(self):
        print("Tiger has 4 legs")



class Fish:
    def legs(self):
        print("fish has no legs")



class spider:
    def legs(self):
        print("spider has 8 legs")


for obj in [Duck(), Tiger(), Fish(), spider()]:
    obj.legs()

duck has 2 legs
Tiger has 4 legs
fish has no legs
spider has 8 legs

In [171]:
# function any and all 

#all -- if we want to check every element in a seq  shoud be true

l1 = [12,23,45,6,0,'']
all(l1)

False

In [172]:
# function any and all 

#all -- if we want to check every element in a seq  shoud be true

l1 = [12,23,45,6]
all(l1)

True

In [173]:
# function any and all 

#all -- if we want to check every element in a seq  shoud be true

l1 = [12,23,45,6,0,2,5,9,None,(),"" ]
false_values = [i for i in l1 if bool(i) == False]
print(false_values)

for val in false_values:
    print(l1.index(val))
#all(l1)

[0, None, (), '']
4
8
9
10

In [174]:
#any -- if we want to check at least anyone value true we can consider that as a true value
l1 = [0, None, []]

any(l1)

False

In [175]:
#any -- if we want to check at least anyone value true we can consider that as a true value
l1 = [0, None, [3]]

any(l1)

True

# iterators
    an object that allows you to traverse through all the element of the sequence
    one element at a time without needing know the underlying memory or data type

In [1]:
# iter -- will convert a sequence into an iterable object
# the loops they will create a explicit variable and store every value of the sequence anc consume memory

l1 = [3,2,6,4]
obj = iter(l1)
next(obj)

3

In [2]:
next(obj)

2

In [3]:
next(obj)

6

In [4]:
next(obj)

4

In [5]:
next(obj)

StopIteration:

In [6]:
l1 = "hello"
obj = iter(l1)
next(obj)

'h'

# Generaors:
     a type of iterables that allow us to generate values one at a time as we iterate through them, instead of string them all in
     memory at once.
     they are usefule for handling alrge datasets or streams of data efficiently
     values are produced only when they needed

In [7]:
# generators are concised way of create iterator memory efficient way

def fun():
    return 3

for i in fun():
    print(i)

TypeError: 'int' object is not iterable

In [8]:
def fun():
    yield 3
    yield 5
    yield 9

for i in fun():
    print(i)

3
5
9

# Difference between Generator and Functions

    Functions:
        use return to return a single value
        start the execution from the beginning each time
        suitable for computations requiring the entire function
        execution and all the values at once

    generators:
        use yield to produce values
        maintain state between calls
        Suitable for streaming large datasets

In [9]:
def my_generator():
    """
    the yield keyword pauses the function, save its current state
    when the function is getting called again, it resumes executions from where it
    left off
    """
    
    yield 1
    yield 2
    yield 3

obj = my_generator()

print(next(obj))
print(next(obj))
print(next(obj))

1
2
3

In [9]:
gen1 = (x*2 for x in range(5))

next(gen1)

0

In [10]:
next(gen1)

2

In [11]:
next(gen1)

4

In [12]:
next(gen1)

6

In [13]:

def fib(n):
    a,b = 0,1
    while a<n:
        yield a
        a,b = b,a+b


for i in fib(2000):
    print(i)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597

In [15]:
from collections import *

"""
named tuple -- its like a regular tuple but provides named fields to access the data of the tuple
for better readability
"""


# namedtuple allow to access tuple records using keys
std = namedtuple("std", ["name", "id", "city"])  # defining the keys for the tuple
s1 = std("user1", 4, "bengaluru")

s1[1]

4

In [16]:
s1.city

'bengaluru'

In [1]:
import collections
dir(collections)

['ChainMap',
 'Counter',
 'OrderedDict',
 'UserDict',
 'UserList',
 'UserString',
 '_Link',
 '_OrderedDictItemsView',
 '_OrderedDictKeysView',
 '_OrderedDictValuesView',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_chain',
 '_collections_abc',
 '_count_elements',
 '_eq',
 '_iskeyword',
 '_itemgetter',
 '_proxy',
 '_recursive_repr',
 '_repeat',
 '_starmap',
 '_sys',
 '_tuplegetter',
 'abc',
 'defaultdict',
 'deque',
 'namedtuple']

In [17]:
#OrderedDict -- a dictionary that remembers the incoming outgoing actions
# preserves the insetion order
d1 = OrderedDict({"a":"apple", "b":"banana", "c":"cherry"})

print(d1)
d1.pop("a")
print(d1)

OrderedDict([('a', 'apple'), ('b', 'banana'), ('c', 'cherry')])
OrderedDict([('b', 'banana'), ('c', 'cherry')])

In [18]:
d1["a"] = "jackfruit"
d1

OrderedDict([('b', 'banana'), ('c', 'cherry'), ('a', 'jackfruit')])

In [19]:
#defaultdict -- a dictionary that never throws an error but returns default value

dd = defaultdict(lambda : 50)
dd["a"] = 90
dd["b"] = 30
dd["c"] = 12

dd

defaultdict(<function __main__.<lambda>()>, {'a': 90, 'b': 30, 'c': 12})

In [20]:
dd["m"]

50

In [21]:
dd["a"]

90

In [23]:
d1 = {"a":"apple", "b":"banana", "c":"cherry"}
d2 = {"e":"elephant", "f":"fruit"}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [25]:
d1|d2

{'a': 'apple', 'b': 'banana', 'c': 'cherry', 'e': 'elephant', 'f': 'fruit'}

In [26]:
# allow us to groups multiple dictionaries into a single logical view
ChainMap(d1,d2)  # will bring more than one dictionary in a tuple

ChainMap({'a': 'apple', 'b': 'banana', 'c': 'cherry'}, {'e': 'elephant', 'f': 'fruit'})

In [27]:
#deque -- it will add or remove the data from start also

l1 = deque([3,2,6,4])
l1.popleft()

3

In [28]:
l1.appendleft(8)

In [29]:
l1

deque([8, 2, 6, 4])

In [1]:
# Counter  -- it will return each element occurance count
import collections

l1 = [1,2,3,4,5,1,2,3,4,5,1,2,3]
collections.Counter(l1)

Counter({1: 3, 2: 3, 3: 3, 4: 2, 5: 2})

In [3]:
# to customize the a dictionary according  to our wish we use "UserDict"

from collections import *

class CustomDict(UserDict):
    def popitem(self):
        """
        disabling the popitem from our customized dictionary
        """
        raise RuntimeError("you are not authorized to remove any data from my dictionary")

    def add_values(self):
        """
        introducing a new key into the dictionary
        """
        result = []
        for key in self:
            result.append(self[key])

        return sum(result)


cd_1 = CustomDict({"apple":34, "banana":23, "cherry":90})

#cd_1.popitem()

cd_1.keys()

KeysView({'apple': 34, 'banana': 23, 'cherry': 90})

In [4]:
cd_1.add_values()

147

In [6]:
class CustomList(UserList):
    def append(self, a = None):
        """
        disabling the append method
        """
        print("adding new elements are prohibited in my list")

    def multitwo(self):
        """
        introducting a method that will multiply all the elements in the list
        """
        result = []
        for i in self:
            result.append(i*2)
        return result


obj = CustomList([5,2,7,9,1,45])

obj.append(90)

adding new elements are prohibited in my list

In [7]:
obj

CustomList([5, 2, 7, 9, 1, 45])

In [8]:
obj.multitwo()

[10, 4, 14, 18, 2, 90]

In [1]:
# in python if we want to create basic ui we have a inbuild library called tkinter

import tkinter as tk

window = tk.Tk()  # a basic layout

window.title("basic python UI")

window.mainloop()

In [2]:
import tkinter as tk

window = tk.Tk()  # a basic layout

window.title("basic python UI")

Label = tk.Label(window, text = "Hello this is Python Tkinter GUI", font = ("Arial", 12))
Label.pack()

window.mainloop()

In [3]:
import tkinter as tk

window = tk.Tk()  # a basic layout

window.title("basic python UI")
window.geometry("500x500") # setting the default size of the GUI

Label = tk.Label(window, text = "Hello this is Evening python batch", font = ("Arial", 12))
Label.pack()

window.mainloop()

In [4]:
import tkinter as tk

window = tk.Tk()  # a basic layout

window.title("basic python UI")
window.geometry("500x500") # setting the default size of the GUI

Label = tk.Label(window, text = "Hello this is Evening python batch", font = ("Arial", 12))
Label.pack()

def fun():
    Label.config(text = "you clicked the button")


button = tk.Button(window, text = "click here", command = fun)
button.pack(pady = 10)


window.mainloop()

In [5]:
import tkinter as tk

window = tk.Tk()  # a basic layout

window.title("basic python UI")
window.geometry("500x500") # setting the default size of the GUI

Label = tk.Label(window, text = "Hello this is Evening python batch", font = ("Arial", 12))
Label.pack()

def fun():
    Label.config(text = f"Hello Mr. {entry.get()}")

entry = tk.Entry(window, width = 20)
entry.pack()

button = tk.Button(window, text = "click", command = fun)
button.pack()

window.mainloop()

In [6]:
import tkinter as tk

window = tk.Tk()  # initializing a basic window

window.title("Basic Title")

window.geometry("600x600")

label = tk.Label(window, text = "This is my TK GUI message", font = ("Times New Roman", 20))
label.pack(pady = 10)

def fun():
    label.config(text = f'Hello MRs {feedback.get("1.0", "end- 1c")}')  # get(start, end)


feedback = tk.Text(window, height = 10, width = 20)   # bigger texts 
feedback.pack(pady = 6)

# insert("1.o") enter the text into the specified index
feedback.insert("1.0", "Hello, Tkinter is a basic GUI development library ")


button = tk.Button(window, text = "Submit", command = fun)
button.pack(pady = 30)



window.mainloop()

In [6]:
import tkinter as tk
from tkinter import ttk


window = tk.Tk()
window.title("Spin box")
window.geometry("400x400")

label = tk.Label(window, text = "This is my TK GUI message", font = ("Times New Roman", 20))
label.pack(pady = 10)

spin =  ttk.Spinbox(window, from_=0, to= 15, wrap = True)
spin.pack()

window.mainloop()

In [7]:
import tkinter as tk
from tkinter import messagebox


window = tk.Tk()
window.title("show box")
window.geometry("400x400")


label = tk.Label(window, text = "This is my TK GUI message", font = ("Times New Roman", 20))
label.pack(pady = 10)

def hello():
    messagebox.showinfo("success")


button  = tk.Button(window, text = "click", command = hello)
button.pack()    

window.mainloop()

In [8]:
import tkinter as tk


window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

# drawing the designs 
grap = tk.Canvas(window, width = 400, height = 250, bg = "grey")
grap.pack(pady=10)
grap.create_rectangle(170,240,250,175, fill = "red")
window.mainloop()

In [9]:
import tkinter as tk
from tkinter.ttk import Combobox

window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

# creating a dropdown box
combo = Combobox(window, values = ["apple", "orange", "banana", "kiwi"])
combo.set("choose the fruit")
combo.pack(pady = 20)
window.mainloop()

In [1]:
import tkinter as tk


window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

# displaying  messages in the window body
label = tk.Label(window, text = "python based GUI development",font = ("Verdana", 20))
label.pack(pady = 20)

def check_status():
    if var.get():  # returns the current state of the box
        label.config(text = "Check box has been marked!!")
    else:
        label.config(text = "you have to agree the terms and conditions!!")


var = tk.BooleanVar()  # track the state of  the checkbutton
checkbox = tk.Checkbutton(window, text = "MarkHere", variable = var, command = check_status)
checkbox.pack(pady = 10)

label = tk.Label(window, text = "check box need to be checked", font = ("Arial", 13))
label.pack(pady = 10)
window.mainloop()

In [2]:
import tkinter as tk


window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

#display the selected option
def selected():
    label.config(text = f" Selected option is {var.get()}")


var = tk.StringVar(value = "Option not Chosen")

#creating Radion buttons
r1 = tk.Radiobutton(window, text = "Python with Django", variable= var, value = "Python with Django", command=selected)
r2 = tk.Radiobutton(window, text = "Python with DataScience", variable= var, value = "Python with DataScience", command=selected)
r3 = tk.Radiobutton(window, text = "Python with AI", variable= var, value = "Python with AI", command=selected)
r1.pack(pady=10)
r2.pack(pady = 10)
r3.pack(pady=10)

label = tk.Label(window, text = "Selected Option")
label.pack(pady = 10)
window.mainloop()

In [3]:
import tkinter as tk


window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

menu = tk.Menu(window)

menu.add_command(label = "File", command = lambda :print("you have clicked file"))
menu.add_command(label = "Edit", command = lambda :print("you have clicked Edit"))

window.config(menu = menu)

window.mainloop()

you have clicked Edit
you have clicked file

In [4]:
import tkinter as tk


window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

menu_bar = tk.Menu(window)

file_menu = tk.Menu(menu_bar, tearoff = 0)
file_menu.add_command(label = "NewFile", command = lambda : print("New File opening in progress"))
file_menu.add_command(label = "Save", command = lambda : print("File saving in progress"))
file_menu.add_command(label = "open", command = lambda : print("File opening in progress"))

menu_bar.add_cascade(label ="File", menu = file_menu)

edit_menu = tk.Menu(menu_bar, tearoff = 0)
edit_menu.add_command(label = "Copy", command = lambda : print("content copying in progress"))
edit_menu.add_command(label = "Paste", command = lambda : print("content copying in progress"))
edit_menu.add_command(label = "delete", command = lambda : print("content copying in progress"))

menu_bar.add_cascade(label ="Edit", menu = edit_menu)


window.config(menu = menu_bar)

window.mainloop()

File opening in progress
content copying in progress

In [24]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Error parsing dependencies of textract: .* suffix can only be used with `==` or `!=` operators
    extract-msg (<=0.29.*)
                 ~~~~~~~^

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
from mysql import connector

connection = connector.connect(user = "root", password = "12345", host = "localhost", db = "emp")

In [1]:
from mysql import connector

connection = connector.connect(user = "root", password = "12345", host = "localhost", db = "emp")

cursor = connection.cursor()  # which executes the mysql queries and stores the result
cursor.execute("show tables")
tables = cursor.fetchall()

for table in tables:
    print(table)

('address',)
('customers',)
('departments',)
('empcopy',)
('employ',)
('employee_view',)
('employees',)
('high_salary',)
('high_salary_emp',)
('locations',)
('mobile',)
('movies',)
('orders',)
('persons',)
('products',)
('sales',)
('student',)
('workers',)

In [4]:
from mysql import connector

connection = connector.connect(user = "root", password = "12345", host = "localhost", db = "emp")

cursor = connection.cursor()
cursor.execute("select * from empcopy")
records = cursor.fetchall()

for record in records:
    print(record)

('front end', 'IT', 'washingto dc', 35000.0, 'sanfrancisco, us', None)
('backend end', 'IT', 'bleeker street dc', 40000.0, 'los vegas, us', None)
('AI', 'IT', 'manhatton dc', 50000.0, 'los angeles, us', None)
('ML developer', 'IT', 'san francisco', 11000.0, 'str1 manhattan', None)
('data analyst', 'IT', 'los angeles', 70000.0, 'str1 manhattan', None)
('AI engineer', 'IT', 'san francisco', 90000.0, 'baker st', None)
('dev ops', 'IT', 'alaska', 25000.0, 'chris st,11223', None)
('cloud engineer', 'IT', 'florida', 35000.0, 'evans st,11223', None)
('ceo', 'admin', 'newyork', 300000.0, 'manhattan st', None)
('AI engineer', 'IT', 'Embrun', 11000.0, 'Boston Canada', None)
('IOT engineer', 'IT', 'united states', 20000.0, 'new jersy', None)
('data maintainer', 'IT', 'paris england', 9000.0, 'embrun canada', None)
('computer vision engineer', 'IT', 'united states', 19000.0, 'texas', None)
('data arcitect', 'IT', 'florida', 7000.0, 'embrun canada', None)
('image processor', 'IT', 'england', 9200.0, 'london', None)
('reactjs developer', 'IT', 'russia', 4000.0, 'beijing', None)
('query support', 'IT', 'north boston', 18000.0, 'german', None)
('angularjs developer', 'IT', 'moscow', 92000.0, 'moscow', None)
('ds algo', 'IT', 'hyderabad', 20000.0, 'ranivista hbd', None)
('electronics', 'IT', 'kenya', 1000.0, 'mumbai', None)
('c sharp developer', 'IT', 'russia', 5000.0, 'calicut', None)
('data preprocessig', 'IT', 'india', 2000.0, 'bengaluru', None)
('data creating', 'IT', 'india', 3000.0, 'hyderabad', None)
('content creater', 'IT', 'cuiping', 300.0, 'hello', None)
('mentor', 'IT', 'losvegas', 400.0, 'united states', None)
('racer', 'IT', 'san francisco', 14000.0, 'watson', None)
('firewalldeveloper', 'IT', 'switzerland', 4000.0, 'venice', None)
('racer', 'IT', 'caribean', 15000.0, 'sparrow', None)
('c ++ developer', 'IT', 'moscow', 55000.0, 'ville', None)
('c ++ developer', 'IT', 'moscow', 55000.0, 'ville', None)
('guide', 'IT', 'qin dynasty', 55000.0, 'china wall', None)
('plummer', 'IT', 'caribean bay', 15000.0, 'xyz street', None)
('translator', 'IT', 'france', 55000.0, 'paris tower', None)
('space scientist', 'IT', 'new jersey', 65000.0, 'los angeles tower', None)
('astrounat', 'IT', 'mars bay', 150000.0, 'xyz street', None)
('receptionist', 'IT', 'venus bay', 14000.0, 'abz street', None)
('receptionist', 'IT', 'venus bay', 14000.0, 'abz street', None)
('docker expert', 'IT', 'paris', 65000.0, 'WTC angeles tower', None)
('type writing', 'IT', 'lamburgh', 5000.0, 'magic st', None)
('director', 'IT', 'hollywood', 39000.0, 'oscar street', 600)
('pilot', 'IT', 'Airport city', 60000.0, 'aeroplane str', 600)
('firwall developer', 'devops', 'newyork', 50000.0, 'baker st newjersey', None)
('python tutor', 'edu', 'france', 20000.0, 'paris,eiffel tower', 600)
('gardner', 'Agri cultural', 'umbrella', 4000.0, 'drawing street', None)
('lawn maintenance', 'Decoration', 'alaska', 39000.0, 'slaugter street', None)
('data engineer', 'data processes', 'sony', 5000.0, 'info street', 900)
('musician', 'music', 'sony', 5000.0, 'info street', 900)
('photographer', 'art', 'san franscisco', 9000.0, 'art street', 1200)
('docker expert', 'cloud computing', 'ontorio', 65000.0, 'WTC angeles tower, paris', 370)
('driver', 'car', 'toronto', 65000.0, 'WTC angeles tower, canada', 370)

In [3]:
from mysql import connector

connection = connector.connect(user = "root", password = "12345", host = "localhost", db = "emp")

cursor = connection.cursor()
cursor.execute("insert into empcopy values('driver','car','toronto',65000, 'WTC angeles tower, canada', 370)")

connection.commit()

In [5]:
import tkinter as tk
from tkinter import messagebox
import mysql.connector

# Database connection
def connect_db():
    try:
        conn = mysql.connector.connect(
            host="localhost",
            user="root",
            password="12345",
            database="emp"
        )
        return conn
    except mysql.connector.Error as e:
        messagebox.showerror("Database Error", f"Error connecting to database:\n{e}")
        return None

# Insert job into database
def insert_job():
    job = entry_job.get()
    sal = entry_sal.get()
    city = entry_city.get()
    address = entry_address.get()
    incentive = entry_incentive.get()
    
    if job and sal and city and address and incentive:
        conn = connect_db()
        if conn:
            cursor = conn.cursor()
            cursor.execute("INSERT INTO empcopy (job, sal, city, address, incentive) VALUES (%s, %s, %s, %s, %s)", 
                           (job, sal, city, address, incentive))
            conn.commit()
            cursor.close()
            conn.close()
            messagebox.showinfo("Success", "Job added successfully!")
            clear_entries()
            fetch_jobs()
    else:
        messagebox.showwarning("Input Error", "Please enter all fields!")

# Fetch and display jobs
def fetch_jobs():
    conn = connect_db()
    if conn:
        cursor = conn.cursor()
        cursor.execute("SELECT * FROM empcopy")
        rows = cursor.fetchall()
        cursor.close()
        conn.close()

        listbox_jobs.delete(0, tk.END)  # Clear existing entries
        for row in rows:
            listbox_jobs.insert(tk.END, f"Job: {row[0]} | Salary: {row[1]} | City: {row[2]} | Address: {row[3]} | Incentive: {row[4]}")

# Clear input fields
def clear_entries():
    entry_job.delete(0, tk.END)
    entry_sal.delete(0, tk.END)
    entry_city.delete(0, tk.END)
    entry_address.delete(0, tk.END)
    entry_incentive.delete(0, tk.END)

# Tkinter UI
root = tk.Tk()
root.title("MySQL Tkinter Job Management")
root.geometry("450x500")

tk.Label(root, text="Job:").pack()
entry_job = tk.Entry(root)
entry_job.pack()

tk.Label(root, text="Salary:").pack()
entry_sal = tk.Entry(root)
entry_sal.pack()

tk.Label(root, text="City:").pack()
entry_city = tk.Entry(root)
entry_city.pack()

tk.Label(root, text="Address:").pack()
entry_address = tk.Entry(root)
entry_address.pack()

tk.Label(root, text="Incentive:").pack()
entry_incentive = tk.Entry(root)
entry_incentive.pack()

tk.Button(root, text="Add Job", command=insert_job).pack(pady=5)

tk.Label(root, text="Job List:").pack()
listbox_jobs = tk.Listbox(root, width=70, height=10)
listbox_jobs.pack()

tk.Button(root, text="Refresh List", command=fetch_jobs).pack(pady=5)

# Initial fetch
fetch_jobs()

root.mainloop()

In [ ]:
#nettwork programming--all about using python language to handle computer networking requirements:
#socket --it will provide endpoint of a two way commuincation link between  two programs runnig on the network
#server:

import socket
#creating a socket
s = socket.socket()#the connection will ipv4 or ipv6
print('socket created')
#to connect with a port we have to use bind operation  with the socket as a local host
s.bind(('localhost',9998))
#controlling how many number requests allowed for a server
s.listen(2)
print('looking for connection')
while True:
    c, addr = s.accept()
    name = c.recv(1024).decode()#from the client request we receive the message and decode
    print('connection established',addr)
    #computer can understand byte language that kind of data only we can pass through a port
    c.send(bytes('Testing the python server to the client ','utf-8'))
    print('test message that client sent to the server   :  ', name)
    c.close()

socket created
looking for connection
connection established ('127.0.0.1', 53845)
test message that client sent to the server   :   responding this is client

In [1]:
#client 

import socket

client_socket = socket.socket()

#binding the server address

s_address = ("localhost", 9998)

client_socket.connect(s_address)

try:
    #send data
    client_socket.sendall(b"jupyter python client")

    #receive data from the server
    response = client_socket.recv(1024)
    print("server says ", response.decode())
finally:
    client_socket.close()

ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it

In [1]:
from datetime import datetime

now =  datetime.now() # retriving the time instance 
now

datetime.datetime(2025, 6, 16, 19, 8, 37, 600044)

In [2]:
print("year", now.year)
print("month", now.month)
print("day", now.day)
print("hour", now.hour)
print("seconds", now.second)
print("minutes", now.minute)

year 2025
month 6
day 16
hour 19
seconds 37
minutes 8

In [3]:
now.date() # to fetch date only

datetime.date(2025, 6, 16)

In [4]:
now.time() # to fetch time only

datetime.time(19, 8, 37, 600044)

In [5]:
now = datetime.now()
# formatting the time
ft = now.strftime("year %Y : month %m : day %d -- hour %H : minute %M : second %S")
ft

'year 2025 : month 06 : day 16 -- hour 19 : minute 10 : second 24'

In [6]:
from datetime import datetime, date

date1 = date(2024,10,23)

date2 = date(2025,11,15) # subtracting one time from another time
dayscount = date2-date1
dayscount.days

388

In [7]:
from datetime import datetime, timedelta

days = timedelta(days = 90)

date2 = datetime.today() # subtracting one time from another time
date2+days

datetime.datetime(2025, 9, 14, 19, 12, 38, 826524)

In [8]:
date2.year

2025

In [9]:
now = datetime.now()
now.strftime("%A")

'Monday'

In [10]:
now = datetime.now()
now.strftime("%B")

'June'

In [11]:
now = datetime.now()
now.strftime("%a")

'Mon'

In [12]:
now = datetime.now()
now.strftime("%b")

'Jun'

In [13]:
random_day = datetime(2024,1,19)
print(random_day.strftime("%A"))
print(random_day.strftime("%B"))
print(random_day.strftime("%b"))
print(random_day.strftime("%a"))

Friday
January
Jan
Fri

In [14]:
import time
lt = time.localtime()
lt

time.struct_time(tm_year=2025, tm_mon=6, tm_mday=16, tm_hour=19, tm_min=16, tm_sec=42, tm_wday=0, tm_yday=167, tm_isdst=0)

In [15]:
f"year {lt.tm_year} month {lt.tm_mon} day {lt.tm_mday}  hour {lt.tm_hour}"

'year 2025 month 6 day 16  hour 19'

In [16]:
t1 = time.time()  # epoch time
t1

1750081678.7562108

In [17]:
time.ctime(t1)

'Mon Jun 16 19:17:58 2025'

In [18]:
# sleep from time library will freeze the program for certain amount of time

print("a message before sleep")
time.sleep(5)
print("a message after 5 seconds")

a message before sleep
a message after 5 seconds

In [19]:
# digital clock using the time library

import time

while True:
    lt = time.localtime()
    instance = time.strftime("%H : %M :%S", lt)
    print(instance)
    time.sleep(1)

19 : 20 :38
19 : 20 :39
19 : 20 :40
19 : 20 :41
19 : 20 :42
19 : 20 :43
19 : 20 :44
19 : 20 :45
19 : 20 :46

KeyboardInterrupt:

In [20]:
# calculating the execution time of a program

# capture the starting time of the program
st = time.time()

for i in range(100000000):
    pass


et = time.time() # capturing the ending time of the program

print("total consumed time : ", et-st)

total consumed time :  3.7911055088043213

In [21]:
# capture the starting time of the program
st = time.process_time()

for i in range(100000000):
    pass


et = time.process_time() # capturing the ending time of the program

print("total consumed time : ", et-st)

total consumed time :  3.21875

In [22]:
time.gmtime()

time.struct_time(tm_year=2025, tm_mon=6, tm_mday=16, tm_hour=13, tm_min=53, tm_sec=22, tm_wday=0, tm_yday=167, tm_isdst=0)

In [23]:
utc = time.gmtime()
print(f"utc time {time.strftime('%H %M %S', utc)}")

utc time 13 53 23

In [24]:
# in python we have GIL global interpretter lock this will allow pythong interpretter
# execute one task(Thread) at a time
import time

def hello():
    for i in range(10):
        print("hello " , i)
        time.sleep(1)


def welcome():
    for i in range(10):
        print("python says greetings " , i)
        time.sleep(1)

hello()
welcome()

hello  0
hello  1
hello  2
hello  3
hello  4
hello  5
hello  6
hello  7
hello  8
hello  9
python says greetings  0
python says greetings  1
python says greetings  2
python says greetings  3
python says greetings  4
python says greetings  5
python says greetings  6
python says greetings  7
python says greetings  8
python says greetings  9

In [27]:
# Threading  will help us to execute more than one thread at a time
import threading
import time


def hello():
    for i in range(10):
        print("first thread " , i)
        time.sleep(1)


def welcome():
    for i in range(10):
        print("second thread  " , i)
        time.sleep(1)

# hello()
# welcome()

# creatign the threads and start them at same time only
t1 = threading.Thread(target = hello)
t2 = threading.Thread(target = welcome)
t1.start()
t2.start()

first thread  0
second thread   0
first thread  1
second thread   1
first thread  2
second thread   2
first thread  3
second thread   3
first thread second thread   4
 4
second thread  first thread  5
 5
first thread  6
second thread   6
first thread  7
second thread   7
first thread second thread   8
 8
first thread second thread   9
 9

In [29]:
import threading
import time

st = time.time()

def hello():
    for i in range(10):
        print("hello " , i)
        time.sleep(1)


def welcome():
    for i in range(10):
        print("good evening " , i)
        time.sleep(1)

# hello()
# welcome()

# creatign the threads and start them at same time only
t1 = threading.Thread(target = hello)
t2 = threading.Thread(target = welcome)


t1.start()
t2.start()
t1.join()
t2.join()
# we use thread.join() which allows the threads to complete their task then procedd with remaining flow
et =time.time()

print("total consumet time ", et-st)

hello  0
good evening  0
hello  1
good evening  1
hello good evening  2
 2
good evening  3
hello  3
hello good evening  4
 4
good evening  5
hello  5
good evening hello  6
 6
good evening hello  7
 7
good evening hello  8
 8
hello  9
good evening  9
total consumet time  10.013272762298584

In [32]:
import re
"""
regulare expression will help us to find the patterns, words, boundaries, starts with,
endswith, numbers, special characters, a word that starts with a character, what
are the boundaries of specific word...etcetra"""

txt1 = "the cat and the rat fighting for the hat on the top of a mat and the cat little fat"

# to check a string starts with use ^
result  =  re.findall("^the", txt1)
result

['the']

In [33]:
txt1 = "the cat and the rate fighting for the hat on the top of a mat and the cat little fat"

# to check a string ends with use $
result  =  re.findall("fat$", txt1)
result

['fat']

In [34]:
txt1 = "the cat and the rat fighting for the hat on the top of a mat and the cat little fat"

# to find out the patterns from a string
result  =  re.findall("atx*", txt1)
result

['at', 'at', 'at', 'at', 'at', 'at']

In [35]:
txt1 = "the cat and the rat fighting for the hat on the top of a mat and the cat little fat"

# to find out the words after for
result  =  re.findall("for.*", txt1)
result

['for the hat on the top of a mat and the cat little fat']

In [36]:
txt2 = "The Rain Falls @ Spain starts 4 and continued till Next day that made big and small fallls"

result = re.findall("al{2}",txt2)
result

['all', 'all', 'all']

In [38]:
txt2 = "The Rain Falls @ Spain starts 4 and continued till Next day that made big and small fallls"

result = re.findall("[m-s]",txt2)
result

['n',
 's',
 'p',
 'n',
 's',
 'r',
 's',
 'n',
 'o',
 'n',
 'n',
 'm',
 'n',
 's',
 'm',
 's']

In [39]:
txt2 = "The Rain Falls @ Spain starts @4 # clock & __ continued $till Next day* that made (big) and small fallls"

result = re.findall("[@,#,$,&]",txt2)
result

['@', '@', '#', '&', '$']

In [40]:
txt2 = "The Rain Falls @ Spain starts 4.45 and continued till 7.23.563453445 Next day @ 4 that made big and small fallls"

result = re.findall("[0-9]",txt2)
result

['4',
 '4',
 '5',
 '7',
 '2',
 '3',
 '5',
 '6',
 '3',
 '4',
 '5',
 '3',
 '4',
 '4',
 '5',
 '4']

In [41]:
txt2 = "The Rain Falls @ Spain starts 4 and continued till Next day that made big and small fallls"

result = re.findall("till|Rain|big|cat|Tiger",txt2)
result

['Rain', 'till', 'big']

In [42]:
txt2 = "The Rain Falls @ Spain starts 4 and continued till Next day and that made big and small fallls"

result = re.findall("and",txt2)
result

['and', 'and', 'and']

In [43]:
txt2 = "The Rain Falls @ Spain starts 100 and continued till Next day and that 100 made big and small fallls"

result = re.findall("100",txt2)
len(result)

2

In [44]:
txt2 = "The Rain Falls @ Spain starts 4.55 and continued till Next day and that made big 9.56 and 78 small fallls"

result = re.findall("[0-9].[0-9][0-9]",txt2)
result

['4.55', '9.56']

In [45]:
import re

txt = "The Rain falling when we traveling by train at 55:30 it drain our warmness to -17 celsiums"

numbers = re.findall(r"\bf\w*", txt)
numbers

['falling']

In [46]:
#extracting all the terms that begins with "t"
import re

txt = "My flight is 04.300 am tommorow, I have to make purchases before today 11.00 o'clock, and it will cost me 9432"


print(re.findall(r"\bt\w+", txt))

['tommorow', 'to', 'today']

In [47]:
txt2 = "The Rain Falls @ Spain starts 4 and continued till Next day and that made big and small fallls"

result = re.search("Spain",txt2)
print(result)
result.span()

<re.Match object; span=(17, 22), match='Spain'>

(17, 22)

In [48]:
txt2 = "The Rain Falls @ Spain starts 4 and continued till Next day and that Spain made big and small fallls"

result = re.search("Spain",txt2)
print(result)
result.span()

<re.Match object; span=(17, 22), match='Spain'>

(17, 22)

In [49]:
txt = "The Cat and Rats are not Live togethers and the are not friends"
result = re.sub("a", "e", txt)
result

'The Cet end Rets ere not Live togethers end the ere not friends'

In [50]:
a = "hello world"
b = a.replace("l", "r")
b

'herro worrd'

In [51]:
import re
txt = "The Cat and Rats are not Live togethers and the are not friends"
result = re.sub("\s", "_", txt)
result

'The_Cat_and_Rats_are_not_Live_togethers_and_the_are_not_friends'

In [52]:
import re
txt = "The Cat and Rats are not Live togethers and the are not friends"

result = re.split("\s", txt)
#result = re.split(" ", txt)
result

['The',
 'Cat',
 'and',
 'Rats',
 'are',
 'not',
 'Live',
 'togethers',
 'and',
 'the',
 'are',
 'not',
 'friends']

In [52]:
a = "hello world"
b = a.split()
b

['hello', 'world']

In [53]:
import re
txt = "The Cat and Rats are not Live togethers and the are not friends"

result = re.split("t", txt)
result

['The Ca',
 ' and Ra',
 's are no',
 ' Live ',
 'oge',
 'hers and ',
 'he are no',
 ' friends']

In [54]:
import re

# Sample text containing dates
text = "Today's date is 06-01-2025 and the project started on 2024/12/15. Another date is 15-12-2024."

# Regular expression pattern to match dates in formats like DD-MM-YYYY, YYYY/MM/DD, or MM/DD/YYYY
pattern = r'\b(?:\d{2}[/-]\d{2}[/-]\d{4}|\d{4}[/-]\d{2}[/-]\d{2})\b'

# Find all matches
dates = re.findall(pattern, text)

# Print the results
print("Extracted Dates:", dates)

Extracted Dates: ['06-01-2025', '2024/12/15', '15-12-2024']

In [55]:
import re

# Sample text containing emails
text = "Contact us at support@example.com or sales@example.co.in for more details. You can also reach john.doe123@domain.org."

# Regular expression pattern to match emails
pattern = r'[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'

# Find all matches
emails = re.findall(pattern, text)

# Print the results
print("Extracted Emails:", emails)

Extracted Emails: ['support@example.com', 'sales@example.co.in', 'john.doe123@domain.org']

In [56]:
import re

# Sample text containing URLs
text = "Visit our website at https://www.example.com or http://example.org. Also, check out www.test-site.net and sub.example.co.in/path?query=1."

# Regular expression pattern to match URLs
pattern = r'(https?://[^\s]+|www\.[^\s]+)'

# Find all matches
urls = re.findall(pattern, text)

# Print the results
print("Extracted URLs:", urls)

Extracted URLs: ['https://www.example.com', 'http://example.org.', 'www.test-site.net']

In [49]:
dir(re)

['A',
 'ASCII',
 'DEBUG',
 'DOTALL',
 'I',
 'IGNORECASE',
 'L',
 'LOCALE',
 'M',
 'MULTILINE',
 'Match',
 'NOFLAG',
 'Pattern',
 'RegexFlag',
 'S',
 'Scanner',
 'T',
 'TEMPLATE',
 'U',
 'UNICODE',
 'VERBOSE',
 'X',
 '_MAXCACHE',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_cache',
 '_casefix',
 '_compile',
 '_compile_repl',
 '_compiler',
 '_constants',
 '_expand',
 '_parser',
 '_pickle',
 '_special_chars_map',
 '_subx',
 'compile',
 'copyreg',
 'enum',
 'error',
 'escape',
 'findall',
 'finditer',
 'fullmatch',
 'functools',
 'match',
 'purge',
 'search',
 'split',
 'sub',
 'subn',
 'template']

# Numpy -- Numerical Python
 a famous library which adopted by python, keras, tensorflow, scikit lear.. etc ml and backend frameworks of python
     numpys are  allows all the operations which we can  perform on a list  apart from that we can perform mathematical operations, it will allow us to create 1D, 2D, 3D,.... arrays as well as  we can create random numbers arrays as well we can generate datas in between boundaries based, we can perform central tendencies  based on rows and cols on a matrix, we can extract the datas based on conditions , we can reshape 1 dimensional arrays to two dimensional vice versa till 3D,  we can do boolean masking. matrix multiplication, dot product

     numpys are faster than a list because unlike lists numpy are follows the continuous memory methods as well ilists are while iterating they take every elements on a list and works on the dtype memry allocation scattered memroy storag that makes a list is 50 times slower then numpy array because numpy array follows continuous memory format and it will easily retrives the data faster then a list

In [34]:
pip install numpy

Requirement already satisfied: numpy in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (1.24.3)
Note: you may need to restart the kernel to use updated packages.

WARNING: Error parsing dependencies of textract: .* suffix can only be used with `==` or `!=` operators
    extract-msg (<=0.29.*)
                 ~~~~~~~^

In [1]:
import numpy as np
np.__version__

'2.3.0'

In [2]:
print(np.__doc__)

NumPy
=====

Provides
  1. An array object of arbitrary homogeneous items
  2. Fast mathematical operations over arrays
  3. Linear Algebra, Fourier Transforms, Random Number Generation

How to use the documentation
----------------------------
Documentation is available in two forms: docstrings provided
with the code, and a loose standing reference guide, available from
`the NumPy homepage <https://numpy.org>`_.

We recommend exploring the docstrings using
`IPython <https://ipython.org>`_, an advanced Python shell with
TAB-completion and introspection capabilities.  See below for further
instructions.

The docstring examples assume that `numpy` has been imported as ``np``::

  >>> import numpy as np

Code snippets are indicated by three greater-than signs::

  >>> x = 42
  >>> x = x + 1

Use the built-in ``help`` function to view a function's docstring::

  >>> help(np.sort)
  ... # doctest: +SKIP

For some objects, ``np.info(obj)`` may provide additional help.  This is
particularly true if you see the line "Help on ufunc object:" at the top
of the help() page.  Ufuncs are implemented in C, not Python, for speed.
The native Python help() does not know how to view their help, but our
np.info() function does.

Available subpackages
---------------------
lib
    Basic functions used by several sub-packages.
random
    Core Random Tools
linalg
    Core Linear Algebra Tools
fft
    Core FFT routines
polynomial
    Polynomial tools
testing
    NumPy testing tools
distutils
    Enhancements to distutils with support for
    Fortran compilers support and more (for Python <= 3.11)

Utilities
---------
test
    Run numpy unittests
show_config
    Show numpy build configuration
__version__
    NumPy version string

Viewing documentation using IPython
-----------------------------------

Start IPython and import `numpy` usually under the alias ``np``: `import
numpy as np`.  Then, directly past or use the ``%cpaste`` magic to paste
examples into the shell.  To see which functions are available in `numpy`,
type ``np.<TAB>`` (where ``<TAB>`` refers to the TAB key), or use
``np.*cos*?<ENTER>`` (where ``<ENTER>`` refers to the ENTER key) to narrow
down the list.  To view the docstring for a function, use
``np.cos?<ENTER>`` (to view the docstring) and ``np.cos??<ENTER>`` (to view
the source code).

Copies vs. in-place operation
-----------------------------
Most of the functions in `numpy` return a copy of the array argument
(e.g., `np.sort`).  In-place versions of these functions are often
available as array methods, i.e. ``x = np.array([1,2,3]); x.sort()``.
Exceptions to this rule are documented.

In [3]:
import numpy as np
arr1 = np.array([3,2,6,7]) # a one dimensional array is a normal array without nested
arr1

array([3, 2, 6, 7])

In [4]:
# what if it is a hetrogeneous -- numpy array try convert all the elements as same dtype
arr1 = np.array([4,2,7, "Hello", False])
arr1

array(['4', '2', '7', 'Hello', 'False'], dtype='<U21')

In [5]:
# creating a two dimensional array

arr2 = np.array([[4,2,3],[5,1,8]])
arr2

array([[4, 2, 3],
       [5, 1, 8]])

In [6]:
arr1.ndim

1

In [8]:
arr2.ndim

2

In [9]:
arr2.shape

(2, 3)

In [10]:
arr2.dtype

dtype('int64')

In [13]:
arr2 = np.array([[4,2,3],[5,1,8]])
arr2

array([[4, 2, 3],
       [5, 1, 8]])

In [14]:
# how we can retrive the data from a2 Dimensional array
arr2[1,1]

np.int64(1)

In [15]:
arr2[1,2]

np.int64(8)

In [16]:
arr2[4444,2222]

IndexError: index 4444 is out of bounds for axis 0 with size 2

In [17]:
arr2 = np.array([[4,2,3],[5,1,8]])
print(arr2)
arr2[:,2] # all the row datas from the second column

[[4 2 3]
 [5 1 8]]

array([3, 8])

In [18]:
arr2[1,:] # retriving all the columns datas corresponding to row 1

array([5, 1, 8])

In [19]:
arr2[1,:2]

array([5, 1])

In [20]:
arr2[:,1]

array([2, 1])

In [21]:
import numpy as np

arr1 = np.zeros(3) # generating a 1 dimensional array filled with zeros 3 times
arr1

array([0., 0., 0.])

In [22]:
arr2 = np.zeros((3,3))
arr2

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [24]:
# 3D dimensional array -- a array that contains n number of 2 Dimensional array

arr3 = np.zeros((2, 2,3))
arr3

array([[[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]]])

In [25]:
print(arr3)
print(arr3.ndim)

[[[0. 0. 0.]
  [0. 0. 0.]]

 [[0. 0. 0.]
  [0. 0. 0.]]]
3

In [26]:
arr4 = np.zeros((2,2,2,2))
print(arr4)
print(arr4.ndim)

[[[[0. 0.]
   [0. 0.]]

  [[0. 0.]
   [0. 0.]]]


 [[[0. 0.]
   [0. 0.]]

  [[0. 0.]
   [0. 0.]]]]
4

In [30]:
import numpy as np

arr1 = np.ones((3,4))
arr1

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [27]:
arr2 = np.full((2,2),7)
arr2

array([[7, 7],
       [7, 7]])

In [28]:
arr3 = np.full_like(arr2,5)
arr3

array([[5, 5],
       [5, 5]])

In [29]:
# 3d indexing
import numpy as np

arr1 =np.array( [
    [
        [1,2],
        [3,4]
    ],
    [
        [5,6],
        [8,9]
    ]
])

print(arr1.shape)
print(arr1.ndim)
print(arr1[1,0,1]) #6
print(arr1[1,:,1]) #6,9
print(arr1[:,1,:])
print(arr1[:,1,1]) #4,9

(2, 2, 2)
3
6
[6 9]
[[3 4]
 [8 9]]
[4 9]

In [30]:
# genrating the random datas using the numpy 

#random.rand -- will generate float datas within the boundary of 0 and 1

arr1 = np.random.rand(2,3)
arr1

array([[0.88098844, 0.67201091, 0.83728163],
       [0.02519456, 0.23561362, 0.75768832]])

In [31]:
# to generat the random integers we can use random.randint

arr2 = np.random.randint(5,25, size = (3,3))
arr2

array([[ 5, 20, 10],
       [22, 15, 14],
       [ 8,  7,  8]], dtype=int32)

In [33]:
# how to modify the arrays data
arr2

array([[ 5, 20, 10],
       [22, 15, 14],
       [ 8,  7,  8]], dtype=int32)

In [34]:
arr2[1,2] = 67
arr2

array([[ 5, 20, 10],
       [22, 15, 67],
       [ 8,  7,  8]], dtype=int32)

In [35]:
arr2[2,:] = [88,99,77]
arr2

array([[ 5, 20, 10],
       [22, 15, 67],
       [88, 99, 77]], dtype=int32)

In [36]:
arr2[:,2] = 0
arr2

array([[ 5, 20,  0],
       [22, 15,  0],
       [88, 99,  0]], dtype=int32)

In [38]:
arr2 = np.random.randint(5,25, size = (2,3,3))
arr2

array([[[13, 18,  7],
        [12, 22, 10],
        [ 8,  6, 10]],

       [[15, 22, 13],
        [ 5, 12, 13],
        [ 8, 22, 21]]], dtype=int32)

In [39]:
arr2[1,1,:] = [33,44,55]
arr2

array([[[13, 18,  7],
        [12, 22, 10],
        [ 8,  6, 10]],

       [[15, 22, 13],
        [33, 44, 55],
        [ 8, 22, 21]]], dtype=int32)

In [40]:
arr2 = np.random.randint(5,25, size = (2,2,3,3))
arr2

array([[[[ 6,  9, 15],
         [ 9,  6, 16],
         [ 9, 24, 18]],

        [[15,  6, 17],
         [18, 14,  8],
         [ 8, 10, 21]]],


       [[[11, 19,  5],
         [17, 16, 12],
         [14, 24, 11]],

        [[19,  7, 10],
         [ 9, 14, 21],
         [11,  7,  5]]]], dtype=int32)

In [41]:
# merging the arrays 

arr1 = [[14, 20,  9, 4],
        [ 5, 21, 12, 23],
        [20, 20,  6, 12]]


arr2 = [[ 7, 18,  5],
        [33, 44, 55],
        [14,  9,  9]]

# if we want to merger two 2D arrays in a single 2d array we use vstack from np

arr3 = np.vstack([arr1,arr2])
arr3

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 4 and the array at index 1 has size 3

In [42]:
# merging the arrays 

arr1 = [[14, 20,  9],
        [ 5, 21, 12],
        [20, 20,  6],
        [11, 22, 33]
       ]


arr2 = [[ 7, 18,  5],
        [33, 44, 55],
        [14,  9,  9]]

# if we want to merger two 2D arrays in a single 2d array we use vstack from np

arr3 = np.vstack([arr1,arr2])
arr3

array([[14, 20,  9],
       [ 5, 21, 12],
       [20, 20,  6],
       [11, 22, 33],
       [ 7, 18,  5],
       [33, 44, 55],
       [14,  9,  9]])

In [43]:
# merging the arrays 

arr1 = [[14, 20,  9],
        [ 5, 21, 12],
        [20, 20,  6]]


arr2 = [[ 7, 18,  5],
        [33, 44, 55],
        [14,  9,  9]]

# if we want to merger two 2D arrays in a single 2d array we use vstack from np

arr3 = np.vstack([arr1,arr2])
arr3

array([[14, 20,  9],
       [ 5, 21, 12],
       [20, 20,  6],
       [ 7, 18,  5],
       [33, 44, 55],
       [14,  9,  9]])

In [44]:
arr3 = np.vstack([[arr1],[arr2]])
arr3

array([[[14, 20,  9],
        [ 5, 21, 12],
        [20, 20,  6]],

       [[ 7, 18,  5],
        [33, 44, 55],
        [14,  9,  9]]])

In [46]:
# to horizontally we can merge only 2D not 3d
arr3 = np.hstack([arr1,arr2])
arr3

array([[14, 20,  9,  7, 18,  5],
       [ 5, 21, 12, 33, 44, 55],
       [20, 20,  6, 14,  9,  9]])

In [47]:
arr4 = arr3.reshape(6,3)
arr4

array([[14, 20,  9],
       [ 7, 18,  5],
       [ 5, 21, 12],
       [33, 44, 55],
       [20, 20,  6],
       [14,  9,  9]])

In [49]:
arr5 = arr4.reshape(2,3,3)
arr5

array([[[14, 20,  9],
        [ 7, 18,  5],
        [ 5, 21, 12]],

       [[33, 44, 55],
        [20, 20,  6],
        [14,  9,  9]]])

In [51]:
arr5 = arr4.reshape(3,2,3)
arr5

array([[[14, 20,  9],
        [ 7, 18,  5]],

       [[ 5, 21, 12],
        [33, 44, 55]],

       [[20, 20,  6],
        [14,  9,  9]]])

In [52]:
# converting 3d to 2d
arr7 = arr5.reshape(6,3)
arr7

array([[14, 20,  9],
       [ 7, 18,  5],
       [ 5, 21, 12],
       [33, 44, 55],
       [20, 20,  6],
       [14,  9,  9]])

In [53]:
# converting 2d to 1d -- flatting
arr7.reshape(-1)

array([14, 20,  9,  7, 18,  5,  5, 21, 12, 33, 44, 55, 20, 20,  6, 14,  9,
        9])

In [54]:
arr6 = arr5[0]
arr6

array([[14, 20,  9],
       [ 7, 18,  5]])

In [55]:
arr6.reshape(3,2)

array([[14, 20],
       [ 9,  7],
       [18,  5]])

In [56]:
arr6 = arr6.reshape(-1) # conveting a array into one dimensional
arr6

array([14, 20,  9,  7, 18,  5])

In [57]:
# statistics
import numpy as np
arr1 = np.random.randint(3,18,size = (2,3))
arr1

array([[14,  5, 16],
       [10, 17,  5]], dtype=int32)

In [58]:
print(arr1.min())
print(np.min(arr1))

5
5

In [59]:
print(arr1.max())
print(np.max(arr1))

17
17

In [60]:
print(arr1.sum())
print(np.sum(arr1))

67
67

In [61]:
arr1 = np.random.randint(3,18,size = (2,3))
print(arr1)
print()
print(arr1.min(axis = 0))  # column based minimum value
print()
print(np.min(arr1,axis = 1))

[[14  7 13]
 [12 12  7]]

[12  7  7]

[7 7]

In [62]:
arr1 = np.random.randint(3,18,size = (2,3))
print(arr1)
print()
print(arr1.min(axis = 1))  # row based minimum value
print()
print(np.min(arr1,axis = 1))

[[ 3 10 14]
 [11 15  8]]

[3 8]

[3 8]

In [63]:
arr1 = np.random.randint(3,18,size = (2,3))
print(arr1)
print()
print(arr1.max(axis = 0))  # column based minimum value
print()
print(np.max(arr1,axis = 0))

[[ 5 13 10]
 [12 12  4]]

[12 13 10]

[12 13 10]

In [64]:
arr1 = np.random.randint(3,18,size = (2,3))
print(arr1)
print()
print(arr1.max(axis = 1))  # column based minimum value
print()
print(np.max(arr1,axis = 1))

[[11  8 15]
 [15  8  4]]

[15 15]

[15 15]

In [65]:
arr1 = np.random.randint(3,18,size = (2,3))
print(arr1)
print()
print(arr1.sum(axis = 0))  # column based minimum value
print()
print(np.sum(arr1,axis = 0))

[[14 17  4]
 [13  6 16]]

[27 23 20]

[27 23 20]

In [66]:
arr1 = np.random.randint(3,18,size = (2,3))
print(arr1)
print()
print(arr1.sum(axis = 1))  # column based minimum value
print()
print(np.sum(arr1,axis = 1))

[[ 7  9 16]
 [ 9 16  4]]

[32 29]

[32 29]

In [69]:
# genrating the data from a text file
# when we generate a data from a file it will generate all of them as float values
import numpy as np
arr1 = np.genfromtxt("data_1.txt", delimiter = ",")
arr1

array([[34., 23.,  6.,  7., 12., 89.],
       [90., 34., 56., 13., 45., 76.],
       [ 2.,  4.,  9., 98., 43., 63.]])

In [70]:
arr2 = arr1.astype(int)
arr2

array([[34, 23,  6,  7, 12, 89],
       [90, 34, 56, 13, 45, 76],
       [ 2,  4,  9, 98, 43, 63]])

In [71]:
# boolean masking based on the condition what we gave it will true a array of true, false
arr3 = arr2>30
arr3

array([[ True, False, False, False, False,  True],
       [ True,  True,  True, False,  True,  True],
       [False, False, False,  True,  True,  True]])

In [72]:
arr2[arr3]

array([34, 89, 90, 34, 56, 45, 76, 98, 43, 63])

In [73]:
arr2[arr2>40]

array([89, 90, 56, 45, 76, 98, 43, 63])

In [74]:
# arange, linspace, dot, matmul

import numpy as np

arr1 = np.arange(5,20,3) ## syntax --arrange(start,stop, step)
arr1

array([ 5,  8, 11, 14, 17])

In [75]:
arr2 = np.linspace(2,12,5) # syntax --linspace(start,stop, count)
arr2

array([ 2. ,  4.5,  7. ,  9.5, 12. ])

In [79]:
arr1 = np.array(
    [
        [1,2,3],
        [4,5,6]
    ]
)

arr2 = np.array(
    [
        [1,3],
        [2,4],
        [5,6]
    ]
)

print(arr1)
print(arr2)

[[1 2 3]
 [4 5 6]]
[[1 3]
 [2 4]
 [5 6]]

In [80]:
np.matmul(arr1,arr2)

array([[20, 29],
       [44, 68]])

In [81]:
arr1 = np.array([4,2,8])
arr2 = np.array([3,5,7])
np.dot(arr1,arr2)

np.int64(78)

In [82]:
import numpy as np

# From a tuple
arr2 = np.array((1, 2, 3, 4))
arr2

array([1, 2, 3, 4])

In [83]:
# Create an array with values from 0 to 9
arr_range = np.arange(10)
arr_range

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [84]:
# Create an array with values from 1 to 9 with step 2
arr_range_step = np.arange(1, 10, 2)
arr_range_step

array([1, 3, 5, 7, 9])

In [85]:
# 2D identity matrix
arr_identity = np.eye(4)
arr_identity

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [87]:
arr = np.random.randint(5,17,(3,3))

print(arr)
arr_argmax = arr.argmax()  # Index of max value
arr_argmin = arr.argmin()  # Index of min value
print(arr_argmax) # 0 index having the maximum value from the matrix
print(arr_argmin) # 1 index having the minimum value from the matrix

[[ 5  7 10]
 [13 14 14]
 [14 14 15]]
8
0

In [2]:
import numpy as np
arr = np.random.randint(5,17,(3,3))

print(arr)
arr_argmax = arr.argmax(axis = 0)  # Index of max value
arr_argmin = arr.argmin(axis = 0)  # Index of min value
print(arr_argmax) # 0 index having the maximum value from the matrix
print(arr_argmin) # 1 index having the minimum value from the matrix

[[15 12  6]
 [ 9 14  6]
 [15 12  5]]
[0 1 0]
[1 0 2]

In [3]:
arr = np.random.randint(5,17,(3,3))

print(arr)
arr_argmax = arr.argmax(axis = 1)  # Index of max value
arr_argmin = arr.argmin(axis = 1)  # Index of min value
print(arr_argmax) # 0 index having the maximum value from the matrix
print(arr_argmin) # 1 index having the minimum value from the matrix

[[12 12 16]
 [14 15  8]
 [ 5 15  5]]
[2 1 1]
[0 2 0]

In [4]:

arr1 = np.random.randint(5,17,(3,3))
arr2 = np.random.randint(5,17,(3,3))

# Concatenate along a specific axis
concatenated = np.concatenate((arr1, arr2), axis=0)
concatenated

array([[13, 14,  5],
       [ 6,  9, 15],
       [10, 11, 16],
       [12, 10, 11],
       [ 5,  7,  9],
       [ 9,  9,  7]], dtype=int32)

In [5]:

arr1 = np.random.randint(5,17,(3,3))
arr2 = np.random.randint(5,17,(3,3))

# Concatenate along a specific axis
concatenated = np.concatenate((arr1, arr2), axis=1)
concatenated

array([[16, 13, 14,  7, 13,  5],
       [14,  7,  9, 12, 11,  9],
       [ 7,  7,  8,  7,  7, 12]], dtype=int32)

In [6]:
arr = np.array([5,6,7,8])
print(arr+2)
print(arr-2)
print(arr*2)
print(arr/2)

[ 7  8  9 10]
[3 4 5 6]
[10 12 14 16]
[2.5 3.  3.5 4. ]

In [7]:
arr1 = np.array([5,6,7,8])
arr2 = np.array([3,4,5,2])
print(arr1+arr2)
print(arr1-arr2)
print(arr1*arr2)
print(arr1/arr2)

[ 8 10 12 10]
[2 2 2 6]
[15 24 35 16]
[1.66666667 1.5        1.4        4.        ]

In [8]:
arr1 = np.array([5,6,7,8])
arr2 = np.array([3,14,15,2])
print(arr1>arr2)
print(arr1<arr2)
print(arr1==arr2)
print(arr1!=arr2)

[ True False False  True]
[False  True  True False]
[False False False False]
[ True  True  True  True]

In [9]:
import numpy as np
arr1 = np.array([3,2])
arr2 = np.array([3,2, 14,15])
#print(arr1 in arr2)
#print(arr1 not in arr2)
print(arr1 is arr2)
print(arr1 is not arr2)

False
True

In [10]:
arr = [5,6,7,8]  # its a list not an numpy array
print(type(arr))
arr_broadcast = arr + np.array([1, 2, 3, 4])  # Add array to each element of arr
arr_broadcast

<class 'list'>

array([ 6,  8, 10, 12])

In [11]:
arr = [5,6,7,8]  # its a list not an numpy array
print(type(arr))
arr_broadcast = arr - np.array([1, 2, 3, 4])  # Add array to each element of arr
arr_broadcast

<class 'list'>

array([4, 4, 4, 4])

In [12]:

arr_2d = np.random.randint(2,6,(3,3))
print(arr_2d)
print(arr_2d.T)
matrix_product = np.matmul(arr_2d, arr_2d.T)
matrix_product

[[5 5 5]
 [2 5 4]
 [2 5 2]]
[[5 2 2]
 [5 5 5]
 [5 4 2]]

array([[75, 55, 45],
       [55, 45, 37],
       [45, 37, 33]], dtype=int32)

In [13]:
arr_flat = arr_2d.flatten()
arr_flat

array([5, 5, 5, 2, 5, 4, 2, 5, 2], dtype=int32)

In [14]:
arr3d = np.random.randint(3,16,(2,3,3))
print(arr3d)
arr_flat = arr3d.flatten()
arr_flat

[[[ 5 11 10]
  [ 3 13 15]
  [12  7  5]]

 [[ 4 12  8]
  [13  5 11]
  [ 8  9  3]]]

array([ 5, 11, 10,  3, 13, 15, 12,  7,  5,  4, 12,  8, 13,  5, 11,  8,  9,
        3], dtype=int32)

In [15]:
arr4 = arr3d.reshape(-1)
arr4

array([ 5, 11, 10,  3, 13, 15, 12,  7,  5,  4, 12,  8, 13,  5, 11,  8,  9,
        3], dtype=int32)

In [16]:
print(arr_2d)
arr_transpose = arr_2d.T

arr_transpose

[[5 5 5]
 [2 5 4]
 [2 5 2]]

array([[5, 2, 2],
       [5, 5, 5],
       [5, 4, 2]], dtype=int32)

In [17]:
arr = np.random.randint(2,7,(4,4))
print(arr)
arr_add_dim = np.expand_dims(arr, axis=0)  # Add new axis at position 0
#print(arr)
arr_remove_dim = np.squeeze(arr_add_dim)  # Remove single-dimensional entries from the shape
print(arr_add_dim)
print(arr_remove_dim)

[[4 2 2 4]
 [6 6 6 3]
 [6 6 2 5]
 [3 6 5 6]]
[[[4 2 2 4]
  [6 6 6 3]
  [6 6 2 5]
  [3 6 5 6]]]
[[4 2 2 4]
 [6 6 6 3]
 [6 6 2 5]
 [3 6 5 6]]

In [18]:
arr = np.array((34,12,67,13,9,87,45))
arr_bool = arr[arr > 15]  # Get elements greater than 2
arr_bool

array([34, 67, 87, 45])

In [19]:
import numpy as np
arr = np.random.randint(5,17,(8))
print(arr)
arr_fancy = arr[[1, 3, 6]]  # Get elements at index 1, 3, and 4
arr_fancy

[ 6 11 13 14 13 16 12  9]

array([11, 14, 12], dtype=int32)

In [20]:
print(np.mean(arr))
arr_variance = np.var(arr) #how far each data point in a seq is from the mean

arr_std_dev = np.std(arr)
print(arr_variance)
print(arr_std_dev)

11.75
8.4375
2.9047375096555625

In [21]:
import numpy as np
arr = np.random.randint(5,17,(8))
print(arr)
arr_50th_percentile = np.percentile(arr, 50)  # Median
arr_25th_percentile = np.percentile(arr, 25)  # Median
arr_75th_percentile = np.percentile(arr, 75)  # Median
print(arr_50th_percentile)
print(arr_25th_percentile)
print(arr_75th_percentile)

[ 8 11  6  5 15 15 13 15]
12.0
7.5
15.0

In [22]:
#Linear Algebra

arr2 = np.random.randint(3,20,(2,2))
print(arr2)
eigvals, eigvecs = np.linalg.eig(arr2)
"""
eigen vector -- a vector that, when multiplied by a matrix which does not change its direction
eigne value -- a scalar that represents how much the eigenvector  is scaled when multiplied matrix
"""

print(eigvals)
print(eigvecs)

[[15 14]
 [11 12]]
[26.  1.]
[[ 0.78631834 -0.70710678]
 [ 0.61782155  0.70710678]]

### Random samples from a normal distribution: (Gaussian distribution)

arr_random_normal = np.random.randn(5, 5) 
arr_random_normal

In [24]:
#Random choices from a list:
arr_random_choice = np.random.choice([1, 2, 3, 4, 5], size=2)
arr_random_choice

array([2, 1])

In [25]:
#Random choices from a list: without duplicates
arr_random_choice = np.random.choice([1, 2, 3, 4, 5], size=4, replace = False)
arr_random_choice

array([5, 1, 4, 2])

In [27]:
#File Handling with pandas
arr = np.random.randint(3,30,(3,3))
print(arr)
np.save('array.npy', arr)  # Save array to .npy file
arr_loaded = np.load('array.npy')  # Load array from .npy file
arr_loaded

[[27 11 28]
 [ 9 13 13]
 [ 5  7 10]]

array([[27, 11, 28],
       [ 9, 13, 13],
       [ 5,  7, 10]], dtype=int32)

In [28]:
np.savetxt('array.txt', arr)
arr_loaded_text = np.loadtxt('array.txt')
arr_loaded_text

array([[27., 11., 28.],
       [ 9., 13., 13.],
       [ 5.,  7., 10.]])

In [29]:
#Handling Missing Data
# Checking for NaN or Inf values
import numpy as np
arr = np.genfromtxt("array.txt", delimiter = ",")
print(arr)
#arr = np.array([0,2,3,6,0,45])
print(np.isnan(arr))  # Returns boolean array where NaN
np.isinf(arr)  # Returns boolean array where Inf

[nan nan nan]
[ True  True  True]

array([False, False, False])

In [30]:
#Sorting arrays:

import numpy as np
arr = np.array([6,3,45,12,34,67,1])

arr_sorted = np.sort(arr)  # Sort along the default axis (ascending order)
arr_sorted_desc = np.sort(arr_sorted)[::-1]  # Sort in descending order


print(arr_sorted)
print(arr_sorted_desc)

[ 1  3  6 12 34 45 67]
[67 45 34 12  6  3  1]

In [31]:
arr2 = np.random.randint(4,40,(3,3))
print(arr2)
# Sorting along a specific axis
arr_axis_sorted_col = np.sort(arr2, axis=0)  # Sort along rows
arr_axis_sorted_row = np.sort(arr2, axis=1)  # Sort along rows
print()
print(arr_axis_sorted_col)
print()
print(arr_axis_sorted_row)

[[15 22 18]
 [25 18 17]
 [34 17 13]]

[[15 17 13]
 [25 18 17]
 [34 22 18]]

[[15 18 22]
 [17 18 25]
 [13 17 34]]

In [32]:
#Argsort (indices of sorted values):
arr2 = np.random.randint(4,40,(3,3))
print(arr2)
arr_indices = np.argsort(arr2)  # Indices that would sort the array
arr_indices

[[ 9 11 16]
 [24 34 26]
 [12 14  4]]

array([[0, 1, 2],
       [0, 2, 1],
       [2, 0, 1]])

In [33]:
#Searching for specific elements:
arr = np.random.randint(2,10,(3,3))
print(arr)
"""
(r,c)

[
    0,0  0,1 0,2
    1,0, 1,1 1,2
    2,0  2,1 2,2 

]


"""
print(arr)
idx = np.where(arr > 5)  # Indices where condition is True
idx

[[9 9 7]
 [5 8 4]
 [8 8 7]]
[[9 9 7]
 [5 8 4]
 [8 8 7]]

(array([0, 0, 0, 1, 2, 2, 2]), array([0, 1, 2, 1, 0, 1, 2]))

In [34]:
#Find unique elements
import numpy as np
arr = np.random.randint(2,8,(3,3))
print(arr)
unique_elements = np.unique(arr)
unique_elements

[[5 2 7]
 [2 4 2]
 [5 2 5]]

array([2, 4, 5, 7], dtype=int32)

In [35]:
#Find unique elements
import numpy as np
arr = np.random.randint(2,8,(3,3,3))
print(arr)
unique_elements = np.unique(arr)
unique_elements

[[[3 2 3]
  [4 4 4]
  [2 6 3]]

 [[2 2 7]
  [6 2 5]
  [3 4 7]]

 [[3 3 2]
  [6 4 4]
  [4 4 7]]]

array([2, 3, 4, 5, 6, 7], dtype=int32)

In [36]:
arr = np.random.randint(3,30,(4,3))
print(arr)
print()
logical_and = np.logical_and(arr > 2, arr < 16)
logical_or = np.logical_or(arr > 2, arr < 6)
logical_not = np.logical_not(arr > 25)
print(logical_and)
print()
print(logical_or)
print()
print(logical_not)

[[15 15 20]
 [10 17 11]
 [29 20 12]
 [13 10 29]]

[[ True  True False]
 [ True False  True]
 [False False  True]
 [ True  True False]]

[[ True  True  True]
 [ True  True  True]
 [ True  True  True]
 [ True  True  True]]

[[ True  True  True]
 [ True  True  True]
 [False  True  True]
 [ True  True False]]

In [37]:
arr1 = np.random.randint(5,30,(3,3))
arr2 = np.random.randint(5,30,(3,3))
print(arr1)
print(arr1)
is_equal = np.array_equal(arr1, arr2)
is_equal

[[ 6 15 28]
 [15 12  7]
 [27  8  5]]
[[ 6 15 28]
 [15 12  7]
 [27  8  5]]

False

In [38]:
arr1 = np.random.randint(5,30,(3))
arr2 = arr1
print(arr1)
print(arr1)
is_equal = np.array_equal(arr1, arr2)
is_equal

[14 10 25]
[14 10 25]

True

In [39]:
arr1 = np.random.randint(5,30,(3))
#arr2 = np.random.randint(5,30,(3))
arr2 = arr1.copy()
print(arr1)
print(arr2)
is_equal = np.array_equal(arr1, arr2)
print(is_equal)
print(arr1 == arr2)
print(arr1 is arr2)
print(id(arr1), id(arr2))

[28  5 21]
[28  5 21]
True
[ True  True  True]
False
1927150732944 1927034821136

In [40]:
arr1 = np.random.randint(5,30,(3))
#arr2 = np.random.randint(5,30,(3))
arr1 = arr2
print(arr1)
print(arr2)
print(id(arr1))
print(id(arr2))

print(arr1 is arr2)
is_equal

[28  5 21]
[28  5 21]
1927034821136
1927034821136
True

True

In [41]:
# addition in between 1D and 2D
arr1 = np.array([[1], [2], [3]])
arr2 = np.array([1, 2, 3])
result = arr1 + arr2
result

array([[2, 3, 4],
       [3, 4, 5],
       [4, 5, 6]])

In [42]:
arr = np.random.randint(1,7,(6))
print(arr)
arr[arr > 5] = 0  # Replace all values greater than 5 with 0
arr

[6 3 1 5 6 3]

array([0, 3, 1, 5, 0, 3], dtype=int32)

In [43]:
arr = np.random.randint(1,30,(6))
print(arr)
arr = np.where(arr > 15, 0, arr)  # Replace values > 5 with 0
arr

[16 20  7  9  7 13]

array([ 0,  0,  7,  9,  7, 13], dtype=int32)

# Pandas - paneled datas
    pandas are very famous python library for handling the datas
    => reading the different types of files and get the data into python data frame
    => creating the different types of files from python data frame such as (csv, excel, json, parquet, ...etc)
    => creating series, dataframes to handle the file datas
    => handling the noisy datas such as null datas, duplicates data's, wrong format datas
    => comparison, creating new columns, getting info about the data, modify the existing data, central tendency finding, row based filter, column based filter, joining one csv dataframe to another csv dataframes (inner, left, right, outer)

In [49]:
!pip install pandas

^C

In [50]:
import pandas as pd
print(pd.__version__)

2.3.0

In [51]:
import pandas as pd
print(pd.__doc__)

pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

In [54]:
# pandas series are one dimensional arrays which have only one column with index position as row names
import pandas as pd

l1 = [5,2,9,3,1]

s1 = pd.Series(l1)# the index column of a series will 0, 1,
s1

0    5
1    2
2    9
3    3
4    1
dtype: int64

In [55]:
s1.shape

(5,)

In [56]:
s1.min()

np.int64(1)

In [57]:
s1.sum()

np.int64(20)

In [58]:
s1[2]

np.int64(9)

In [59]:
# converting 2D arry in a series

import pandas as pd
import numpy as np


arr = np.random.randint(3,15,(4,3))
print(arr)

s1 = pd.Series(arr)
s1

[[11  9 11]
 [ 6  8 10]
 [10  8 12]
 [ 3 12  8]]

ValueError: Data must be 1-dimensional, got ndarray of shape (4, 3) instead

In [60]:
d1 = {"apple":34, "orange":45, "banana":12}

# when we convert a dictionary as a series the keys will appear as row name

s2 = pd.Series(d1)
s2

apple     34
orange    45
banana    12
dtype: int64

In [61]:
l1 = [5,2,9,3,1]

s1 = pd.Series(l1, index = ("a","b", "c","d", "e")) # changing the labels of the rows
s1

a    5
b    2
c    9
d    3
e    1
dtype: int64

In [62]:
s1["c"]

np.int64(9)

In [63]:
s1["a", "c", "e"]

KeyError: 'key of type tuple not found and not a MultiIndex'

In [64]:
l1 = [5,2,9,"hello",1, 4.5]

s1 = pd.Series(l1, index = ("a","b", "c","d", "e", "f")) # changing the labels of the rows
s1

a        5
b        2
c        9
d    hello
e        1
f      4.5
dtype: object

In [2]:
# dataframes -- are rows and columns table format 
# dataframes -- twodimensional, size mutable, hetrogeneous tabular datastructure
import pandas as pd
d2 = {
    "Jobs" : ["backend developer", "AI engineer", "data analyst"],
    "City" : ["Ney York", "San francisco", "washington dc"],
    "Salary" : [40000,50000,30000]
}

df = pd.DataFrame(d2)
df

                Jobs           City  Salary
0  backend developer       Ney York   40000
1        AI engineer  San francisco   50000
2       data analyst  washington dc   30000

In [4]:
df.loc[1] # fetching row name based data fetch

Jobs        AI engineer
City      San francisco
Salary            50000
Name: 1, dtype: object

In [5]:
df.iloc[2] #this works based on index

Jobs       data analyst
City      washington dc
Salary            30000
Name: 2, dtype: object

In [6]:
# slicing the rows
df.loc[:1]

                Jobs           City  Salary
0  backend developer       Ney York   40000
1        AI engineer  San francisco   50000

In [8]:
df.loc[:1]["Jobs"]

0    backend developer
1          AI engineer
Name: Jobs, dtype: object

In [9]:
print(df)
df.loc[1][2] # fetching the specific data from the dataframe

                Jobs           City  Salary
0  backend developer       Ney York   40000
1        AI engineer  San francisco   50000
2       data analyst  washington dc   30000

C:\Users\pugal\AppData\Local\Temp\ipykernel_25340\4144206421.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc[1][2] # fetching the specific data from the dataframe

np.int64(50000)

In [10]:
df["City"]  # fethcing the column

0         Ney York
1    San francisco
2    washington dc
Name: City, dtype: object

In [11]:
df["City"][2] # retriving the specific data from coloumn

'washington dc'

In [12]:
d2 = {
    "Jobs" : ["backend developer", "AI engineer", "data analyst"],
    "City" : ["Ney York", "San francisco", "washington dc"],
    "Salary" : [40000,50000,30000]
}

df = pd.DataFrame(d2, index = ("record1", "record2", "record3")) # instead of going with default index
                                                                # we define out own index for df
df

                      Jobs           City  Salary
record1  backend developer       Ney York   40000
record2        AI engineer  San francisco   50000
record3       data analyst  washington dc   30000

In [13]:
# fetching the based on index name
df.loc["record2"]

Jobs        AI engineer
City      San francisco
Salary            50000
Name: record2, dtype: object

In [14]:
df.loc[1]

KeyError: 1

In [15]:
df.iloc[2] # retriving the data based on index count

Jobs       data analyst
City      washington dc
Salary            30000
Name: record3, dtype: object

In [16]:
df.iloc["record1"]

TypeError: Cannot index by location index with a non-integer key

In [17]:
# reading the files using pandas

#csv file

df = pd.read_csv("employee.csv")
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female

In [18]:
# reading the json file
df = pd.read_json("employee.json")
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4    None  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0      None   37  Female

In [31]:
# to enable python to read any excel file we use xlrd -library
!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.2-py2.py3-none-any.whl (96 kB)
                                              0.0/96.6 kB ? eta -:--:--
     --------                                 20.5/96.6 kB ? eta -:--:--
     ----------------                       41.0/96.6 kB 960.0 kB/s eta 0:00:01
     ----------------------------           71.7/96.6 kB 787.7 kB/s eta 0:00:01
     -------------------------------------- 96.6/96.6 kB 690.5 kB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.2

[notice] A new release of pip is available: 23.1.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [20]:
# reading the excel file
import pandas as pd
df = pd.read_excel("file_example_XLS_50.xlsx")
df

     0 First Name   Last Name  Gender        Country  Age        Date    Id
0    1      Dulce       Abril  Female  United States   32  15/10/2017  1562
1    2       Mara   Hashimoto  Female  Great Britain   25  16/08/2016  1582
2    3     Philip        Gent    Male         France   36  21/05/2015  2587
3    4   Kathleen      Hanner  Female  United States   25  15/10/2017  3549
4    5    Nereida     Magwood  Female  United States   58  16/08/2016  2468
5    6     Gaston       Brumm    Male  United States   24  21/05/2015  2554
6    7       Etta        Hurn  Female  Great Britain   56  15/10/2017  3598
7    8    Earlean      Melgar  Female  United States   27  16/08/2016  2456
8    9   Vincenza     Weiland  Female  United States   40  21/05/2015  6548
9   10     Fallon     Winward  Female  Great Britain   28  16/08/2016  5486
10  11    Arcelia      Bouska  Female  Great Britain   39  21/05/2015  1258
11  12   Franklyn      Unknow    Male         France   38  15/10/2017  2579
12  13    Sherron    Ascencio  Female  Great Britain   32  16/08/2016  3256
13  14     Marcel   Zabriskie    Male  Great Britain   26  21/05/2015  2587
14  15       Kina    Hazelton  Female  Great Britain   31  16/08/2016  3259
15  16   Shavonne         Pia  Female         France   24  21/05/2015  1546
16  17     Shavon      Benito  Female         France   39  15/10/2017  3579
17  18   Lauralee     Perrine  Female  Great Britain   28  16/08/2016  6597
18  19     Loreta      Curren  Female         France   26  21/05/2015  9654
19  20     Teresa      Strawn  Female         France   46  21/05/2015  3569
20  21    Belinda     Partain  Female  United States   37  15/10/2017  2564
21  22      Holly        Eudy  Female  United States   52  16/08/2016  8561
22  23       Many      Cuccia  Female  Great Britain   46  21/05/2015  5489
23  24     Libbie       Dalby  Female         France   42  21/05/2015  5489
24  25     Lester     Prothro    Male         France   21  15/10/2017  6574
25  26     Marvel        Hail  Female  Great Britain   28  16/08/2016  5555
26  27    Angelyn        Vong  Female  United States   29  21/05/2015  6125
27  28  Francesca   Beaudreau  Female         France   23  15/10/2017  5412
28  29      Garth       Gangi    Male  United States   41  16/08/2016  3256
29  30      Carla    Trumbull  Female  Great Britain   28  21/05/2015  3264
30  31       Veta       Muntz  Female  Great Britain   37  15/10/2017  4569
31  32     Stasia      Becker  Female  Great Britain   34  16/08/2016  7521
32  33       Jona     Grindle  Female  Great Britain   26  21/05/2015  6458
33  34      Judie    Claywell  Female         France   35  16/08/2016  7569
34  35     Dewitt      Borger    Male  United States   36  21/05/2015  8514
35  36       Nena      Hacker  Female  United States   29  15/10/2017  8563
36  37     Kelsie     Wachtel  Female         France   27  16/08/2016  8642
37  38        Sau        Pfau  Female  United States   25  21/05/2015  9536
38  39    Shanice   Mccrystal  Female  United States   36  21/05/2015  2567
39  40      Chase      Karner    Male  United States   37  15/10/2017  2154
40  41     Tommie   Underdahl    Male  United States   26  16/08/2016  3265
41  42     Dorcas      Darity  Female  United States   37  21/05/2015  8765
42  43      Angel       Sanor    Male         France   24  15/10/2017  3259
43  44  Willodean        Harn  Female  United States   39  16/08/2016  3567
44  45     Weston     Martina    Male  United States   26  21/05/2015  6540
45  46       Roma  Lafollette  Female  United States   34  15/10/2017  2654
46  47     Felisa        Cail  Female  United States   28  16/08/2016  6525
47  48   Demetria       Abbey  Female  United States   32  21/05/2015  3265
48  49     Jeromy        Danz    Male  United States   39  15/10/2017  3265
49  50   Rasheeda      Alkire  Female  United States   29  16/08/2016  6125

In [21]:
df.head()  # head() without args will return first 5 records of the dataframe

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468

In [22]:
df.head(8) # fetch first specific number of records

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5  6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456

In [23]:
df.tail(3) # returns last 3 records from the df

     0 First Name Last Name  Gender        Country  Age        Date    Id
47  48   Demetria     Abbey  Female  United States   32  21/05/2015  3265
48  49     Jeromy      Danz    Male  United States   39  15/10/2017  3265
49  50   Rasheeda    Alkire  Female  United States   29  16/08/2016  6125

In [24]:
df.shape

(50, 8)

In [25]:
df.columns

Index([0, 'First Name', 'Last Name', 'Gender', 'Country', 'Age', 'Date', 'Id'], dtype='object')

In [26]:
# handling the datas in a dataframe
import pandas as pd
df = pd.read_csv("employee.csv")
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female

In [27]:
# to remove the null record rows we use dropna() -- immutable

df1 = df.dropna() 
df1

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
5    john  3000.0  4.0  losvegas   33  Female

In [28]:
df = pd.read_csv("employee.csv")
df.dropna(inplace = True)  # changing the current dataframe itself  -- mutable
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
5    john  3000.0  4.0  losvegas   33  Female

In [29]:
# using fillna("replace value")  replacing the null records from all over the dataframe

df = pd.read_csv("employee.csv")
df.fillna("python",inplace = True)
df

C:\Users\pugal\AppData\Local\Temp\ipykernel_25340\1831355485.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'python' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna("python",inplace = True)

     name  salary     exp      city  age  Gender
0    john  3000.0     4.0  losvegas   30    Male
1     doe  4000.0     5.0        dc   25  Female
2  robert  8000.0     6.0     paris   27    Male
3   chris  9000.0     7.0   newyork   24  Female
4  python  3000.0  python  losvegas   35    Male
5    john  3000.0     4.0  losvegas   33  Female
6   evans  python     4.0  losvegas   31    Male
7     tom  3000.0     4.0    python   37  Female

In [30]:
# replace the null values on specific cols

df = pd.read_csv("employee.csv")
df["name"].fillna("python",inplace = True)
df

C:\Users\pugal\AppData\Local\Temp\ipykernel_25340\2808676864.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["name"].fillna("python",inplace = True)

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4  python  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female

In [31]:
df = pd.read_csv("employee.csv")
df.dropna(subset = "exp", inplace = True)
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female

In [32]:
import pandas as pd
df = pd.read_csv("employee.csv")
print(df)
df.drop_duplicates(inplace=True)
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female

In [33]:
import pandas as pd
df = pd.read_csv("employee.csv")
df.info() # will return the number of rows and cols and types of the columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    7 non-null      object
 1   salary  7 non-null      float64
 2   exp     7 non-null      float64
 3   city    7 non-null      object
 4   age     8 non-null      int64
 5   Gender  8 non-null      object
dtypes: float64(2), int64(1), object(3)
memory usage: 516.0+ bytes

In [34]:
df = pd.read_csv("employee.csv")

df.describe()  # will return the central tendency of your dataframe will work on integers cols only

            salary       exp        age
count     7.000000  7.000000   8.000000
mean   4714.285714  4.857143  30.250000
std    2627.691364  1.214986   4.682795
min    3000.000000  4.000000  24.000000
25%    3000.000000  4.000000  26.500000
50%    3000.000000  4.000000  30.500000
75%    6000.000000  5.500000  33.500000
max    9000.000000  7.000000  37.000000

In [36]:
# replacing the mean value for null

df = pd.read_csv("employee.csv")

df["salary"].fillna(df["salary"].mean(), inplace = True)#median(), mode()
df

C:\Users\pugal\AppData\Local\Temp\ipykernel_25340\1245489101.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["salary"].fillna(df["salary"].mean(), inplace = True)

     name       salary  exp      city  age  Gender
0    john  3000.000000  4.0  losvegas   30    Male
1     doe  4000.000000  5.0        dc   25  Female
2  robert  8000.000000  6.0     paris   27    Male
3   chris  9000.000000  7.0   newyork   24  Female
4     NaN  3000.000000  NaN  losvegas   35    Male
5    john  3000.000000  4.0  losvegas   33  Female
6   evans  4714.285714  4.0  losvegas   31    Male
7     tom  3000.000000  4.0       NaN   37  Female

In [40]:
# replacing the mean value for null

df = pd.read_csv("employee.csv")
mode_value = df["exp"].median()

df["exp"].fillna(mode_value, inplace = True)#median(), mode()
df

C:\Users\pugal\AppData\Local\Temp\ipykernel_25340\3491198176.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["exp"].fillna(mode_value, inplace = True)#median(), mode()

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  4.0  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female

In [43]:
df = pd.read_csv("employee.csv")

print(df["salary"]>4000)  # boolean masking

0    False
1    False
2     True
3     True
4    False
5    False
6    False
7    False
Name: salary, dtype: bool

In [44]:
df = pd.read_csv("employee.csv")

print(df[df["salary"]>4000])  # applying the boolean masking

     name  salary  exp     city  age  Gender
2  robert  8000.0  6.0    paris   27    Male
3   chris  9000.0  7.0  newyork   24  Female

In [46]:
df["hike"] = df["salary"]+2000  # creating a new col
df

     name  salary  exp      city  age  Gender     hike
0    john  3000.0  4.0  losvegas   30    Male   5000.0
1     doe  4000.0  5.0        dc   25  Female   6000.0
2  robert  8000.0  6.0     paris   27    Male  10000.0
3   chris  9000.0  7.0   newyork   24  Female  11000.0
4     NaN  3000.0  NaN  losvegas   35    Male   5000.0
5    john  3000.0  4.0  losvegas   33  Female   5000.0
6   evans     NaN  4.0  losvegas   31    Male      NaN
7     tom  3000.0  4.0       NaN   37  Female   5000.0

In [47]:
df.drop(columns= "hike", inplace=True)
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female

In [48]:
df = pd.read_csv("employee.csv")

print(df[(df["salary"]>4000) & (df["exp"]<7)])  # multiple conditions

     name  salary  exp    city  age Gender
2  robert  8000.0  6.0   paris   27   Male

In [50]:
df = pd.read_csv("employee.csv")

print(df[(df["salary"]>4000) | (df["exp"]<7)])  # multiple conditions

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female

In [51]:
df = pd.read_csv("employee.csv")

df.loc[:4] # multiple conditions    # Access first row by label

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  NaN  losvegas   35    Male

In [52]:
df = pd.read_csv("employee.csv")

df.loc[:4, ("name", "city")]

     name      city
0    john  losvegas
1     doe        dc
2  robert     paris
3   chris   newyork
4     NaN  losvegas

In [53]:
df = pd.read_csv("employee.csv")

df.loc[:2, "city"] = "unnamed city"
df

     name  salary  exp          city  age  Gender
0    john  3000.0  4.0  unnamed city   30    Male
1     doe  4000.0  5.0  unnamed city   25  Female
2  robert  8000.0  6.0  unnamed city   27    Male
3   chris  9000.0  7.0       newyork   24  Female
4     NaN  3000.0  NaN      losvegas   35    Male
5    john  3000.0  4.0      losvegas   33  Female
6   evans     NaN  4.0      losvegas   31    Male
7     tom  3000.0  4.0           NaN   37  Female

In [54]:
df[["name", "exp"]]

     name  exp
0    john  4.0
1     doe  5.0
2  robert  6.0
3   chris  7.0
4     NaN  NaN
5    john  4.0
6   evans  4.0
7     tom  4.0

In [55]:
df["name"]

0      john
1       doe
2    robert
3     chris
4       NaN
5      john
6     evans
7       tom
Name: name, dtype: object

In [57]:
def percent(val):
    result = (val/10000)*100
    return result


df = pd.read_csv("employee.csv")

df["percent"] = df["salary"].apply(percent)
df

     name  salary  exp      city  age  Gender  percent
0    john  3000.0  4.0  losvegas   30    Male     30.0
1     doe  4000.0  5.0        dc   25  Female     40.0
2  robert  8000.0  6.0     paris   27    Male     80.0
3   chris  9000.0  7.0   newyork   24  Female     90.0
4     NaN  3000.0  NaN  losvegas   35    Male     30.0
5    john  3000.0  4.0  losvegas   33  Female     30.0
6   evans     NaN  4.0  losvegas   31    Male      NaN
7     tom  3000.0  4.0       NaN   37  Female     30.0

In [58]:
df = pd.read_csv("employee.csv")

df[~(df["salary"]<5000)]  # negate operator

     name  salary  exp      city  age  Gender
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
6   evans     NaN  4.0  losvegas   31    Male

In [59]:
import pandas as pd

from mysql import connector
connection = connector.connect(user = "root", password = "12345", host = "localhost", db = "emp")
df = pd.read_sql('SELECT * FROM empcopy', connection)
df

C:\Users\pugal\AppData\Local\Temp\ipykernel_25340\3293706.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM empcopy', connection)

,job,dept,city,sal,address,incentive
0,front end,IT,washingto dc,35000.0,"sanfrancisco, us",NaN
1,backend end,IT,bleeker street dc,40000.0,"los vegas, us",NaN
2,AI,IT,manhatton dc,50000.0,"los angeles, us",NaN
3,ML developer,IT,san francisco,11000.0,str1 manhattan,NaN
4,data analyst,IT,los angeles,70000.0,str1 manhattan,NaN
5,AI engineer,IT,san francisco,90000.0,baker st,NaN
6,dev ops,IT,alaska,25000.0,"chris st,11223",NaN
7,cloud engineer,IT,florida,35000.0,"evans st,11223",NaN
8,ceo,admin,newyork,300000.0,manhattan st,NaN
9,AI engineer,IT,Embrun,11000.0,Boston Canada,NaN
10,IOT engineer,IT,united states,20000.0,new jersy,NaN
11,data maintainer,IT,paris england,9000.0,embrun canada,NaN
12,computer vision engineer,IT,united states,19000.0,texas,NaN
13,data arcitect,IT,florida,7000.0,embrun canada,NaN
14,image processor,IT,england,9200.0,london,NaN
15,reactjs developer,IT,russia,4000.0,beijing,NaN
16,query support,IT,north boston,18000.0,german,NaN
17,angularjs developer,IT,moscow,92000.0,moscow,NaN
18,ds algo,IT,hyderabad,20000.0,ranivista hbd,NaN
19,electronics,IT,kenya,1000.0,mumbai,NaN
20,c sharp developer,IT,russia,5000.0,calicut,NaN
21,data preprocessig,IT,india,2000.0,bengaluru,NaN
22,data creating,IT,india,3000.0,hyderabad,NaN
23,content creater,IT,cuiping,300.0,hello,NaN
24,mentor,IT,losvegas,400.0,united states,NaN
25,racer,IT,san francisco,14000.0,watson,NaN
26,firewalldeveloper,IT,switzerland,4000.0,venice,NaN
27,racer,IT,caribean,15000.0,sparrow,NaN
28,c ++ developer,IT,moscow,55000.0,ville,NaN
29,c ++ developer,IT,moscow,55000.0,ville,NaN
30,guide,IT,qin dynasty,55000.0,china wall,NaN
31,plummer,IT,caribean bay,15000.0,xyz street,NaN
32,translator,IT,france,55000.0,paris tower,NaN
33,space scientist,IT,new jersey,65000.0,los angeles tower,NaN
34,astrounat,IT,mars bay,150000.0,xyz street,NaN
35,receptionist,IT,venus bay,14000.0,abz street,NaN
36,receptionist,IT,venus bay,14000.0,abz street,NaN
37,docker expert,IT,paris,65000.0,WTC angeles tower,NaN
38,type writing,IT,lamburgh,5000.0,magic st,NaN
39,director,IT,hollywood,39000.0,oscar street,600.0
40,pilot,IT,Airport city,60000.0,aeroplane str,600.0
41,firwall developer,devops,newyork,50000.0,baker st newjersey,NaN
42,python tutor,edu,france,20000.0,"paris,eiffel tower",600.0
43,gardner,Agri cultural,umbrella,4000.0,drawing street,NaN
44,lawn maintenance,Decoration,alaska,39000.0,slaugter street,NaN
45,data engineer,data processes,sony,5000.0,info street,900.0
46,musician,music,sony,5000.0,info street,900.0
47,photographer,art,san franscisco,9000.0,art street,1200.0
48,docker expert,cloud computing,ontorio,65000.0,"WTC angeles tower, paris",370.0
49,driver,car,toronto,65000.0,"WTC angeles tower, canada",370.0

In [60]:
df = pd.read_csv("employee.csv")
#df.mean()  # only if the each col is numeric it will work

In [61]:
df[["exp", "salary"]].mean()

exp          4.857143
salary    4714.285714
dtype: float64

In [62]:
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female

In [72]:
df.groupby('city').sum()  # Group data by column 'A' and sum

                   name  salary   exp  age              Gender
city
 dc                 doe  4000.0   5.0   25              Female
 paris           robert  8000.0   6.0   27                Male
losvegas  johnjohnevans  9000.0  12.0  129  MaleMaleFemaleMale
newyork           chris  9000.0   7.0   24              Female

In [73]:
df.groupby('city').sum()  # Group data by column 'A' and sum

                   name  salary   exp  age              Gender
city
 dc                 doe  4000.0   5.0   25              Female
 paris           robert  8000.0   6.0   27                Male
losvegas  johnjohnevans  9000.0  12.0  129  MaleMaleFemaleMale
newyork           chris  9000.0   7.0   24              Female

In [74]:
df.groupby('city').sum(["exp"])  # Group data by column 'A' and sum

          salary   exp  age
city
 dc       4000.0   5.0   25
 paris    8000.0   6.0   27
losvegas  9000.0  12.0  129
newyork   9000.0   7.0   24

In [1]:
import pandas as pd
df1 = pd.DataFrame({'A': [1, 2, 3]})
df2 = pd.DataFrame({'B': [4, 5, 6]})
print(df1)
print(df2)
result = pd.concat([df1, df2], axis=1)  # row based adding
result

   A
0  1
1  2
2  3
   B
0  4
1  5
2  6

   A  B
0  1  4
1  2  5
2  3  6

In [2]:
df1 = pd.DataFrame({'A': [1, 2, 3]})
df2 = pd.DataFrame({'B': [4, 5, 6]})
print(df1)
print(df2)
result = pd.concat([df1, df2], axis=0)  # column based adding
result

   A
0  1
1  2
2  3
   B
0  4
1  5
2  6

     A    B
0  1.0  NaN
1  2.0  NaN
2  3.0  NaN
0  NaN  4.0
1  NaN  5.0
2  NaN  6.0

In [3]:
left = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
right = pd.DataFrame({'key': ['A', 'B', 'D'], 'value': [4, 5, 6]})
print(left)
print(right)
merged = pd.merge(left, right, on='key', how='inner')
merged

  key  value
0   A      1
1   B      2
2   C      3
  key  value
0   A      4
1   B      5
2   D      6

  key  value_x  value_y
0   A        1        4
1   B        2        5

In [4]:
left = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
right = pd.DataFrame({'key': ['A', 'B', 'D'], 'value': [4, 5, 6]})
print(left)
print(right)
merged = pd.merge(left, right, on='key', how='outer')
merged

  key  value
0   A      1
1   B      2
2   C      3
  key  value
0   A      4
1   B      5
2   D      6

  key  value_x  value_y
0   A      1.0      4.0
1   B      2.0      5.0
2   C      3.0      NaN
3   D      NaN      6.0

In [5]:
left = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
right = pd.DataFrame({'key': ['A', 'B', 'D'], 'value': [4, 5, 6]})
print(left)
print(right)
merged = pd.merge(left, right, on='key', how='left')
merged

  key  value
0   A      1
1   B      2
2   C      3
  key  value
0   A      4
1   B      5
2   D      6

  key  value_x  value_y
0   A        1      4.0
1   B        2      5.0
2   C        3      NaN

In [6]:
left = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
right = pd.DataFrame({'key': ['A', 'B', 'D'], 'value': [4, 5, 6]})
print(left)
print(right)
merged = pd.merge(left, right, on='key', how='right')
merged

  key  value
0   A      1
1   B      2
2   C      3
  key  value
0   A      4
1   B      5
2   D      6

  key  value_x  value_y
0   A      1.0        4
1   B      2.0        5
2   D      NaN        6

In [7]:
df = pd.read_csv('employee.csv')
df["Date"] = "2024/08/12"
df

     name  salary  exp      city  age  Gender        Date
0    john  3000.0  4.0  losvegas   30    Male  2024/08/12
1     doe  4000.0  5.0        dc   25  Female  2024/08/12
2  robert  8000.0  6.0     paris   27    Male  2024/08/12
3   chris  9000.0  7.0   newyork   24  Female  2024/08/12
4     NaN  3000.0  NaN  losvegas   35    Male  2024/08/12
5    john  3000.0  4.0  losvegas   33  Female  2024/08/12
6   evans     NaN  4.0  losvegas   31    Male  2024/08/12
7     tom  3000.0  4.0       NaN   37  Female  2024/08/12

In [8]:
df['Date'] = pd.to_datetime(df['Date'])

df

     name  salary  exp      city  age  Gender       Date
0    john  3000.0  4.0  losvegas   30    Male 2024-08-12
1     doe  4000.0  5.0        dc   25  Female 2024-08-12
2  robert  8000.0  6.0     paris   27    Male 2024-08-12
3   chris  9000.0  7.0   newyork   24  Female 2024-08-12
4     NaN  3000.0  NaN  losvegas   35    Male 2024-08-12
5    john  3000.0  4.0  losvegas   33  Female 2024-08-12
6   evans     NaN  4.0  losvegas   31    Male 2024-08-12
7     tom  3000.0  4.0       NaN   37  Female 2024-08-12

In [9]:
df["Date+1"] = df['Date'] + pd.Timedelta(days=5)  # Add 1 day to each date
df

     name  salary  exp      city  age  Gender       Date     Date+1
0    john  3000.0  4.0  losvegas   30    Male 2024-08-12 2024-08-17
1     doe  4000.0  5.0        dc   25  Female 2024-08-12 2024-08-17
2  robert  8000.0  6.0     paris   27    Male 2024-08-12 2024-08-17
3   chris  9000.0  7.0   newyork   24  Female 2024-08-12 2024-08-17
4     NaN  3000.0  NaN  losvegas   35    Male 2024-08-12 2024-08-17
5    john  3000.0  4.0  losvegas   33  Female 2024-08-12 2024-08-17
6   evans     NaN  4.0  losvegas   31    Male 2024-08-12 2024-08-17
7     tom  3000.0  4.0       NaN   37  Female 2024-08-12 2024-08-17

In [10]:
df = pd.read_csv("employee.csv")
df[["exp", "salary"]].corr() ## Compute pairwise correlation of columns

             exp    salary
exp     1.000000  0.975017
salary  0.975017  1.000000

In [11]:
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female

In [12]:
#df.pivot_table(values='value', index='category', columns='date', aggfunc='sum')
df.set_index('name', inplace=True)  # Set column A as the index
df

        salary  exp      city  age  Gender
name
john    3000.0  4.0  losvegas   30    Male
doe     4000.0  5.0        dc   25  Female
robert  8000.0  6.0     paris   27    Male
chris   9000.0  7.0   newyork   24  Female
NaN     3000.0  NaN  losvegas   35    Male
john    3000.0  4.0  losvegas   33  Female
evans      NaN  4.0  losvegas   31    Male
tom     3000.0  4.0       NaN   37  Female

In [13]:

df = pd.read_csv("employee.csv")
df = df.set_index(['name', 'city'])  # Set multiple columns as index
df

                 salary  exp  age  Gender
name   city
john   losvegas  3000.0  4.0   30    Male
doe     dc       4000.0  5.0   25  Female
robert  paris    8000.0  6.0   27    Male
chris  newyork   9000.0  7.0   24  Female
NaN    losvegas  3000.0  NaN   35    Male
john   losvegas  3000.0  4.0   33  Female
evans  losvegas     NaN  4.0   31    Male
tom    NaN       3000.0  4.0   37  Female

In [14]:
df.reset_index(inplace=True)  # Reset index to default integer index
df

     name      city  salary  exp  age  Gender
0    john  losvegas  3000.0  4.0   30    Male
1     doe        dc  4000.0  5.0   25  Female
2  robert     paris  8000.0  6.0   27    Male
3   chris   newyork  9000.0  7.0   24  Female
4     NaN  losvegas  3000.0  NaN   35    Male
5    john  losvegas  3000.0  4.0   33  Female
6   evans  losvegas     NaN  4.0   31    Male
7     tom       NaN  3000.0  4.0   37  Female

In [15]:
df.query('exp > 1 & salary < 5000')  # Similar to SQL-like queries

   name      city  salary  exp  age  Gender
0  john  losvegas  3000.0  4.0   30    Male
1   doe        dc  4000.0  5.0   25  Female
5  john  losvegas  3000.0  4.0   33  Female
7   tom       NaN  3000.0  4.0   37  Female

In [16]:

df = pd.read_csv("employee.csv")
df = df.dropna() # cannot do the following operations with nan values
df[df['name'].str.contains('jo')]  # Filter rows where column 'A' contains 'abc'

   name  salary  exp      city  age  Gender
0  john  3000.0  4.0  losvegas   30    Male
5  john  3000.0  4.0  losvegas   33  Female

In [91]:
df.groupby(['name', 'city']).sum()  # Group by columns A and B, and sum other columns

                 salary  exp  age      Gender
name   city
chris  newyork   9000.0  7.0   24      Female
doe     dc       4000.0  5.0   25      Female
john   losvegas  6000.0  8.0   63  MaleFemale
robert  paris    8000.0  6.0   27        Male

In [18]:
import pandas as pd

# Input DataFrame
data = {
    "city": [
        "Jacksonville", "Jacksonville", "Jacksonville", "Jacksonville", "Jacksonville",
        "ElPaso", "ElPaso", "ElPaso", "ElPaso", "ElPaso"
    ],
    "month": ["January", "February", "March", "April", "May", 
              "January", "February", "March", "April", "May"],
    "temperature": [13, 23, 38, 5, 34, 20, 6, 26, 2, 43]
}

df = pd.DataFrame(data)

print(df)
# Pivot the data
pivoted_df = df.pivot(index="month", columns="city", values="temperature")

# Reset the index if needed and sort the rows by month
pivoted_df = pivoted_df.reset_index().sort_values(by="month")

# Display the result
pivoted_df

           city     month  temperature
0  Jacksonville   January           13
1  Jacksonville  February           23
2  Jacksonville     March           38
3  Jacksonville     April            5
4  Jacksonville       May           34
5        ElPaso   January           20
6        ElPaso  February            6
7        ElPaso     March           26
8        ElPaso     April            2
9        ElPaso       May           43

city     month  ElPaso  Jacksonville
0        April       2             5
1     February       6            23
2      January      20            13
3        March      26            38
4          May      43            34

In [24]:
import pandas as pd

def pivot_temperature_data(data):
    """
    Pivot the data so that each row represents temperatures for a specific month,
    and each city is a separate column.
    
    Args:
        data (dict): Dictionary containing the city, month, and temperature information.
    
    Returns:
        pd.DataFrame: A DataFrame with months as rows and cities as columns.
    """
    # Convert the data into a DataFrame
    df = pd.DataFrame(data)
    
    # Pivot the data
    pivoted_df = df.pivot(index="month", columns="city", values="temperature")
    
    # Reset the index and sort rows by month
    pivoted_df = pivoted_df.reset_index().sort_values(by="month")
    
    return pivoted_df

# Input data
data = {
    "city": [
        "Jacksonville", "Jacksonville", "Jacksonville", "Jacksonville", "Jacksonville",
        "ElPaso", "ElPaso", "ElPaso", "ElPaso", "ElPaso"
    ],
    "month": ["January", "February", "March", "April", "May", 
              "January", "February", "March", "April", "May"],
    "temperature": [13, 23, 38, 5, 34, 20, 6, 26, 2, 43]
}

# Call the function
result = pivot_temperature_data(data)

# Display the result
print(result)

city     month  ElPaso  Jacksonville
0        April       2             5
1     February       6            23
2      January      20            13
3        March      26            38
4          May      43            34