In [2]:
# print("python")
print("Large language models")

Large language models

In [3]:
# print is a built in function of python which returns the result in our output console
print(4+5)

9

In [4]:
print(8 +2) # adding the given two values

10

In [5]:
apple = 90
print(apple)

90

In [6]:
2orange = 90

SyntaxError: invalid decimal literal (3766479601.py, line 1)

In [8]:
a2b = 90
print(a2b)

90

In [9]:
@kiwi = 50

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1125981234.py, line 1)

In [10]:
bana$na = 34

SyntaxError: invalid syntax (1534349550.py, line 1)

In [11]:
else = 23

SyntaxError: invalid syntax (3065146816.py, line 1)

In [13]:
Jack_Fruit = 12

In [15]:
print(Jack_Fruit)

12

In [16]:
Grapes = 34
print(grapes)

NameError: name 'grapes' is not defined

In [17]:
# when we create a data type in python it will stored in one time

a = 33
b = 33
print(id(a))
print(id(b))

140705768007464
140705768007464

In [19]:
a = 5
a

5

In [20]:
b = 0b101
b

5

In [21]:
c = 0o5
c

5

In [22]:
d = 0x5
d

5

In [26]:
a = 'python'
b = "56"
print(a)

SyntaxError: unterminated string literal (detected at line 1) (1216815767.py, line 1)

'56'

In [25]:
c = """ hello world """
c

' hello world '

In [27]:
d = """
the python is a
high levle programming 
lanugage
interpretted 
platform indepented
"""

print(d)

the python is a
high levle programming
lanugage
interpretted
platform indepented